In [181]:
import pandas as pd
df = pd.read_csv('../data/survey_results_public.csv')
df_schema = pd.read_csv('../data/survey_results_schema.csv')

In [182]:
df.head(4)

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
1,2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
3,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy

In [231]:
df['Country'].count()

np.int64(88751)

In [183]:
df['ConvertedComp']

0            NaN
1            NaN
2         8820.0
3        61000.0
4            NaN
          ...
88878        NaN
88879        NaN
88880        NaN
88881        NaN
88882        NaN
Name: ConvertedComp, Length: 88883, dtype: float64

In [184]:
df['ConvertedComp'].median()

np.float64(57287.0)

In [185]:
df.describe()

,Respondent,CompTotal,ConvertedComp,WorkWeekHrs,CodeRevHrs,Age
count,88883.000000,5.594500e+04,5.582300e+04,64503.000000,49790.000000,79210.000000
mean,44442.000000,5.519014e+11,1.271107e+05,42.127197,5.084308,30.336699
std,25658.456325,7.331926e+13,2.841523e+05,37.287610,5.513931,9.178390
min,1.000000,0.000000e+00,0.000000e+00,1.000000,0.000000,1.000000
25%,22221.500000,2.000000e+04,2.577750e+04,40.000000,2.000000,24.000000
50%,44442.000000,6.200000e+04,5.728700e+04,40.000000,4.000000,29.000000
75%,66662.500000,1.200000e+05,1.000000e+05,44.750000,6.000000,35.000000
max,88883.000000,1.000000e+16,2.000000e+06,4850.000000,99.000000,99.000000

In [186]:
df.describe()['ConvertedComp']['50%'] #50% in median

np.float64(57287.0)

In [187]:
df['Hobbyist']

0        Yes
1         No
2        Yes
3         No
4        Yes
        ...
88878    Yes
88879     No
88880     No
88881     No
88882    Yes
Name: Hobbyist, Length: 88883, dtype: object

In [188]:
df['Hobbyist'].value_counts()

Hobbyist
Yes    71257
No     17626
Name: count, dtype: int64

In [189]:
df['SocialMedia']

0          Twitter
1        Instagram
2           Reddit
3           Reddit
4         Facebook
           ...
88878      YouTube
88879          NaN
88880          NaN
88881          NaN
88882     WhatsApp
Name: SocialMedia, Length: 88883, dtype: object

In [190]:
df['SocialMedia'].value_counts()

SocialMedia
Reddit                      14374
YouTube                     13830
WhatsApp                    13347
Facebook                    13178
Twitter                     11398
Instagram                    6261
I don't use social media     5554
LinkedIn                     4501
WeChat 微信                     667
Snapchat                      628
VK ВКонта́кте                 603
Weibo 新浪微博                     56
Youku Tudou 优酷                 21
Hello                          19
Name: count, dtype: int64

In [191]:
df['SocialMedia'].value_counts(normalize = True)

SocialMedia
Reddit                      0.170233
YouTube                     0.163791
WhatsApp                    0.158071
Facebook                    0.156069
Twitter                     0.134988
Instagram                   0.074150
I don't use social media    0.065777
LinkedIn                    0.053306
WeChat 微信                   0.007899
Snapchat                    0.007437
VK ВКонта́кте               0.007141
Weibo 新浪微博                  0.000663
Youku Tudou 优酷              0.000249
Hello                       0.000225
Name: proportion, dtype: float64

In [230]:
df['Country'].value_counts()

Country
United States        20949
India                 9061
Germany               5866
United Kingdom        5737
Canada                3395
                     ...
Tonga                    1
Timor-Leste              1
North Korea              1
Brunei Darussalam        1
Chad                     1
Name: count, Length: 179, dtype: int64

## Grouping

In [228]:
country_group = df.groupby(['Country']) #this return an object i.e of each country. we can also make w r t social media etc

In [229]:
country_group.get_group('India')

C:\Users\dell\AppData\Local\Temp\ipykernel_4392\2721128712.py:1: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  country_group.get_group('India')

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
7,8,I code primarily as a hobby,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...","Not employed, but looking for work",India,NaN,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,A lot more welcome now than last year,Tech articles written by other developers;Indu...,24.0,Man,No,Straight / Heterosexual,NaN,NaN,Appropriate in length,Neither easy nor difficult
9,10,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,India,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",NaN,...,Somewhat less welcome now than last year,Tech articles written by other developers;Tech...,NaN,NaN,NaN,NaN,NaN,Yes,Too long,Difficult
14,15,I am a student who is learning to code,Yes,Never,"OSS is, on average, of HIGHER quality than pro...","Not employed, but looking for work",India,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,20.0,Man,No,NaN,NaN,Yes,Too long,Neither easy nor difficult
49,50,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of LOWER quality than prop...",Employed full-time,India,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Another engineering discipline (ex. civil, ele...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Tech...,23.0,Man,No,NaN,South Asian,No,Too long,Easy
64,65,I am a developer by profession,Yes,Never,NaN,Employed full-time,India,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Information systems, information technology, o...",...,A lot more welcome now than last year,NaN,21.0,Man,No,NaN,NaN,Yes,Appropriate in length,Neither easy nor difficult
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88808,77339,NaN,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,India,"Yes, full-time","Bachelor’s degree (BA, BS, B.Eng., etc.)","Another engineering discipline (ex. civil, ele...",...,Not applicable - I did not use Stack Overflow ...,Tech articles written by other developers;Indu...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88825,79795,NaN,Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,India,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Somewhat more welcome now than last year,Tech meetups or events in your area;Courses on...,NaN,Man,No,Straight / Heterosexual,NaN,No,Too long,Difficult
88852,83862,NaN,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,India,"Yes, full-time","Bachelor’s degree (BA, BS, B.Eng., etc.)",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,24.0,Man,No,Straight / Heterosexual,NaN,Yes,Too long,Neither easy nor difficult
88853,84299,NaN,Yes,Never,The quality of OSS and closed source software ...,Employed full-time,India,"Yes, full-time","Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,...,Somewhat more welcome now than last year,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88864,86012,NaN,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,India,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Another engineering discipline (ex. civil, ele...",...,Not applicable - I did not use Stack Overflow ...,Industry news about technologies you're intere...,24.0,Man,No,NaN,South Asian,NaN,Appropriate in length,Easy

In [196]:
# By using filter of previous tutoria
filt = (df['Country'] == 'China')
filt

0        False
1        False
2        False
3        False
4        False
         ...
88878    False
88879    False
88880    False
88881    False
88882    False
Name: Country, Length: 88883, dtype: bool

In [197]:
df.loc[filt]

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
55,56,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,China,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Information systems, information technology, o...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,33.0,Man,No,Straight / Heterosexual,East Asian,Yes,Appropriate in length,Easy
85,86,"I am not primarily a developer, but I write co...",Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,China,No,Some college/university study without earning ...,"Information systems, information technology, o...",...,Somewhat more welcome now than last year,Tech articles written by other developers;Indu...,26.0,Woman,No,Straight / Heterosexual,NaN,Yes,Too long,Neither easy nor difficult
202,204,I am a student who is learning to code,Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...","Not employed, and not looking for work",China,No,NaN,Mathematics or statistics,...,Not applicable - I did not use Stack Overflow ...,Tech articles written by other developers;Indu...,12.0,Man,No,NaN,East Asian;Biracial;Multiracial,No,Appropriate in length,Neither easy nor difficult
572,575,I am a developer by profession,Yes,Less than once a month but more than once per ...,"OSS is, on average, of LOWER quality than prop...",Employed full-time,China,"Yes, full-time","Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,28.0,Man,No,Straight / Heterosexual,East Asian,NaN,Too long,Easy
838,841,I am a developer by profession,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,"Independent contractor, freelancer, or self-em...",China,No,Some college/university study without earning ...,"Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,NaN,35.0,Man,No,Straight / Heterosexual,White or of European descent,No,Too long,Easy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88581,40640,NaN,No,Less than once per year,The quality of OSS and closed source software ...,Employed full-time,China,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,NaN,Man,NaN,NaN,East Asian,NaN,NaN,NaN
88639,47866,NaN,No,Once a month or more often,"OSS is, on average, of LOWER quality than prop...",Employed full-time,China,"Yes, full-time",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88713,60207,NaN,Yes,Less than once a month but more than once per ...,NaN,Employed full-time,China,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Another engineering discipline (ex. civil, ele...",...,NaN,Tech articles written by other developers;Tech...,NaN,Man,NaN,NaN,East Asian,NaN,Appropriate in length,Easy
88803,75842,NaN,Yes,Less than once per year,"OSS is, on average, of LOWER quality than prop...",Employed full-time,China,"Yes, full-time","Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,27.0,Man,No,NaN,NaN,NaN,Too long,Neither easy nor difficult
88839,82134,NaN,Yes,Never,NaN,NaN,China,No,I never completed any formal education,NaN,...,NaN,NaN,NaN,Man,No,NaN,NaN,NaN,NaN,NaN

In [80]:
df.loc[filt]['SocialMedia']

55         YouTube
85       WeChat 微信
202            NaN
572      WeChat 微信
838      WeChat 微信
           ...
88581    WeChat 微信
88639    WeChat 微信
88713    WeChat 微信
88803    WeChat 微信
88839    WeChat 微信
Name: SocialMedia, Length: 664, dtype: object

In [198]:

df.loc[filt]['SocialMedia'].value_counts()

SocialMedia
WeChat 微信                   403
YouTube                      53
Weibo 新浪微博                   42
I don't use social media     27
Twitter                      27
Reddit                       12
LinkedIn                     11
Facebook                      8
Instagram                     7
Youku Tudou 优酷                7
WhatsApp                      3
VK ВКонта́кте                 1
Name: count, dtype: int64

In [199]:
df.loc[filt]['SocialMedia'].value_counts().WhatsApp

np.int64(3)

In [200]:
df.loc[filt]['SocialMedia'].value_counts(normalize=True)

SocialMedia
WeChat 微信                   0.670549
YouTube                     0.088186
Weibo 新浪微博                  0.069884
I don't use social media    0.044925
Twitter                     0.044925
Reddit                      0.019967
LinkedIn                    0.018303
Facebook                    0.013311
Instagram                   0.011647
Youku Tudou 优酷              0.011647
WhatsApp                    0.004992
VK ВКонта́кте               0.001664
Name: proportion, dtype: float64

## now using group-by

In [232]:
country_group = df.groupby(['Country'])

In [237]:
len(country_group)

179

In [238]:
country_group['SocialMedia'] #of no use. we apply some fnction

In [239]:
country_group['SocialMedia'].value_counts(normalize=True)

Country      SocialMedia
Afghanistan  Facebook                    0.405405
             YouTube                     0.243243
             I don't use social media    0.162162
             WhatsApp                    0.108108
             Instagram                   0.027027
                                           ...
Zimbabwe     Facebook                    0.076923
             YouTube                     0.076923
             Instagram                   0.051282
             LinkedIn                    0.051282
             Reddit                      0.025641
Name: proportion, Length: 1220, dtype: float64

In [240]:
country_group['SocialMedia'].value_counts(normalize=True).loc['China'] #As country is index of group

SocialMedia
WeChat 微信                   0.670549
YouTube                     0.088186
Weibo 新浪微博                  0.069884
I don't use social media    0.044925
Twitter                     0.044925
Reddit                      0.019967
LinkedIn                    0.018303
Facebook                    0.013311
Instagram                   0.011647
Youku Tudou 优酷              0.011647
WhatsApp                    0.004992
VK ВКонта́кте               0.001664
Name: proportion, dtype: float64

In [241]:

country_group['ConvertedComp'].median()

Country
Afghanistan                               6222.0
Albania                                  10818.0
Algeria                                   7878.0
Andorra                                 160931.0
Angola                                    7764.0
                                          ...
Venezuela, Bolivarian Republic of...      6384.0
Viet Nam                                 11892.0
Yemen                                    11940.0
Zambia                                    5040.0
Zimbabwe                                 19200.0
Name: ConvertedComp, Length: 179, dtype: float64

In [242]:
country_group['ConvertedComp'].median().loc['China']

np.float64(28464.0)

In [243]:
country_group['ConvertedComp'].agg(['median' , 'mean']).loc['China']

median    28464.000000
mean      57430.421053
Name: China, dtype: float64

In [256]:
filt = df['Country'] == 'India'
df.loc[filt]['LanguageWorkedWith'].str.contains('Python').sum()

3105

In [257]:
df.loc[filt]['LanguageWorkedWith'].str.contains('Python').value_counts()

LanguageWorkedWith
False    5739
True     3105
Name: count, dtype: int64

In [258]:
df.loc[filt]['LanguageWorkedWith'].str.contains('Python').value_counts().sum()

np.int64(8844)

In [259]:
# by using aggregate
country_group = df.groupby('Country')
country_group['LanguageWorkedWith'].value_counts()

Country      LanguageWorkedWith
Afghanistan  HTML/CSS;JavaScript;PHP;SQL                3
             HTML/CSS;Java;JavaScript;PHP;Python;SQL    2
             HTML/CSS;Java;PHP;SQL                      2
             Python                                     2
             Assembly                                   1
                                                       ..
Zimbabwe     HTML/CSS;Python;SQL                        1
             Java;JavaScript;Kotlin;Python              1
             Java;JavaScript;SQL                        1
             Objective-C                                1
             Python                                     1
Name: count, Length: 48114, dtype: int64

In [260]:
country_group['LanguageWorkedWith'].str.contains('Python').sum() 
# it ll give error as group_by return series so no able to apply string function so we use apply for each entity of series or column

AttributeError: 'SeriesGroupBy' object has no attribute 'str'

In [222]:
country_group['LanguageWorkedWith'].apply(lambda x: x.str.contains('Python').sum())
#country_group['LanguageWorkedWith'].apply(lambda x: x.str.contains('Python').sum()).loc['China']

Country
Afghanistan                              8
Albania                                 23
Algeria                                 40
Andorra                                  0
Angola                                   2
                                        ..
Venezuela, Bolivarian Republic of...    28
Viet Nam                                78
Yemen                                    3
Zambia                                   4
Zimbabwe                                14
Name: LanguageWorkedWith, Length: 179, dtype: int64

In [223]:
#Practice of ratio of peapole having pytohn in each country
country_respondatn = df['Country'].value_counts()
country_respondatn

Country
United States        20949
India                 9061
Germany               5866
United Kingdom        5737
Canada                3395
                     ...
Tonga                    1
Timor-Leste              1
North Korea              1
Brunei Darussalam        1
Chad                     1
Name: count, Length: 179, dtype: int64

In [154]:
country_group = df.groupby(['Country'])
country_respondant_with_python = country_group['LanguageWorkedWith'].apply(lambda x: x.str.contains('Python').sum())
country_respondant_with_python

Country
Afghanistan                              8
Albania                                 23
Algeria                                 40
Andorra                                  0
Angola                                   2
                                        ..
Venezuela, Bolivarian Republic of...    28
Viet Nam                                78
Yemen                                    3
Zambia                                   4
Zimbabwe                                14
Name: LanguageWorkedWith, Length: 179, dtype: int64

In [171]:
python_df = pd.concat([country_respondatn , country_respondant_with_python], axis='columns', sort =False)
python_df

                   count  LanguageWorkedWith
Country
United States      20949               10083
India               9061                3105
Germany             5866                2451
United Kingdom      5737                2384
Canada              3395                1558
...                  ...                 ...
Tonga                  1                   0
Timor-Leste            1                   1
North Korea            1                   0
Brunei Darussalam      1                   0
Chad                   1                   0

[179 rows x 2 columns]

In [174]:
python_df.rename(columns={'count': 'NumRespondents', 'LanguageWorkedWith': 'NumKnowsPython'}, inplace=True)
python_df

                   NumRespondents  NumKnowsPython
Country
United States               20949           10083
India                        9061            3105
Germany                      5866            2451
United Kingdom               5737            2384
Canada                       3395            1558
...                           ...             ...
Tonga                           1               0
Timor-Leste                     1               1
North Korea                     1               0
Brunei Darussalam               1               0
Chad                            1               0

[179 rows x 2 columns]

In [175]:
python_df['NumRespondents']

Country
United States        20949
India                 9061
Germany               5866
United Kingdom        5737
Canada                3395
                     ...
Tonga                    1
Timor-Leste              1
North Korea              1
Brunei Darussalam        1
Chad                     1
Name: NumRespondents, Length: 179, dtype: int64

In [177]:
python_df['PctKnowsPython'] = (python_df['NumKnowsPython']/python_df['NumRespondents'])* 100
python_df

                   NumRespondents  NumKnowsPython  PctKnowsPython
Country
United States               20949           10083       48.131176
India                        9061            3105       34.267741
Germany                      5866            2451       41.783157
United Kingdom               5737            2384       41.554820
Canada                       3395            1558       45.891016
...                           ...             ...             ...
Tonga                           1               0        0.000000
Timor-Leste                     1               1      100.000000
North Korea                     1               0        0.000000
Brunei Darussalam               1               0        0.000000
Chad                            1               0        0.000000

[179 rows x 3 columns]

In [179]:

python_df.sort_values(by='PctKnowsPython', ascending=False, inplace=True)
python_df

                       NumRespondents  NumKnowsPython  PctKnowsPython
Country
Sao Tome and Principe               1               1      100.000000
Niger                               1               1      100.000000
Timor-Leste                         1               1      100.000000
Dominica                            1               1      100.000000
Turkmenistan                        7               6       85.714286
...                               ...             ...             ...
North Korea                         1               0        0.000000
Brunei Darussalam                   1               0        0.000000
Djibouti                            2               0        0.000000
Gabon                               2               0        0.000000
Chad                                1               0        0.000000

[179 rows x 3 columns]

In [180]:

python_df.loc['Japan']

NumRespondents    391.000000
NumKnowsPython    182.000000
PctKnowsPython     46.547315
Name: Japan, dtype: float64