<a href="https://colab.research.google.com/github/fasthill/My-gist/blob/main/pandas/Pandas_groupby.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

from urllib.request import urlretrieve
import zipfile

In [2]:
urlretrieve("https://raw.githubusercontent.com/fasthill/My-gist/main/data/Stack_Overflow_Developer_Survey_Results_2019/survey_results_public.zip", 'survey_results_public.zip') 
# 현재 폴더에 'survey_results_public.zip'로 저장
zipfile.ZipFile('survey_results_public.zip', 'r').extractall()
# 현재 폴더에 'survey_results_public.csv'로 unzip

In [3]:
public_df = pd.read_csv('survey_results_public.csv')
schema_df = pd.read_csv('https://raw.githubusercontent.com/fasthill/My-gist/main/data/Stack_Overflow_Developer_Survey_Results_2019/survey_results_schema.csv')

In [4]:
pd.set_option('display.max_columns', 0) # 최대로 보이는 column수, 0 default
pd.set_option('display.max_rows', 0) # 최대로 보이는 row 수

In [5]:
public_df.head(2)

   Respondent  ...                  SurveyEase
0           1  ...  Neither easy nor difficult
1           2  ...  Neither easy nor difficult

[2 rows x 85 columns]

In [6]:
public_df.shape

(88883, 85)

Split -> Apply -> Combine

In [7]:
public_df.columns.isin(['Country']).any()  # [] 형식으로 입력 필요, 'Country' column 항목 확인

True

In [8]:
public_df['Country'].head()  # Country 명 확인

0            United Kingdom
1    Bosnia and Herzegovina
2                  Thailand
3             United States
4                   Ukraine
Name: Country, dtype: object

In [9]:
country_grp = public_df.groupby(by=['Country'])  # Country로 그룹

In [10]:
country_grp  # Groupby object

In [11]:
country_dict = country_grp.groups # .groups makes dict. can notice the groupby format

In [12]:
country_dict.keys()

dict_keys(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Brunei Darussalam', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde', 'Chad', 'Chile', 'China', 'Colombia', 'Congo, Republic of the...', 'Costa Rica', 'Croatia', 'Cuba', 'Cyprus', 'Czech Republic', "Côte d'Ivoire", "Democratic People's Republic of Korea", 'Democratic Republic of the Congo', 'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador', 'Estonia', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Guatemala', 'Guinea', 'Guyana', 'Haiti', 'Honduras', 'Hong Kong (S.A.R.)', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kuwait', 'Kyrgyzstan', "Lao People's Democratic Republic", 'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libyan Arab Jamahiriya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Mauritania', 'Mauritius', 'Mexico', 'Monaco', 'Mongolia', 'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'North Korea', 'Norway', 'Oman', 'Other Country (Not Listed Above)', 'Pakistan', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Republic of Korea', 'Republic of Moldova', 'Romania', 'Russian Federation', 'Rwanda', 'Saint Kitts and Nevis', 'Saint Vincent and the Grenadines', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'Somalia', 'South Africa', 'South Korea', 'Spain', 'Sri Lanka', 'Sudan', 'Swaziland', 'Sweden', 'Switzerland', 'Syrian Arab Republic', 'Taiwan', 'Tajikistan', 'Thailand', 'The former Yugoslav Republic of Macedonia', 'Timor-Leste', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'United Republic of Tanzania', 'United States', 'Uruguay', 'Uzbekistan', 'Venezuela, Bolivarian Republic of...', 'Viet Nam', 'Yemen', 'Zambia', 'Zimbabwe'])

In [13]:
country_dict['Afghanistan'] # index in which AfAfghanistan is included. compare to below

Int64Index([  719,  6391,  7056,  7323,  8112, 10697, 12253, 22327, 26189,
            28470, 28877, 29560, 32971, 37571, 39018, 39754, 42832, 44123,
            45562, 46807, 48122, 49377, 50172, 50437, 51525, 58082, 58390,
            59184, 60185, 60559, 61770, 62124, 62723, 73920, 80423, 85185,
            85293, 85827, 86394, 86551, 88033, 88181, 88340, 88735],
           dtype='int64')

In [14]:
public_df[public_df['Country']=='Afghanistan'].head(3)

      Respondent  ...                  SurveyEase
719          722  ...                   Difficult
6391        6417  ...  Neither easy nor difficult
7056        7085  ...  Neither easy nor difficult

[3 rows x 85 columns]

In [15]:
country_grp.describe().head(3)

            Respondent                              ...   Age
                 count          mean           std  ...   50%   75%   max
Country                                             ...
Afghanistan       44.0  47441.431818  26547.217894  ...  25.0  26.0  85.0
Albania           86.0  41695.546512  24199.484198  ...  24.0  27.0  40.0
Algeria          134.0  43010.126866  25308.029814  ...  25.0  30.0  63.0

[3 rows x 48 columns]

In [16]:
country_grp.get_group('United States').shape

(20949, 85)

In [17]:
country_grp.get_group('Korea')

KeyError: ignored

In [18]:
public_df[public_df['Country'].str.contains('orea', na=False)].head(2) # NaN이 존재하는 경우 False로 치환

     Respondent  ...                  SurveyEase
111         112  ...  Neither easy nor difficult
526         528  ...  Neither easy nor difficult

[2 rows x 85 columns]

In [19]:
country_grp.get_group('South Korea').head(2)

     Respondent  ...                  SurveyEase
111         112  ...  Neither easy nor difficult
526         528  ...  Neither easy nor difficult

[2 rows x 85 columns]

In [20]:
public_df[public_df['Country']=='South Korea'].head(2) # 위의 결과와 동일

     Respondent  ...                  SurveyEase
111         112  ...  Neither easy nor difficult
526         528  ...  Neither easy nor difficult

[2 rows x 85 columns]

In [21]:
country_grp['SocialMedia'].value_counts().head(10)  # 그룹된 Country를 기준으로 각 column 값들을 집계할 수 있음.

Country      SocialMedia
Afghanistan  Facebook                    15
             YouTube                      9
             I don't use social media     6
             WhatsApp                     4
             Instagram                    1
             LinkedIn                     1
             Twitter                      1
Albania      WhatsApp                    18
             Facebook                    16
             Instagram                   13
Name: SocialMedia, dtype: int64

In [22]:
country_grp['SocialMedia'].value_counts().index.names  # groupby Country와 선택된 column이 series의 index로 지정됨.

FrozenList(['Country', 'SocialMedia'])

In [23]:
country_grp['SocialMedia'].value_counts().loc['India'] # Country index에서 india 선택

SocialMedia
WhatsApp                    2990
YouTube                     1820
LinkedIn                     955
Facebook                     841
Instagram                    822
Twitter                      542
Reddit                       473
I don't use social media     250
Snapchat                      23
Hello                          5
WeChat 微信                      5
VK ВКонта́кте                  4
Youku Tudou 优酷                 2
Weibo 新浪微博                     1
Name: SocialMedia, dtype: int64

In [24]:
country_grp['SocialMedia'].value_counts().loc['India'].loc['YouTube'] # Country index에서 india, SocialMedia에서 Youtube 선택

1820

In [25]:
country_grp['SocialMedia'].value_counts().loc['India', 'YouTube'] # 위와 동일

1820

In [26]:
country_grp['ConvertedComp'].median()

Country
Afghanistan                               6222.0
Albania                                  10818.0
Algeria                                   7878.0
Andorra                                 160931.0
Angola                                    7764.0
Antigua and Barbuda                          NaN
Argentina                                17760.0
Armenia                                  19692.0
Australia                                79783.0
Austria                                  51559.0
Azerbaijan                               15858.0
Bahamas                                      NaN
                                          ...
Ukraine                                  26940.0
United Arab Emirates                     49008.0
United Kingdom                           68041.0
United Republic of Tanzania               5192.0
United States                           110000.0
Uruguay                                  33850.0
Uzbekistan                                7176.0
Venezuela, Bolivarian Republic of...      6384.0
Viet Nam                                 11892.0
Yemen                                    11940.0
Zambia                                    5040.0
Zimbabwe                                 19200.0
Name: ConvertedComp, Length: 179, dtype: float64

In [27]:
country_grp['ConvertedComp'].agg(['median', 'mean'])

                                        median           mean
Country
Afghanistan                             6222.0  101953.333333
Albania                                10818.0   21833.700000
Algeria                                 7878.0   34924.047619
Andorra                               160931.0  160931.000000
Angola                                  7764.0    7764.000000
Antigua and Barbuda                        NaN            NaN
Argentina                              17760.0   29467.265306
Armenia                                19692.0   24691.733333
Australia                              79783.0  171541.116279
...                                        ...            ...
United Republic of Tanzania             5192.0   34691.117647
United States                         110000.0  249546.254589
Uruguay                                33850.0   53862.571429
Uzbekistan                              7176.0   18304.142857
Venezuela, Bolivarian Republic of...    6384.0   14581.627907
Viet Nam                               11892.0   17233.436782
Yemen                                  11940.0   16909.166667
Zambia                                  5040.0   10075.375000
Zimbabwe                               19200.0   34046.666667

[179 rows x 2 columns]

In [28]:
country_grp['ConvertedComp'].agg(['median', 'mean']).loc['South Korea']

median    40950.5
mean      79716.1
Name: South Korea, dtype: float64

In [29]:
filt = public_df["Country"] == 'India'
public_df.loc[filt]['LanguageWorkedWith'].str.contains('Python').sum()

3105

In [30]:
country_grp['LanguageWorkedWith'].value_counts()

Country      LanguageWorkedWith
Afghanistan  HTML/CSS;JavaScript;PHP;SQL                                                                                                                                  3
             HTML/CSS;Java;JavaScript;PHP;Python;SQL                                                                                                                      2
             HTML/CSS;Java;PHP;SQL                                                                                                                                        2
             Python                                                                                                                                                       2
             Assembly                                                                                                                                                     1
             Assembly;Bash/Shell/PowerShell;Go;HTML/CSS;Java;JavaScript;Kotlin;Objective-C;PHP;Python;R;Ruby;Rust;Scala;SQL;Swift;TypeScript;VBA;WebAssembly;Other(s):    1
             Assembly;Bash/Shell/PowerShell;Other(s):                                                                                                                     1
             Assembly;Bash/Shell/PowerShell;Swift                                                                                                                         1
             Assembly;C;C++;C#;Java;Kotlin;VBA                                                                                                                            1
             Assembly;C;C++;HTML/CSS;Java;PHP;SQL                                                                                                                         1
             Assembly;C;Clojure;Erlang;Java;R;Ruby;Rust;WebAssembly;Other(s):                                                                                             1
             Assembly;C;HTML/CSS;Java;JavaScript;PHP;SQL;TypeScript                                                                                                       1
                                                                                                                                                                         ..
Zimbabwe     HTML/CSS;Java;SQL                                                                                                                                            1
             HTML/CSS;JavaScript                                                                                                                                          1
             HTML/CSS;JavaScript;PHP                                                                                                                                      1
             HTML/CSS;JavaScript;PHP;Python;SQL;Swift;VBA                                                                                                                 1
             HTML/CSS;JavaScript;PHP;SQL                                                                                                                                  1
             HTML/CSS;PHP;VBA                                                                                                                                             1
             HTML/CSS;Python                                                                                                                                              1
             HTML/CSS;Python;SQL                                                                                                                                          1
             Java;JavaScript;Kotlin;Python                                                                                                                                1
             Java;JavaScript;SQL                                                                                                                                          1
             Objective-C                                                                                                                                                  1
             Python                                                                                                                                                       1
Name: LanguageWorkedWith, Length: 48114, dtype: int64

In [31]:
country_grp['LanguageWorkedWith'].str.contains('Python').sum()

AttributeError: ignored

In [32]:
country_grp['LanguageWorkedWith'].apply(lambda x : x.str.contains('Python').sum())

Country
Afghanistan                                 8
Albania                                    23
Algeria                                    40
Andorra                                     0
Angola                                      2
Antigua and Barbuda                         0
Argentina                                 191
Armenia                                    28
Australia                                 790
Austria                                   338
Azerbaijan                                 17
Bahamas                                     2
                                        ...
Ukraine                                   246
United Arab Emirates                       49
United Kingdom                           2384
United Republic of Tanzania                15
United States                           10083
Uruguay                                    36
Uzbekistan                                 14
Venezuela, Bolivarian Republic of...       28
Viet Nam                                   78
Yemen                                       3
Zambia                                      4
Zimbabwe                                   14
Name: LanguageWorkedWith, Length: 179, dtype: int64

What % of people from each country know python?

In [33]:
country_grp['Respondent'].count().loc['South Korea']

160

In [34]:
total = country_grp['LanguageWorkedWith'].count().loc['South Korea']
total

157

In [35]:
selected = country_grp['LanguageWorkedWith'].apply(lambda x : x.str.contains('Python').sum()).loc['South Korea']
selected

80

In [36]:
percentage = selected / total
percentage

0.5095541401273885

In [37]:
total = country_grp['LanguageWorkedWith'].count()
selected = country_grp['LanguageWorkedWith'].apply(lambda x : x.str.contains('Python').sum())
python_df = pd.concat([total, selected], axis=1)
python_df.columns = ['total', 'selected']
python_df

                                      total  selected
Country
Afghanistan                              39         8
Albania                                  83        23
Algeria                                 126        40
Andorra                                   7         0
Angola                                    4         2
Antigua and Barbuda                       7         0
Argentina                               547       191
Armenia                                  84        28
Australia                              1880       790
...                                     ...       ...
United Republic of Tanzania              31        15
United States                         20769     10083
Uruguay                                 111        36
Uzbekistan                               39        14
Venezuela, Bolivarian Republic of...     87        28
Viet Nam                                220        78
Yemen                                    17         3
Zambia                                   12         4
Zimbabwe                                 39        14

[179 rows x 2 columns]

In [38]:
python_df['average'] = python_df['selected']/python_df['total']
python_df

                                      total  selected   average
Country
Afghanistan                              39         8  0.205128
Albania                                  83        23  0.277108
Algeria                                 126        40  0.317460
Andorra                                   7         0  0.000000
Angola                                    4         2  0.500000
Antigua and Barbuda                       7         0  0.000000
Argentina                               547       191  0.349177
Armenia                                  84        28  0.333333
Australia                              1880       790  0.420213
...                                     ...       ...       ...
United Republic of Tanzania              31        15  0.483871
United States                         20769     10083  0.485483
Uruguay                                 111        36  0.324324
Uzbekistan                               39        14  0.358974
Venezuela, Bolivarian Republic of...     87        28  0.321839
Viet Nam                                220        78  0.354545
Yemen                                    17         3  0.176471
Zambia                                   12         4  0.333333
Zimbabwe                                 39        14  0.358974

[179 rows x 3 columns]

In [39]:
python_df.sort_values(by = ['total', 'selected'], ascending=False)

                                  total  selected   average
Country
United States                     20769     10083  0.485483
India                              8844      3105  0.351085
Germany                            5831      2451  0.420340
United Kingdom                     5690      2384  0.418981
Canada                             3365      1558  0.463001
France                             2374      1054  0.443976
Brazil                             1930       767  0.397409
Poland                             1907       751  0.393812
Australia                          1880       790  0.420213
...                                 ...       ...       ...
Brunei Darussalam                     1         0  0.000000
Chad                                  1         0  0.000000
Djibouti                              1         0  0.000000
North Korea                           1         0  0.000000
Papua New Guinea                      1         0  0.000000
Saint Kitts and Nevis                 1         0  0.000000
Saint Vincent and the Grenadines      1         0  0.000000
Tonga                                 1         0  0.000000
Liberia                               0         0       NaN

[179 rows x 3 columns]

In [40]:
public_df['Hobbyist'].value_counts()

Yes    71257
No     17626
Name: Hobbyist, dtype: int64

In [41]:
public_df['Hobbyist'].value_counts(normalize=True) # 비율

Yes    0.801694
No     0.198306
Name: Hobbyist, dtype: float64

In [2]:
train_df = pd.read_csv('https://raw.githubusercontent.com/fasthill/My-gist/main/data/titanic/train.csv')
test_df = pd.read_csv('https://raw.githubusercontent.com/fasthill/My-gist/main/data/titanic/test.csv')

In [4]:
train_df[['Pclass', 'Survived']].groupby(['Pclass']).mean().sort_values(by='Survived', ascending=False)

        Survived
Pclass
1       0.629630
2       0.472826
3       0.242363

as_index: groupby를 사용하면 기본으로 그룹 라벨이 index로 설정됨. (index : Pclass)
Pclass를 index를 사용하고 싶은 않은 경우에는 as_index=False 를 설정하여 일련번호로 대체 가능

In [5]:
train_df[['Pclass', 'Survived']].groupby(['Pclass'], as_index=False).mean().sort_values(by='Survived', ascending=False)

   Pclass  Survived
0       1  0.629630
1       2  0.472826
2       3  0.242363

In [44]:
train_df[['Sex', 'Survived']].groupby(['Sex'], as_index=False).mean().sort_values(by='Survived', ascending=False)

      Sex  Survived
0  female  0.742038
1    male  0.188908

In [45]:
train_df[['SibSp', 'Survived']].groupby(['SibSp'], as_index=False).mean().sort_values(by='Survived', ascending=False)

   SibSp  Survived
1      1  0.535885
2      2  0.464286
0      0  0.345395
3      3  0.250000
4      4  0.166667
5      5  0.000000
6      8  0.000000

In [46]:
train_df[['Parch', 'Survived']].groupby(['Parch'], as_index=False).mean().sort_values(by='Survived', ascending=False)

   Parch  Survived
3      3  0.600000
1      1  0.550847
2      2  0.500000
0      0  0.343658
5      5  0.200000
4      4  0.000000
6      6  0.000000

In [47]:
train_df[['Pclass', 'Survived']].groupby(['Pclass']).describe()

       Survived
          count      mean       std  min  25%  50%  75%  max
Pclass
1         216.0  0.629630  0.484026  0.0  0.0  1.0  1.0  1.0
2         184.0  0.472826  0.500623  0.0  0.0  0.0  1.0  1.0
3         491.0  0.242363  0.428949  0.0  0.0  0.0  0.0  1.0

In [48]:
train_df[['Pclass', 'Survived']].groupby(['Pclass']).groups  # .groups makes dict. can notice the groupby format

{1: [1, 3, 6, 11, 23, 27, 30, 31, 34, 35, 52, 54, 55, 61, 62, 64, 83, 88, 92, 96, 97, 102, 110, 118, 124, 136, 137, 139, 151, 155, 166, 168, 170, 174, 177, 185, 187, 194, 195, 209, 215, 218, 224, 230, 245, 248, 252, 256, 257, 258, 262, 263, 268, 269, 270, 273, 275, 284, 290, 291, 295, 297, 298, 299, 305, 306, 307, 309, 310, 311, 318, 319, 325, 329, 331, 332, 334, 336, 337, 339, 341, 351, 356, 366, 369, 370, 373, 375, 377, 380, 383, 390, 393, 412, 430, 434, 435, 438, 445, 447, ...], 2: [9, 15, 17, 20, 21, 33, 41, 43, 53, 56, 58, 66, 70, 72, 78, 84, 98, 99, 117, 120, 122, 123, 133, 134, 135, 144, 145, 148, 149, 150, 161, 178, 181, 183, 190, 191, 193, 199, 211, 213, 217, 219, 221, 226, 228, 232, 234, 236, 237, 238, 239, 242, 247, 249, 259, 265, 272, 277, 288, 292, 303, 308, 312, 314, 316, 317, 322, 323, 327, 340, 342, 343, 344, 345, 346, 357, 361, 385, 387, 389, 397, 398, 399, 405, 407, 413, 416, 417, 418, 426, 427, 432, 437, 439, 440, 443, 446, 450, 458, 463, ...], 3: [0, 2, 4, 5, 7, 8, 10, 12, 13, 14, 16, 18, 19, 22, 24, 25, 26, 28, 29, 32, 36, 37, 38, 39, 40, 42, 44, 45, 46, 47, 48, 49, 50, 51, 57, 59, 60, 63, 65, 67, 68, 69, 71, 73, 74, 75, 76, 77, 79, 80, 81, 82, 85, 86, 87, 89, 90, 91, 93, 94, 95, 100, 101, 103, 104, 105, 106, 107, 108, 109, 111, 112, 113, 114, 115, 116, 119, 121, 125, 126, 127, 128, 129, 130, 131, 132, 138, 140, 141, 142, 143, 146, 147, 152, 153, 154, 156, 157, 158, 159, ...]}

resample확인하도록 : resample은 time-series에 사용함