In [1]:
import pandas as pd
from pathlib import Path

In [2]:
keystone_filepath = Path('Resources/2019Keystone_School_cleaned.xlsx')
expenditure_filepath = Path('Resources/2018-2019 Per Pupil Expenditures.xlsx')

keystone2019_df = pd.read_excel(keystone_filepath)
expenditure_df = pd.read_excel(expenditure_filepath)
expenditure_df

,AUN,LEA Name,County,Building\nNumber,Building Name,2018-2019 Local Personnel expenditures,2018-2019 Local NonPersonnel expenditures,2018-2019 State Personnel expenditures,2018-2019 State NonPersonnel expenditures,2018-2019 Federal Personnel expenditures,2018-2019 Federal NonPersonnel expenditures,2018-2019\nADM,2018-2019 Local Per Pupil Expenditure,2018-2019 Local NonPer Pupil Expenditure,2018-2019 State Per Pupil Expenditure,2018-2019 State NonPer Pupil Expenditure,2018-2019 Federal Per Pupil Expenditure,2018-2019 Federal NonPer Pupil Expenditure
0,101260303,Albert Gallatin Area SD,Fayette,8364,A L Wilson El Sch,1022121.61,209625.05,2763513.99,566764.03,191933.66,43882.05,392.361,2605.05,534.27,7043.29,1444.50,489.18,111.84
1,101260303,Albert Gallatin Area SD,Fayette,6001,Albert Gallatin Area SHS,2890086.47,575320.43,7813937.50,1555495.99,33254.95,32558.39,924.403,3126.44,622.37,8452.96,1682.70,35.97,35.22
2,101260303,Albert Gallatin Area SD,Fayette,7607,Albert Gallatin North MS,1221035.55,249554.19,3301318.33,674720.59,13802.36,16176.32,386.126,3162.27,646.30,8549.85,1747.41,35.75,41.89
3,101260303,Albert Gallatin Area SD,Fayette,7608,Albert Gallatin South MS,1091246.69,252615.52,2950407.71,682997.53,13868.40,16311.65,390.139,2797.07,647.50,7562.45,1750.65,35.55,41.81
4,101260303,Albert Gallatin Area SD,Fayette,4922,Friendship Hill El Sch,607724.01,118624.08,1643105.66,320724.36,373751.09,35045.41,218.850,2776.90,542.03,7507.91,1465.50,1707.80,160.13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2869,188392660,Seven Generations CS,Lehigh,8084,Seven Generations CS,2922628.76,1398036.47,0.00,0.00,172405.59,19573.00,309.594,9440.20,4515.71,0.00,0.00,556.88,63.22
2870,189670676,York Academy Regional CS,York,8131,York Academy Regional CS,6710046.25,3741339.43,18801.01,158.99,263646.02,418750.52,784.550,8552.73,4768.77,23.96,0.20,336.05,533.75
2871,192518422,Tacony Academy CS,Philadelphia,8126,Tacony Academy CS,7094.00,5501.00,126.00,98.00,713.00,553.00,384.339,18.46,14.31,0.33,0.25,1.86,1.44
2872,197010542,Gettysburg Montessori CS,Adams,8147,Gettysburg Montessori CS,1610346.00,1027735.00,0.00,10026.00,30854.00,67076.00,218.794,7360.10,4697.27,0.00,45.82,141.02,306.57
2873,199025446,Environmental CS at Frick Park,Allegheny,8028,Environmental CS at Frick Park,7660590.00,2328945.00,22970.00,30784.00,331192.00,128486.00,666.182,11499.24,3495.96,34.48,46.21,497.15,192.87

In [3]:
keystone2019_df.head()

,Grade,AUN,School Number,County,District Name,School Name,Subject,Group,Number Scored,Percent Advanced,Percent Proficient,Percent Basic,Percent Below Basic,Percent Advanced & Proficient
0,11,112011103,3,Adams,BERMUDIAN SPRINGS SD,BERMUDIAN SPRINGS HS,Algebra I,All Students,139,27.3,45.3,21.6,5.8,72.6
1,11,112011103,3,Adams,BERMUDIAN SPRINGS SD,BERMUDIAN SPRINGS HS,Biology,All Students,139,25.9,38.1,23.7,12.2,64.0
2,11,112011103,3,Adams,BERMUDIAN SPRINGS SD,BERMUDIAN SPRINGS HS,Literature,All Students,139,7.2,71.2,16.5,5.0,78.4
3,11,112011603,17,Adams,CONEWAGO VALLEY SD,NEW OXFORD SHS,Algebra I,All Students,270,28.5,43.7,23.3,4.4,72.2
4,11,112011603,17,Adams,CONEWAGO VALLEY SD,NEW OXFORD SHS,Biology,All Students,264,31.1,40.5,18.6,9.8,71.6

In [4]:
expenditure_df = expenditure_df[['AUN', 'LEA Name', 'County', 'Building Name','2018-2019 Local Per Pupil Expenditure']]
expenditure_df.head()

,AUN,LEA Name,County,Building Name,2018-2019 Local Per Pupil Expenditure
0,101260303,Albert Gallatin Area SD,Fayette,A L Wilson El Sch,2605.05
1,101260303,Albert Gallatin Area SD,Fayette,Albert Gallatin Area SHS,3126.44
2,101260303,Albert Gallatin Area SD,Fayette,Albert Gallatin North MS,3162.27
3,101260303,Albert Gallatin Area SD,Fayette,Albert Gallatin South MS,2797.07
4,101260303,Albert Gallatin Area SD,Fayette,Friendship Hill El Sch,2776.90

In [5]:
keystone2019_df['School Name'] = keystone2019_df['School Name'].str.strip().str.lower()
expenditure_df['Building Name'] = expenditure_df['Building Name'].str.strip().str.lower()

/var/folders/z9/tl_qwvpn0y9dgcrs13m13smr0000gn/T/ipykernel_2274/3468931351.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  expenditure_df['Building Name'] = expenditure_df['Building Name'].str.strip().str.lower()

In [6]:
merged_df = pd.merge(keystone2019_df, expenditure_df, left_on=['School Name', 'County'], right_on=['Building Name', 'County'], how='inner')
merged_df

,Grade,AUN_x,School Number,County,District Name,School Name,Subject,Group,Number Scored,Percent Advanced,Percent Proficient,Percent Basic,Percent Below Basic,Percent Advanced & Proficient,AUN_y,LEA Name,Building Name,2018-2019 Local Per Pupil Expenditure
0,11,112011103,3,Adams,BERMUDIAN SPRINGS SD,bermudian springs hs,Algebra I,All Students,139,27.3,45.3,21.6,5.8,72.6,112011103,Bermudian Springs SD,bermudian springs hs,6224.19
1,11,112011103,3,Adams,BERMUDIAN SPRINGS SD,bermudian springs hs,Biology,All Students,139,25.9,38.1,23.7,12.2,64.0,112011103,Bermudian Springs SD,bermudian springs hs,6224.19
2,11,112011103,3,Adams,BERMUDIAN SPRINGS SD,bermudian springs hs,Literature,All Students,139,7.2,71.2,16.5,5.0,78.4,112011103,Bermudian Springs SD,bermudian springs hs,6224.19
3,11,112011603,17,Adams,CONEWAGO VALLEY SD,new oxford shs,Algebra I,All Students,270,28.5,43.7,23.3,4.4,72.2,112011603,Conewago Valley SD,new oxford shs,7643.47
4,11,112011603,17,Adams,CONEWAGO VALLEY SD,new oxford shs,Biology,All Students,264,31.1,40.5,18.6,9.8,71.6,112011603,Conewago Valley SD,new oxford shs,7643.47
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1927,11,112679002,4647,York,YORK CITY SD,william penn shs,Biology,All Students,214,4.2,15.9,29.9,50.0,20.1,112679002,York City SD,william penn shs,3611.81
1928,11,112679002,4647,York,YORK CITY SD,william penn shs,Literature,All Students,197,2.5,31.5,35.5,30.5,34.0,112679002,York City SD,william penn shs,3611.81
1929,11,112679403,4658,York,YORK SUBURBAN SD,york suburban shs,Algebra I,All Students,220,49.1,37.7,10.9,2.3,86.8,112679403,York Suburban SD,york suburban shs,12033.18
1930,11,112679403,4658,York,YORK SUBURBAN SD,york suburban shs,Biology,All Students,220,53.2,36.4,8.2,2.3,89.6,112679403,York Suburban SD,york suburban shs,12033.18
1931,11,112679403,4658,York,YORK SUBURBAN SD,york suburban shs,Literature,All Students,222,39.2,51.4,8.1,1.4,90.6,112679403,York Suburban SD,york suburban shs,12033.18

In [7]:
keystone_expenditure_df = merged_df.drop(['AUN_y', 'LEA Name', 'Building Name'], axis=1)
keystone_expenditure_df = keystone_expenditure_df.rename(columns={'AUN_x': 'AUN'})
keystone_expenditure_df['School Name'] = keystone_expenditure_df['School Name'].str.strip().str.upper()
keystone_expenditure_df

,Grade,AUN,School Number,County,District Name,School Name,Subject,Group,Number Scored,Percent Advanced,Percent Proficient,Percent Basic,Percent Below Basic,Percent Advanced & Proficient,2018-2019 Local Per Pupil Expenditure
0,11,112011103,3,Adams,BERMUDIAN SPRINGS SD,BERMUDIAN SPRINGS HS,Algebra I,All Students,139,27.3,45.3,21.6,5.8,72.6,6224.19
1,11,112011103,3,Adams,BERMUDIAN SPRINGS SD,BERMUDIAN SPRINGS HS,Biology,All Students,139,25.9,38.1,23.7,12.2,64.0,6224.19
2,11,112011103,3,Adams,BERMUDIAN SPRINGS SD,BERMUDIAN SPRINGS HS,Literature,All Students,139,7.2,71.2,16.5,5.0,78.4,6224.19
3,11,112011603,17,Adams,CONEWAGO VALLEY SD,NEW OXFORD SHS,Algebra I,All Students,270,28.5,43.7,23.3,4.4,72.2,7643.47
4,11,112011603,17,Adams,CONEWAGO VALLEY SD,NEW OXFORD SHS,Biology,All Students,264,31.1,40.5,18.6,9.8,71.6,7643.47
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1927,11,112679002,4647,York,YORK CITY SD,WILLIAM PENN SHS,Biology,All Students,214,4.2,15.9,29.9,50.0,20.1,3611.81
1928,11,112679002,4647,York,YORK CITY SD,WILLIAM PENN SHS,Literature,All Students,197,2.5,31.5,35.5,30.5,34.0,3611.81
1929,11,112679403,4658,York,YORK SUBURBAN SD,YORK SUBURBAN SHS,Algebra I,All Students,220,49.1,37.7,10.9,2.3,86.8,12033.18
1930,11,112679403,4658,York,YORK SUBURBAN SD,YORK SUBURBAN SHS,Biology,All Students,220,53.2,36.4,8.2,2.3,89.6,12033.18
1931,11,112679403,4658,York,YORK SUBURBAN SD,YORK SUBURBAN SHS,Literature,All Students,222,39.2,51.4,8.1,1.4,90.6,12033.18

In [9]:
keystone_expenditure_df['2018-2019 Local Per Pupil Expenditure'].unique()

array([ 6.224190e+03,  7.643470e+03,  5.481040e+03,  9.537960e+03,
        7.761110e+03,  6.218620e+03,  7.397350e+03,  1.125506e+04,
        1.134247e+04,  8.220000e+00,  9.102460e+03,  1.464116e+04,
        1.714350e+04,  1.322767e+04,  1.314880e+04,  1.175809e+04,
        1.015805e+04,  1.082189e+04,  1.072806e+04,  1.550673e+04,
        1.204419e+04,  1.063000e+01,  7.070870e+03,  1.120013e+04,
        3.441300e+03,  1.430313e+04,  1.128838e+04,  1.177642e+04,
        1.508821e+04,  1.455110e+04,  1.123417e+04,  6.239030e+03,
        8.224400e+03,  1.023755e+04,  9.138750e+03,  8.738480e+03,
        8.859260e+03,  8.996270e+03,  8.433260e+03,  8.690440e+03,
        8.862460e+03,  8.914020e+03,  8.205660e+03,  8.924200e+03,
        6.614181e+04,  9.212450e+03,  1.525786e+04,  9.532160e+03,
        1.407862e+04,  1.316912e+04,  1.061000e+01,  1.098517e+04,
        4.920600e+03,  1.744941e+04,  1.092280e+04,  0.000000e+00,
        1.554878e+04,  1.253292e+04,  9.508010e+03,  9.013920e+03,
        9.681020e+03,  1.046072e+04,  4.813980e+03,  5.199420e+03,
        6.563840e+03,  7.261160e+03,  1.664085e+04,  1.353542e+04,
        7.361500e+03,  8.532640e+03,  3.986390e+03,  6.755250e+03,
        6.565800e+03,  4.084430e+03,  8.886040e+03,  5.731020e+03,
        4.426570e+03,  6.241320e+03,  6.300280e+03,  1.869551e+04,
        6.523170e+03,  1.482320e+04,  5.188990e+03,  3.252460e+03,
        5.420530e+03,  8.042940e+03,  4.177780e+03,  4.435290e+03,
        8.109960e+03,  8.604130e+03,  1.157290e+04,  1.025259e+04,
        6.625000e+02,  9.083750e+03,  9.036490e+03,  8.367770e+03,
        1.398727e+04,  8.313190e+03,  1.294800e+04,  1.138763e+04,
        9.133870e+03,  1.534470e+03,  1.690911e+04,  1.738228e+04,
        1.273127e+04,  8.872300e+03,  1.197374e+04,  3.852180e+03,
        4.713200e+03,  8.137210e+03,  3.104300e+03,  7.217820e+03,
        4.465140e+03,  2.385870e+03,  5.022430e+03,  3.847670e+03,
        5.131410e+03,  4.811540e+03,  6.821560e+03,  4.593140e+03,
        5.124090e+03,  1.438923e+04,  8.488360e+03,  9.159130e+03,
        1.253432e+04,  1.248213e+04,  1.193553e+04,  1.174826e+04,
        1.153247e+04,  1.718650e+04,  1.544369e+04,  6.124900e+03,
        1.133867e+04,  1.497628e+04,  1.900775e+04,  1.007110e+04,
        1.503607e+04,  9.767670e+03,  9.504120e+03,  6.747420e+03,
        4.590580e+03,  6.741490e+03,  4.302750e+03,  9.605780e+03,
        6.786330e+03,  1.242377e+04,  2.125250e+03,  3.506100e+03,
        9.572410e+03,  2.681140e+03,  3.553850e+03,  2.827810e+03,
        2.181410e+03,  1.211975e+04,  3.570250e+03,  2.207900e+03,
        6.952090e+03,  7.029260e+03,  5.744670e+03,  1.055346e+04,
        3.700260e+03,  7.354490e+03,  1.993810e+03,  8.704620e+03,
        6.202100e+03,  9.919610e+03,  7.997770e+03,  1.246405e+04,
        8.075650e+03,  8.730990e+03,  7.709910e+03,  3.709050e+03,
        1.168478e+04,  1.004225e+04,  9.809910e+03,  1.000958e+04,
        1.275110e+04,  4.184520e+03,  1.019100e+04,  1.009100e+04,
        6.960000e+00,  6.201250e+03,  7.405510e+03,  1.222654e+04,
        1.191963e+04,  1.149566e+04,  1.250878e+04,  1.078643e+04,
        1.075009e+04,  1.090624e+04,  5.233430e+03,  4.362230e+03,
        5.595130e+03,  3.888970e+03,  1.190004e+04,  3.382020e+03,
        1.723490e+03,  5.677870e+03,  3.611820e+03,  6.019400e+03,
        3.626360e+03,  2.326000e+01,  9.080000e+00,  7.959880e+03,
        6.711880e+03,  1.153444e+04,  1.403988e+04,  1.308649e+04,
        7.548490e+03,  7.959610e+03,  5.441200e+03,  1.087454e+04,
        6.308280e+03,  6.046930e+03,  5.275100e+03,  5.250570e+03,
        5.295160e+03,  5.218190e+03,  6.919630e+03,  9.511500e+03,
        3.057160e+03,  7.333480e+03,  6.711200e+03,  1.158268e+04,
        5.610000e+00,  1.157826e+04,  8.723890e+03,  8.515780e+03,
        1.255801e+04,  1.617816e+04,  3.580880e+03,  5.585760e+03,
        4.877640e+03,  7.701220e+03,  1.406446e+04,  1.302803e+04,
        5.582150e+03,  7.749120e+03,  1.398554e+04,  1.142266e+04,
        1.121039e+04,  9.626160e+03,  1.308261e+04,  1.212183e+04,
        1.025247e+04,  1.406852e+04,  8.741880e+03,  1.641177e+04,
        1.221209e+04,  1.609926e+04,  4.243900e+03,  9.775250e+03,
        7.309100e+03,  1.334366e+04,  6.458900e+03,  2.064700e+03,
        5.181160e+03,  5.599550e+03,  3.232680e+03,  1.251000e+02,
        1.422000e+01,  9.074830e+03,  7.033400e+03,  1.296049e+04,
        5.759370e+03,  5.940040e+03,  3.566850e+03,  6.255200e+03,
        5.932030e+03,  3.410160e+03,  2.837900e+03,  4.804440e+03,
        3.126440e+03,  2.491070e+03,  3.643680e+03,  4.111660e+03,
        7.516610e+03,  5.197770e+03,  1.155922e+04,  4.008160e+03,
        6.406320e+03,  4.708260e+03,  6.218110e+03,  6.176880e+03,
        4.943350e+03,  3.117000e+01,  5.725370e+03,  3.325070e+03,
        8.011990e+03,  4.956130e+03,  1.101529e+04,  4.948350e+03,
        3.227410e+03,  4.507360e+03,  2.530410e+03,  4.637480e+03,
        9.513220e+03,  4.519040e+03,  4.901840e+03,  3.638370e+03,
        4.447370e+03,  3.787640e+03,  3.859080e+03,  3.975990e+03,
        7.125690e+03,  4.416790e+03,  6.850260e+03,  5.718130e+03,
        8.094540e+03,  7.626030e+03,  1.038715e+04,  5.429080e+03,
        5.963050e+03,  5.815930e+03,  1.063021e+04,  6.433820e+03,
        9.023250e+03,  7.735020e+03,  8.117120e+03,  8.175900e+03,
        8.056420e+03,  1.014357e+04,  1.006327e+04,  5.670770e+03,
        1.056310e+03,  8.571990e+03,  8.775130e+03,  8.727090e+03,
        6.386740e+03,  7.380320e+03,  8.677070e+03,  5.346570e+03,
        2.762250e+03,  9.680300e+02,  2.407350e+03,  4.653960e+03,
        4.052450e+03,  1.391248e+04,  8.254820e+03,  1.106978e+04,
        3.478460e+03,  8.262380e+03,  6.214370e+03,  3.777220e+03,
        4.330980e+03,  4.526230e+03,  1.115982e+04,  8.746740e+03,
        7.367040e+03,  1.190626e+04,  9.891180e+03,  1.131397e+04,
        7.304330e+03,  1.375922e+04,  1.034466e+04,  8.606800e+03,
        6.894510e+03,  3.406050e+03,  5.898470e+03,  4.569620e+03,
        6.800930e+03,  4.650380e+03,  7.939580e+03,  5.758930e+03,
        5.035930e+03,  5.975390e+03,  6.427430e+03,  6.133990e+03,
        5.343360e+03,  5.277400e+03,  6.532440e+03,  6.393680e+03,
        6.653180e+03,  7.047350e+03,  9.890000e+00,  6.185430e+03,
        4.269440e+03,  3.465540e+03,  2.726410e+03,  3.245900e+03,
        4.205070e+03,  4.735040e+03,  3.675910e+03,  4.289870e+03,
        6.092380e+03,  7.724510e+03,  5.931100e+03,  1.577587e+04,
        4.573890e+03,  5.417080e+03,  4.910690e+03,  4.072280e+03,
        4.178510e+03,  5.378180e+03,  4.908660e+03,  1.244997e+04,
        1.193766e+04,  1.354999e+04,  7.711480e+03,  1.193750e+04,
        1.174920e+04,  1.062724e+04,  1.481946e+04,  1.939765e+04,
        1.575983e+04,  1.246928e+04,  2.127080e+04,  2.097276e+04,
        2.023438e+04,  1.371070e+04,  1.179098e+04,  1.208368e+04,
        1.384376e+04,  8.662220e+03,  9.758740e+03,  9.983620e+03,
        6.994640e+03,  9.418040e+03,  1.556725e+04,  1.049792e+04,
        1.490101e+04,  1.686222e+04,  1.342350e+04,  9.569720e+03,
        1.674089e+04,  7.910500e+03,  1.420513e+04,  7.701500e+03,
        7.529810e+03,  9.006620e+03,  8.213830e+03,  1.068323e+04,
        1.339921e+04,  1.331942e+04,  1.073824e+04,  1.379183e+04,
        8.617320e+03,  4.088540e+03,  6.933520e+03,  3.496030e+03,
        3.542530e+03,  6.003180e+03,  5.287290e+03,  6.575310e+03,
        1.271181e+04,  7.922740e+03,  5.286160e+03,  9.586370e+03,
        6.799500e+03,  9.753730e+03,  7.361080e+03,  8.102520e+03,
        4.174010e+03,  8.331180e+03,  5.235870e+03,  6.128400e+03,
        6.474330e+03,  5.946970e+03,  7.525670e+03,  7.913270e+03,
        3.344000e+03,  8.759320e+03,  9.805660e+03,  8.118100e+03,
        9.072790e+03,  8.850010e+03,  9.358560e+03,  1.071657e+04,
        9.163770e+03,  8.079240e+03,  8.070480e+03,  9.182870e+03,
        8.772300e+02,  8.548780e+03,  8.321230e+03,  8.113160e+03,
        1.007677e+04,  9.078780e+03,  8.635780e+03,  9.589230e+03,
        8.971490e+03,  8.715920e+03,  8.508520e+03,  8.163560e+03,
        1.162842e+04,  1.027235e+04,  8.852100e+03,  8.052550e+03,
        2.909500e+02,  9.631650e+03,  9.520930e+03,  7.896980e+03,
        7.932500e+03,  9.935170e+03,  1.009985e+04,  1.005416e+04,
        9.569510e+03,  1.189452e+04,  2.588522e+04,  1.006323e+04,
        6.779100e+02,  8.801090e+03,  2.217200e+02,  1.048926e+04,
        9.031130e+03,  8.846160e+03,  8.934230e+03,  1.596451e+04,
        1.205600e+02,  1.086184e+04,  8.602410e+03,  2.923000e+03,
        1.318236e+04,  8.731440e+03,  9.500600e+03,  1.163676e+04,
        6.285150e+03,  6.972730e+03,  8.964720e+03,  1.473758e+04,
        5.580090e+03,  7.485960e+03,  5.320420e+03,  4.128540e+03,
        1.075543e+04,  4.249850e+03,  9.006070e+03,  7.000000e-02,
        1.907070e+03,  1.111904e+04,  5.295390e+03,  3.030970e+03,
        5.946520e+03,  4.415780e+03,  1.097432e+04,  8.264880e+03,
        7.967900e+03,  4.139490e+03,  3.410390e+03,  2.087990e+03,
        3.397300e+03,  6.506880e+03,  4.063780e+03,  3.980460e+03,
        8.756330e+03,  7.789030e+03,  3.971340e+03,  4.038060e+03,
        1.170362e+04,  5.397340e+03,  1.488967e+04,  6.963000e+03,
        7.976020e+03,  1.816551e+04,  4.646130e+03,  4.780000e+03,
        6.002720e+03,  5.013930e+03,  6.734360e+03,  9.290360e+03,
        8.154680e+03,  6.131640e+03,  4.652220e+03,  2.685720e+03,
        3.904610e+03,  3.609280e+03,  1.132241e+04,  4.564460e+03,
        5.292340e+03,  5.021830e+03,  5.598320e+03,  5.602140e+03,
        3.767260e+03,  5.717900e+03,  5.266160e+03,  7.251660e+03,
        5.648330e+03,  9.975020e+03, -8.140270e+03,  6.781780e+03,
        9.209920e+03,  5.828140e+03,  7.811460e+03,  1.050035e+04,
        1.279580e+04,  6.571350e+03,  7.480160e+03,  6.081220e+03,
        6.029000e+01,  9.294790e+03,  1.062152e+04,  7.101140e+03,
        1.229153e+04,  1.292957e+04,  5.856250e+03,  5.777770e+03,
        2.192000e+01,  1.289871e+04,  5.533560e+03,  6.628950e+03,
        1.157979e+04,  5.316450e+03,  8.278540e+03,  6.715380e+03,
        8.306840e+03,  9.378900e+03,  7.276920e+03,  8.922350e+03,
        9.329210e+03,  7.749230e+03,  7.448390e+03,  1.096088e+04,
        9.496710e+03,  3.764280e+03,  8.674500e+03,  8.158930e+03,
        7.090240e+03,  7.242070e+03,  9.578990e+03,  3.611810e+03,
        1.203318e+04])

In [8]:
keystone_expenditure_df.to_excel('Resources/keystone_expenditure.xlsx', index=False)
keystone_expenditure_df.to_json('Resources/keystone_expenditure.json', orient='records')