In [2]:
### Import Libraries
import pandas as pd
from datetime import datetime
import numpy as np
import gspread
from oauth2client.service_account import ServiceAccountCredentials
from pprint import pprint
import re
from sqlalchemy import create_engine
import sqlite3
from sqlite3 import Error
import time

In [3]:
## Create lists of Workbook URLs and Invididual Sheets

courses_temp = ['Science','Spanish']
courses = ['English','History','Math','Science','Spanish']

workbook_temp = {'Science':'1cgLvZY2IdVUt5xSvoUW_GnWfyj2MONZ9-GJiFR9E7HM','Spanish':'1gjCZxYdUb7CBfp_9oJJRBX5ADZ3xXObvhJFY30A35pM'}
workbooks = {'English':'1mm23zhb-FROsAWgNVt1TRqYzg_KBMzCwLRnzSSEM9d4','History':'1KDw6o0czACgIEN7Vxovvpv5jfTTlpTEGC8STmKgtC4o','Math':'1TxiQgBpFYB8nPrCsDz47kMvHet7nKD36N9-1DsuQOEs','Science':'1cgLvZY2IdVUt5xSvoUW_GnWfyj2MONZ9-GJiFR9E7HM','Spanish':'1gjCZxYdUb7CBfp_9oJJRBX5ADZ3xXObvhJFY30A35pM'}

english_sheets = ['English I (Ransome)','English I (Harris)','Pre-AP English','English I (Coffey)','English III','AP Lang','AP Lit','LatX (Yeboah)','LatX (Murray)','Sem LatX (Murray)']
history_sheets = ['Pre-AP (Babbitt)','Pre-AP (Gonzalez)','AP World','Global','AP US (Kern)','AP US (Yeboah)','Gov (Yeboah)','Gov (Miller)','LAS','AP Research','AP Seminar']
math_sheets = ['Algebra I','Geo (9th)','Geo (10th)','Algebra 2','Pre-AP','Calc A','AP Calc (Yaruqui)','AP Calc (Coapman)','AP Stat','DiffEq']
science_sheets = ['AP Environmental','AP Chemistry','Chemistry', 'AP Physics', 'Physics','AP Biology','Biology (Hermann)','Biology Rodriguez/Schmidt']
spanish_sheets = ['Spanish I (Rodriguez)','Spanish I (Columna/Perez)','Spanish II (Perez)','Spanish II (Aponte)','Pre-AP Spanish','AP Spanish']

all_sheets_temp = {'English': english_sheets,'History':history_sheets,'Math':math_sheets,'Science':science_sheets,'Spanish':spanish_sheets}
all_sheets = {'English': english_sheets,'History':history_sheets,'Math':math_sheets,'Science':science_sheets,'Spanish':spanish_sheets}

In [4]:
### Read Data Frame from Google Sheet and Convert to Cleaned Up Data Frame

scope = ["https://spreadsheets.google.com/feeds",'https://www.googleapis.com/auth/spreadsheets',"https://www.googleapis.com/auth/drive.file","https://www.googleapis.com/auth/drive"]

creds = ServiceAccountCredentials.from_json_keyfile_name("Service_Account_Creds.json", scope)
print(creds)

<oauth2client.service_account.ServiceAccountCredentials object at 0x000002A0221FCBE0>

In [ ]:
client = gspread.authorize(creds)

wks = 'AP Calc (Coapman)'

n=0

# print("Sleeping for 100 seconds!")
# time.sleep(100)

for course in courses:
    wrkbk_id = workbooks[course]
    book = client.open_by_key(wrkbk_id)
    for sheet_name in all_sheets[course]:
        sheet = book.worksheet(sheet_name)
        matrix = sheet.get_all_values()
        columns = matrix[0]
        print(sheet_name)
        if n == 0:
            df = pd.DataFrame(matrix, columns = columns)
            df = df.drop(index=0).reset_index().drop(columns = 'index')
            n += 1
        else:
            df_temp = pd.DataFrame(matrix, columns = columns)
            df_temp = df_temp.drop(index=0).reset_index().drop(columns = 'index')
            frames = [df, df_temp]
            df = pd.concat(frames)
    print("Sleeping for 100 seconds!")
    # time.sleep(100)


df.head()

In [58]:
df

,Student ID Number,First Name,Last Name,Grade,Teacher,Period,"Tuesday, March 24, 2020","Wednesday, March 25, 2020","Thursday, March 26, 2020","Friday, March 27, 2020",...,"Thursday, April 2, 2020","Friday, April 3, 2020","Monday, April 13, 2020","Tuesday, April 14, 2020","Wednesday, April 15, 2020","Thursday, April 16, 2020","Friday, April 17, 2020",,,
0,305002202,Alma,Abubakari,9,"Ransome, Melissa",1(A-B) 5(A-E),,,,,...,,,,,,,,,Key,Code
1,701157880,Maryam,Agboola,9,"Ransome, Melissa",1(A-B) 5(A-E),,,,,...,,,,,,,,,Precall,.
2,104043668,Ammar,Ahmad,9,"Ransome, Melissa",1(A-B) 5(A-E),,,,,...,,,,,,,,,Responded,Y
3,701156029,Mekhi Jalen,Beh,9,"Ransome, Melissa",1(A-B) 5(A-E),,,,,...,,,,,,,,,Did not Respond,N
4,305003350,Nathaniel,Boateng,9,"Ransome, Melissa",1(A-B) 5(A-E),,,,,...,,,,,,,,,Absent from Zoom,A
5,688154243,Jeremic,Diaz-Zeas,9,"Ransome, Melissa",1(A-B) 5(A-E),,,,,...,,,,,,,,,,
6,358518087,Naimah,Fields,9,"Ransome, Melissa",1(A-B) 5(A-E),,,,,...,,,,,,,,,,
7,457513970,Brianna,Flores,9,"Ransome, Melissa",1(A-B) 5(A-E),,,,,...,,,,,,,,,,
8,701155979,Kimora Nicole,Gates,9,"Ransome, Melissa",1(A-B) 5(A-E),,,,,...,,,,,,,,,,
9,304001026,Michael,Givens,9,"Ransome, Melissa",1(A-B) 5(A-E),,,,,...,,,,,,,,,,
10,701155980,Amanda Cynyse,Hayes,9,"Ransome, Melissa",1(A-B) 5(A-E),,,,,...,,,,,,,,,,
11,701156011,S'Naya,Hightower,9,"Ransome, Melissa",1(A-B) 5(A-E),,,,,...,,,,,,,,,,
12,300018877,Gideon Chukwuemeka,Ijeh,9,"Ransome, Melissa",1(A-B) 5(A-E),,,,,...,,,,,,,,,,
13,320069343,Brandon,Jimenez,9,"Ransome, Melissa",1(A-B) 5(A-E),,,,,...,,,,,,,,,,
14,305001470,Aniya,Johnson,9,"Ransome, Melissa",1(A-B) 5(A-E),,,,,...,,,,,,,,,,
15,701156012,Ezekiah,Kehinde,9,"Ransome, Melissa",1(A-B) 5(A-E),,,,,...,,,,,,,,,,
16,303001344,Toni,Lawrence,9,"Ransome, Melissa",1(A-B) 5(A-E),,,,,...,,,,,,,,,,
17,303001345,David,Lizano,9,"Ransome, Melissa",1(A-B) 5(A-E),,,,,...,,,,,,,,,,
18,248639495,Ariana,Mithu,9,"Ransome, Melissa",1(A-B) 5(A-E),,,,,...,,,,,,,,,,
19,303001353,Jayden,Pagan,9,"Ransome, Melissa",1(A-B) 5(A-E),,,,,...,,,,,,,,,,
20,303001358,George,Quito,9,"Ransome, Melissa",1(A-B) 5(A-E),,,,,...,,,,,,,,,,
21,217411606,Emanuel,Sanchez,9,"Ransome, Melissa",1(A-B) 5(A-E),,,,,...,,,,,,,,,,
22,304001066,Malik,Smith,9,"Ransome, Melissa",1(A-B) 5(A-E),,,,,...,,,,,,,,,,
23,305003347,Tieshaun,Smith,9,"Ransome, Melissa",1(A-B) 5(A-E),,,,,...,,,,,,,,,,
24,910095276,Kyree,Sutton-Bryant,9,"Ransome, Melissa",1(A-B) 5(A-E),,,,,...,,,,,,,,,,
25,248613092,David,Valdivieso,9,"Ransome, Melissa",1(A-B) 5(A-E),,,,,...,,,,,,,,,,
26,447031553,Ziyany,Wilkins,9,"Ransome, Melissa",1(A-B) 5(A-E),,,,,...,,,,,,,,,,
27,885873674,Ja'ziah,Woodard,9,"Ransome, Melissa",1(A-B) 5(A-E),,,,,...,,,,,,,,,,
28,358548832,Ebony,Zuniga,9,"Ransome, Melissa",1(A-B) 5(A-E),,,,,...,,,,,,,,,,
29,701153992,Yasmin,Cavalcante,9,"Ransome, Melissa",1(D-E) 6(A-E),,,,,...,,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41,3042022038,Pamela,Koontz,10,"Zapata, Lina M.",2 - 4(A-E),,,,,...,,,,,,,,,,
42,3042022039,Taragi,Lawson,10,"Zapata, Lina M.",2 - 4(A-E),,,,,...,,,,,,,,,,
43,304001049,Uzoma,Nwaokoro,9,"Zapata, Lina M.",2 - 4(A-E),,,,,...,,,,,,,,,,
44,302001079,Tasir,Plant,10,"Zapata, Lina M.",2 - 4(A-E),,,,,...,,,,,,,,,,
45,640923751,Abisola Esther,Sajuyigbe,10,"Zapata, Lina M.",2 - 4(A-E),,,,,...,,,,,,,,,,
46,3042022066,Chester,Torto,10,"Zapata, Lina M.",2 - 4(A-E),,,,,...,,,,,,,,,,
47,3042022074,Marie,Ziah,10,"Zapata, Lina M.",2 - 4(A-E),,,,,...,,,,,,,,,,
0,306001165,Tallulah,Aboagye,10,"Zapata, Lina M.",1 - 6(A-E),,,,,...,,,,,,,,,Key,Code
1,3042022003,Adimchinobi,Amaihe,10,"Zapata, Lina M.",1 - 6(A-E),,,,,...,,,,,,,,,Precall,.
2,3042022017,Janellie,Cotto,10,"Zapata, Lina M.",1 - 6(A-E),,,,,...,,,,,,,,,Responded,Y
3,30200010,Leslie,Cumbicos,11,"Zapata, Lina M.",1 - 6(A-E),,,,,...,,,,,,,,,Did not Respond,N
4,305002328,Kyerrah Anise,Dozier,11,"Zapata, Lina M.",1 - 6(A-E),,,,,...,,,,,,,,,Absent from Zoom,A
5,3042022047,Peace,Freeman,10,"Zapata, Lina M.",1 - 6(A-E),,,,,...,,,,,,,,,,
6,2021035,R'Lani,Glover,10,"Zapata, Lina M.",1 - 6(A-E),,,,,...,,,,,,,,,,
7,304202285,Darnell,Graham,10,"Zapata, Lina M.",1 - 6(A-E),,,,,...,,,,,,,,,,
8,3042022024,Lena,Greene,10,"Zapata, Lina M.",1 - 6(A-E),,,,,...,,,,,,,,,,
9,2021039,Brandon,Harding,10,"Zapata, Lina M.",1 - 6(A-E),,,,,...,,,,,,,,,,
10,302001217,Ariel V,Haywood,10,"Zapata, Lina M.",1 - 6(A-E),,,,,...,,,,,,,,,,
11,306001094,Emery,Jones-Flores,10,"Zapata, Lina M.",1 - 6(A-E),,,,,...,,,,,,,,,,
12,302001045,Michael,Marotta,10,"Zapata, Lina M.",1 - 6(A-E),,,,,...,,,,,,,,,,
13,3042022043,Jordan,Mincy,10,"Zapata, Lina M.",1 - 6(A-E),,,,,...,,,,,,,,,,
14,306001281,Olanike,Oke,10,"Zapata, Lina M.",1 - 6(A-E),,,,,...,,,,,,,,,,
15,701152691,Maxwell Osita,Okeke,10,"Zapata, Lina M.",1 - 6(A-E),,,,,...,,,,,,,,,,
16,3042022048,Dominion,Olajobi,10,"Zapata, Lina M.",1 - 6(A-E),,,,,...,,,,,,,,,,
17,3042022054,Kayla,Phillip,10,"Zapata, Lina M.",1 - 6(A-E),,,,,...,,,,,,,,,,
18,302001247,Nuri R,Raheem,10,"Zapata, Lina M.",1 - 6(A-E),,,,,...,,,,,,,,,,
19,302001295,David,Rea,11,"Zapata, Lina M.",1 - 6(A-E),,,,,...,,,,,,,,,,
20,3042022064,Genice,Thomas,10,"Zapata, Lina M.",1 - 6(A-E),,,,,...,,,,,,,,,,
21,305002367,Melany Elizabeth,Villa-Zeas,10,"Zapata, Lina M.",1 - 6(A-E),,,,,...,,,,,,,,,,
22,3042022073,Autumn,Wortham,10,"Zapata, Lina M.",1 - 6(A-E),,,,,...,,,,,,,,,,

In [63]:
### Clean Data Frame to Prepare for SQL

# Melt the Data Frame to Clean Data Frame to list 'Daily Observations'
dates = df.columns[6:20]
df2 = pd.melt(df, id_vars = ['Student ID Number','First Name','Last Name','Grade', 'Teacher', 'Period'], value_vars = dates, var_name = 'date', value_name = 'result')

# Make all column names a single string
df2.columns = ['Student_ID_Number', 'First_Name', 'Last_Name','Grade', 'Teacher', 'Period', 'date','result']

# Convert the Date Column into a datetime format
df2['date'] = df2['date'].apply(lambda x: datetime.strptime(x, '%A, %B %d, %Y'))
df2

,Student_ID_Number,First_Name,Last_Name,Grade,Teacher,Period,date,result
0,305002202,Alma,Abubakari,9,"Ransome, Melissa",1(A-B) 5(A-E),2020-03-24,
1,701157880,Maryam,Agboola,9,"Ransome, Melissa",1(A-B) 5(A-E),2020-03-24,
2,104043668,Ammar,Ahmad,9,"Ransome, Melissa",1(A-B) 5(A-E),2020-03-24,
3,701156029,Mekhi Jalen,Beh,9,"Ransome, Melissa",1(A-B) 5(A-E),2020-03-24,
4,305003350,Nathaniel,Boateng,9,"Ransome, Melissa",1(A-B) 5(A-E),2020-03-24,
5,688154243,Jeremic,Diaz-Zeas,9,"Ransome, Melissa",1(A-B) 5(A-E),2020-03-24,
6,358518087,Naimah,Fields,9,"Ransome, Melissa",1(A-B) 5(A-E),2020-03-24,
7,457513970,Brianna,Flores,9,"Ransome, Melissa",1(A-B) 5(A-E),2020-03-24,
8,701155979,Kimora Nicole,Gates,9,"Ransome, Melissa",1(A-B) 5(A-E),2020-03-24,
9,304001026,Michael,Givens,9,"Ransome, Melissa",1(A-B) 5(A-E),2020-03-24,
10,701155980,Amanda Cynyse,Hayes,9,"Ransome, Melissa",1(A-B) 5(A-E),2020-03-24,
11,701156011,S'Naya,Hightower,9,"Ransome, Melissa",1(A-B) 5(A-E),2020-03-24,
12,300018877,Gideon Chukwuemeka,Ijeh,9,"Ransome, Melissa",1(A-B) 5(A-E),2020-03-24,
13,320069343,Brandon,Jimenez,9,"Ransome, Melissa",1(A-B) 5(A-E),2020-03-24,
14,305001470,Aniya,Johnson,9,"Ransome, Melissa",1(A-B) 5(A-E),2020-03-24,
15,701156012,Ezekiah,Kehinde,9,"Ransome, Melissa",1(A-B) 5(A-E),2020-03-24,
16,303001344,Toni,Lawrence,9,"Ransome, Melissa",1(A-B) 5(A-E),2020-03-24,
17,303001345,David,Lizano,9,"Ransome, Melissa",1(A-B) 5(A-E),2020-03-24,
18,248639495,Ariana,Mithu,9,"Ransome, Melissa",1(A-B) 5(A-E),2020-03-24,
19,303001353,Jayden,Pagan,9,"Ransome, Melissa",1(A-B) 5(A-E),2020-03-24,
20,303001358,George,Quito,9,"Ransome, Melissa",1(A-B) 5(A-E),2020-03-24,
21,217411606,Emanuel,Sanchez,9,"Ransome, Melissa",1(A-B) 5(A-E),2020-03-24,
22,304001066,Malik,Smith,9,"Ransome, Melissa",1(A-B) 5(A-E),2020-03-24,
23,305003347,Tieshaun,Smith,9,"Ransome, Melissa",1(A-B) 5(A-E),2020-03-24,
24,910095276,Kyree,Sutton-Bryant,9,"Ransome, Melissa",1(A-B) 5(A-E),2020-03-24,
25,248613092,David,Valdivieso,9,"Ransome, Melissa",1(A-B) 5(A-E),2020-03-24,
26,447031553,Ziyany,Wilkins,9,"Ransome, Melissa",1(A-B) 5(A-E),2020-03-24,
27,885873674,Ja'ziah,Woodard,9,"Ransome, Melissa",1(A-B) 5(A-E),2020-03-24,
28,358548832,Ebony,Zuniga,9,"Ransome, Melissa",1(A-B) 5(A-E),2020-03-24,
29,701153992,Yasmin,Cavalcante,9,"Ransome, Melissa",1(D-E) 6(A-E),2020-03-24,
...,...,...,...,...,...,...,...,...
43034,3042022038,Pamela,Koontz,10,"Zapata, Lina M.",2 - 4(A-E),2020-04-17,
43035,3042022039,Taragi,Lawson,10,"Zapata, Lina M.",2 - 4(A-E),2020-04-17,
43036,304001049,Uzoma,Nwaokoro,9,"Zapata, Lina M.",2 - 4(A-E),2020-04-17,
43037,302001079,Tasir,Plant,10,"Zapata, Lina M.",2 - 4(A-E),2020-04-17,
43038,640923751,Abisola Esther,Sajuyigbe,10,"Zapata, Lina M.",2 - 4(A-E),2020-04-17,
43039,3042022066,Chester,Torto,10,"Zapata, Lina M.",2 - 4(A-E),2020-04-17,
43040,3042022074,Marie,Ziah,10,"Zapata, Lina M.",2 - 4(A-E),2020-04-17,
43041,306001165,Tallulah,Aboagye,10,"Zapata, Lina M.",1 - 6(A-E),2020-04-17,
43042,3042022003,Adimchinobi,Amaihe,10,"Zapata, Lina M.",1 - 6(A-E),2020-04-17,
43043,3042022017,Janellie,Cotto,10,"Zapata, Lina M.",1 - 6(A-E),2020-04-17,
43044,30200010,Leslie,Cumbicos,11,"Zapata, Lina M.",1 - 6(A-E),2020-04-17,
43045,305002328,Kyerrah Anise,Dozier,11,"Zapata, Lina M.",1 - 6(A-E),2020-04-17,
43046,3042022047,Peace,Freeman,10,"Zapata, Lina M.",1 - 6(A-E),2020-04-17,
43047,2021035,R'Lani,Glover,10,"Zapata, Lina M.",1 - 6(A-E),2020-04-17,
43048,304202285,Darnell,Graham,10,"Zapata, Lina M.",1 - 6(A-E),2020-04-17,
43049,3042022024,Lena,Greene,10,"Zapata, Lina M.",1 - 6(A-E),2020-04-17,
43050,2021039,Brandon,Harding,10,"Zapata, Lina M.",1 - 6(A-E),2020-04-17,
43051,302001217,Ariel V,Haywood,10,"Zapata, Lina M.",1 - 6(A-E),2020-04-17,
43052,306001094,Emery,Jones-Flores,10,"Zapata, Lina M.",1 - 6(A-E),2020-04-17,
43053,302001045,Michael,Marotta,10,"Zapata, Lina M.",1 - 6(A-E),2020-04-17,
43054,3042022043,Jordan,Mincy,10,"Zapata, Lina M.",1 - 6(A-E),2020-04-17,
43055,306001281,Olanike,Oke,10,"Zapata, Lina M.",1 - 6(A-E),2020-04-17,
43056,701152691,Maxwell Osita,Okeke,10,"Zapata, Lina M.",1 - 6(A-E),2020-04-17,
43057,3042022048,Dominion,Olajobi,10,"Zapata, Lina M.",1 - 6(A-E),2020-04-17,
43058,3042022054,Kayla,Phillip,10,"Zapata, Lina M.",1 - 6(A-E),2020-04-17,
43059,302001247,Nuri R,Raheem,10,"Zapata, Lina M.",1 - 6(A-E),2020-04-17,
43060,302001295,David,Rea,11,"Zapata, Lina M.",1 - 6(A-E),2020-04-17,
43061,3042022064,Genice,Thomas,10,"Zapata, Lina M.",1 - 6(A-E),2020-04-17,
43062,305002367,Melany Elizabeth,Villa-Zeas,10,"Zapata, Lina M.",1 - 6(A-E),2020-04-17,
43063,3042022073,Autumn,Wortham,10,"Zapata, Lina M.",1 - 6(A-E),2020-04-17,

In [64]:
### Write the Data Frame to the SQL db

# Define function to create connection to database
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        return conn
    except Error as e:
        print(e)
 
    return conn
 
# Export the clean dataframe to the SQL Database
def update_observations():
    database = r"C:\users\kyled\documents\github\zoomengagement\zoom_database.db"
    
    # create a database connection
    conn = create_connection(database)
 
    # create tables
    if conn is not None:
        df2.to_sql('observations', con=conn, if_exists = 'replace')
    else:
        print("Error! cannot create the database connection.")

update_observations()