In [238]:
#required libraries
import pandas as pd
import numpy as np

In [239]:
# reading the dataset
students_data = pd.read_csv(r'Careers_recommendation\Student_resume_data.csv')

In [240]:
pd.set_option('display.max_columns',None)

In [241]:
students_data.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,AWS,Unnamed: 25,Unnamed: 26,Azure,Unnamed: 28,Unnamed: 29,GCP,Unnamed: 31,Unnamed: 32,PySpark,Unnamed: 34,Unnamed: 35,Hadoop,Unnamed: 37,Unnamed: 38,Hive,Unnamed: 40,Unnamed: 41,Big Query,Unnamed: 43,Unnamed: 44,Tableau,Unnamed: 46,Unnamed: 47,PowerBI,Unnamed: 49,Unnamed: 50,Advanced Excel,Unnamed: 52,Unnamed: 53,Time Series Analysis,Unnamed: 55,Unnamed: 56,ML Model Deployment,Unnamed: 58,Unnamed: 59,RestAPI,Unnamed: 61,Unnamed: 62,ETL,Unnamed: 64,Unnamed: 65,Deep Learning,Unnamed: 67,Unnamed: 68,Tensorflow,Unnamed: 70,Unnamed: 71,PyTorch,Unnamed: 73,Unnamed: 74
0,Student Name,"Strength\n(Any including tools, skills)","Weakness\n(Any including tools, skills)",Current Location,Date Of Birth\n(DD/MM/YYYY),Graduation College,Graduation Degree,Graduation Stream,Year of Graduation Completion,Graduation Percentage/CGPA,Post Graduation College,Post Graduation Degree,Post Graduation Stream,Year of Post Graduation Completion,Post Graduation Percentage / CGPA,Notice Period (days),Work Exp (years),Relevant Work Exp\n(years),Designation,Company\nName,Domain\n/Industry,Domain / Industry Interested to Join as a Data...,Current/Previous CTC\nin LPA,NaN,Tool Knowledge,Self Rating \n(Out of 5),Validation certificate or proof of completion ...,Tool Knowledge,Self Rating \n(Out of 5),Validation certificate or proof of completion ...,Tool Knowledge,Self Rating \n(Out of 5),Validation certificate or proof of completion ...,Tool Knowledge,Self Rating \n(Out of 5),Validation certificate or proof of completion ...,Tool Knowledge,Self Rating \n(Out of 5),Validation certificate or proof of completion ...,Tool Knowledge,Self Rating \n(Out of 5),Validation certificate or proof of completion ...,Tool Knowledge,Self Rating \n(Out of 5),Validation certificate or proof of completion ...,Tool Knowledge,Self Rating \n(Out of 5),Validation certificate or proof of completion ...,Tool Knowledge,Self Rating \n(Out of 5),Validation certificate or proof of completion ...,Tool Knowledge,Self Rating \n(Out of 5),Validation certificate or proof of completion ...,Tool Knowledge,Self Rating \n(Out of 5),Validation certificate or proof of completion ...,Tool Knowledge,Self Rating \n(Out of 5),Validation certificate or proof of completion ...,Tool Knowledge,Self Rating \n(Out of 5),Validation certificate or proof of completion ...,Tool Knowledge,Self Rating \n(Out of 5),Validation certificate or proof of completion ...,Tool Knowledge,Self Rating \n(Out of 5),Validation certificate or proof of completion ...,Tool Knowledge,Self Rating \n(Out of 5),Validation certificate or proof of completion ...,Tool Knowledge,Self Rating \n(Out of 5),Validation certificate or proof of completion ...
1,Abhijeet kulkarni,"Python,SQL,Excel,Tableau,Power Bi,ML,Statistics",stats,Solapur,28-04-1996,WIT Solapur,B.E,Mech Engineering,2018,8.19,NaN,NaN,NaN,NaN,NaN,NaN,3.5,NaN,SME/Marketing Executive/Buisness consultant,"Freelancer,Govind marketing",Education/automobile/FMCG,Any Domain,1.8,NaN,NaN,NaN,NaN,FALSE,NaN,NaN,FALSE,NaN,NaN,FALSE,NaN,NaN,FALSE,NaN,NaN,FALSE,NaN,NaN,FALSE,NaN,NaN,TRUE,3,Great learning/Almabetter,TRUE,3.5,NaN,TRUE,3.5,Almabetter/Youtube,FALSE,NaN,NaN,FALSE,NaN,NaN,FALSE,NaN,NaN,FALSE,NaN,NaN,FALSE,NaN,NaN,FALSE,NaN,NaN,FALSE,NaN,NaN
2,Bhaskar Tikaram Mendhe,"Python, Excel, SQL, Tableau, Power BI, Looker ...","Time series, Deep Learning",Nagpur,25-11-1995,Sant Gadge Baba Amrawati University,B.Tech,Chemical Engineering,2019,7.9,NaN,NaN,NaN,NaN,NaN,NaN,1.6,NaN,System Engineer,Infosys,IT,Any Domain,3.6,NaN,TRUE,2,NaN,TRUE,2,NaN,FALSE,NaN,NaN,TRUE,2,NaN,TRUE,2,NaN,TRUE,2,NaN,TRUE,2,NaN,TRUE,4,AlmaBetter Project,TRUE,4,AlmaBetter,TRUE,3,AlmaBetter,FALSE,NaN,NaN,TRUE,3,NaN,TRUE,2,NaN,TRUE,2,NaN,FALSE,NaN,NaN,FALSE,NaN,NaN,FALSE,NaN,NaN
3,Karan Rawat,"Python, SQL, Mathematics, Statistics, Machine ...","Tableau, PowerBI",Delhi,30-09-1999,Maharaja Surajmal Institute of Technology,B.Tech,Electronics & Communications,2021,8.74,NaN,NaN,NaN,NaN,NaN,NaN,1.1,NaN,QA Automation Tester,Cognizant,IT,Any Domain,4.5,NaN,TRUE,2,NaN,TRUE,2,NaN,FALSE,NaN,NaN,TRUE,2,NaN,TRUE,2,NaN,TRUE,2,NaN,TRUE,2,NaN,TRUE,3,NaN,TRUE,3,NaN,FALSE,NaN,NaN,TRUE,3,NaN,TRUE,3,NaN,TRUE,4.6,NaN,TRUE,3,NaN,TRUE,4.4,NaN,TRUE,4.4,NaN,TRUE,3,NaN
4,Vaibhav Kumar Gupta,"Python, Excel , SQL , Tableau, Power BI, R , ...","Analytical ideas ,business insights",Siliguri,25-07-1999,Cotton University,B.sc,Mathematics hons,2020,6.61,Cotton University,Msc,Artificial Intelligence and Machine learning,2023,9,0,0,NaN,Project Intern (Data Science),CSIR-NEIST ( Research Institute),NaN,"Health, Banking , Education, IT , Finance",0,NaN,FALSE,NaN,NaN,FALSE,NaN,NaN,FALSE,NaN,NaN,FALSE,NaN,NaN,FALSE,NaN,NaN,FALSE,NaN,NaN,FALSE,NaN,NaN,TRUE,4.4,Almabetter Project,TRUE,4.5,Almabetter Project,TRUE,4.5,Almabetter Project,TRUE,4.5,Post Graduation Diploma in Statistical Methods...,FALSE,NaN,NaN,FALSE,NaN,NaN,TRUE,4,NaN,TRUE,4.6,Indian Statistical Institute Project work,TRUE,4.2,NaN,FALSE,NaN,NaN

In [242]:
non_unnamed_columns = {i:col for i, col in enumerate(students_data.columns) if not col.startswith('Unnamed')}

In [243]:
non_unnamed_columns

{24: 'AWS',
 27: 'Azure',
 30: 'GCP',
 33: 'PySpark',
 36: 'Hadoop',
 39: 'Hive',
 42: 'Big Query',
 45: 'Tableau',
 48: 'PowerBI',
 51: 'Advanced Excel',
 54: 'Time Series Analysis',
 57: 'ML Model Deployment',
 60: 'RestAPI',
 63: 'ETL',
 66: 'Deep Learning',
 69: 'Tensorflow',
 72: 'PyTorch'}

In [244]:
student_data = pd.read_csv(r'Careers_recommendation\Student_resume_data.csv',skiprows=1)

In [245]:
student_data.head()

,Student Name,"Strength\n(Any including tools, skills)","Weakness\n(Any including tools, skills)",Current Location,Date Of Birth\n(DD/MM/YYYY),Graduation College,Graduation Degree,Graduation Stream,Year of Graduation Completion,Graduation Percentage/CGPA,Post Graduation College,Post Graduation Degree,Post Graduation Stream,Year of Post Graduation Completion,Post Graduation Percentage / CGPA,Notice Period (days),Work Exp (years),Relevant Work Exp\n(years),Designation,Company\nName,Domain\n/Industry,Domain / Industry Interested to Join as a Data Scientist,Current/Previous CTC\nin LPA,Unnamed: 23,Tool Knowledge,Self Rating \n(Out of 5),Validation certificate or proof of completion (if any),Tool Knowledge.1,Self Rating \n(Out of 5).1,Validation certificate or proof of completion (if any).1,Tool Knowledge.2,Self Rating \n(Out of 5).2,Validation certificate or proof of completion (if any).2,Tool Knowledge.3,Self Rating \n(Out of 5).3,Validation certificate or proof of completion (if any).3,Tool Knowledge.4,Self Rating \n(Out of 5).4,Validation certificate or proof of completion (if any).4,Tool Knowledge.5,Self Rating \n(Out of 5).5,Validation certificate or proof of completion (if any).5,Tool Knowledge.6,Self Rating \n(Out of 5).6,Validation certificate or proof of completion (if any).6,Tool Knowledge.7,Self Rating \n(Out of 5).7,Validation certificate or proof of completion (if any).7,Tool Knowledge.8,Self Rating \n(Out of 5).8,Validation certificate or proof of completion (if any).8,Tool Knowledge.9,Self Rating \n(Out of 5).9,Validation certificate or proof of completion (if any).9,Tool Knowledge.10,Self Rating \n(Out of 5).10,Validation certificate or proof of completion (if any).10,Tool Knowledge.11,Self Rating \n(Out of 5).11,Validation certificate or proof of completion (if any).11,Tool Knowledge.12,Self Rating \n(Out of 5).12,Validation certificate or proof of completion (if any).12,Tool Knowledge.13,Self Rating \n(Out of 5).13,Validation certificate or proof of completion (if any).13,Tool Knowledge.14,Self Rating \n(Out of 5).14,Validation certificate or proof of completion (if any).14,Tool Knowledge.15,Self Rating \n(Out of 5).15,Validation certificate or proof of completion (if any).15,Tool Knowledge.16,Self Rating \n(Out of 5).16,Validation certificate or proof of completion (if any).16
0,Abhijeet kulkarni,"Python,SQL,Excel,Tableau,Power Bi,ML,Statistics",stats,Solapur,28-04-1996,WIT Solapur,B.E,Mech Engineering,2018.0,8.19,NaN,NaN,NaN,NaN,NaN,NaN,3.5,NaN,SME/Marketing Executive/Buisness consultant,"Freelancer,Govind marketing",Education/automobile/FMCG,Any Domain,1.8,NaN,NaN,NaN,NaN,False,NaN,NaN,False,NaN,NaN,False,NaN,NaN,False,NaN,NaN,False,NaN,NaN,False,NaN,NaN,True,3.0,Great learning/Almabetter,True,3.5,NaN,True,3.5,Almabetter/Youtube,False,NaN,NaN,False,NaN,NaN,False,NaN,NaN,False,NaN,NaN,False,NaN,NaN,False,NaN,NaN,False,NaN,NaN
1,Bhaskar Tikaram Mendhe,"Python, Excel, SQL, Tableau, Power BI, Looker ...","Time series, Deep Learning",Nagpur,25-11-1995,Sant Gadge Baba Amrawati University,B.Tech,Chemical Engineering,2019.0,7.9,NaN,NaN,NaN,NaN,NaN,NaN,1.6,NaN,System Engineer,Infosys,IT,Any Domain,3.6,NaN,True,2.0,NaN,True,2.0,NaN,False,NaN,NaN,True,2.0,NaN,True,2.0,NaN,True,2.0,NaN,True,2.0,NaN,True,4.0,AlmaBetter Project,True,4.0,AlmaBetter,True,3.0,AlmaBetter,False,NaN,NaN,True,3.0,NaN,True,2.0,NaN,True,2.0,NaN,False,NaN,NaN,False,NaN,NaN,False,NaN,NaN
2,Karan Rawat,"Python, SQL, Mathematics, Statistics, Machine ...","Tableau, PowerBI",Delhi,30-09-1999,Maharaja Surajmal Institute of Technology,B.Tech,Electronics & Communications,2021.0,8.74,NaN,NaN,NaN,NaN,NaN,NaN,1.1,NaN,QA Automation Tester,Cognizant,IT,Any Domain,4.5,NaN,True,2.0,NaN,True,2.0,NaN,False,NaN,NaN,True,2.0,NaN,True,2.0,NaN,True,2.0,NaN,True,2.0,NaN,True,3.0,NaN,True,3.0,NaN,False,NaN,NaN,True,3.0,NaN,True,3.0,NaN,True,4.6,NaN,True,3.0,NaN,True,4.4,NaN,True,4.4,NaN,True,3.0,NaN
3,Vaibhav Kumar Gupta,"Python, Excel , SQL , Tableau, Power BI, R , ...","Analytical ideas ,business insights",Siliguri,25-07-1999,Cotton University,B.sc,Mathematics hons,2020.0,6.61,Cotton University,Msc,Artificial Intelligence and Machine learning,2023,9,0,0,NaN,Project Intern (Data Science),CSIR-NEIST ( Research Institute),NaN,"Health, Banking , Education, IT , Finance",0.0,NaN,False,NaN,NaN,False,NaN,NaN,False,NaN,NaN,False,NaN,NaN,False,NaN,NaN,False,NaN,NaN,False,NaN,NaN,True,4.4,Almabetter Project,True,4.5,Almabetter Project,True,4.5,Almabetter Project,True,4.5,Post Graduation Diploma in Statistical Methods...,False,NaN,NaN,False,NaN,NaN,True,4.0,NaN,True,4.6,Indian Statistical Institute Project work,True,4.2,NaN,False,NaN,NaN
4,Kritisha Panda,"Python,PowerBI, Tableau,Excel,SQL,ML","Deep Learning,NLP,Time Series, stats",Kolkata,03-06-1999,Amity University,B.Tech,Electronics and Communications,2022.0,9.6,NaN,NaN,NaN,NaN,NaN,0,1,NaN,Content Writer,A to Z Marketing Agency,Cryptocurrency/NFTs,"Health,Finance,Food,Banking",0.0,NaN,False,NaN,NaN,False,NaN,NaN,False,NaN,NaN,False,NaN,NaN,False,NaN,NaN,False,NaN,NaN,False,NaN,NaN,True,4.0,AlmaBetter Project,True,4.6,CodeBasics verified project,True,4.0,Almabetter project,False,NaN,NaN,False,NaN,NaN,False,NaN,NaN,False,NaN,NaN,False,NaN,NaN,False,NaN,NaN,False,NaN,NaN

In [246]:
new_column_names = {student_data.columns[idx]: new_name for idx, new_name in non_unnamed_columns.items() if idx < len(student_data.columns)}

In [247]:
new_column_names

{'Tool Knowledge': 'AWS',
 'Tool Knowledge.1': 'Azure',
 'Tool Knowledge.2': 'GCP',
 'Tool Knowledge.3': 'PySpark',
 'Tool Knowledge.4': 'Hadoop',
 'Tool Knowledge.5': 'Hive',
 'Tool Knowledge.6': 'Big Query',
 'Tool Knowledge.7': 'Tableau',
 'Tool Knowledge.8': 'PowerBI',
 'Tool Knowledge.9': 'Advanced Excel',
 'Tool Knowledge.10': 'Time Series Analysis',
 'Tool Knowledge.11': 'ML Model Deployment',
 'Tool Knowledge.12': 'RestAPI',
 'Tool Knowledge.13': 'ETL',
 'Tool Knowledge.14': 'Deep Learning',
 'Tool Knowledge.15': 'Tensorflow',
 'Tool Knowledge.16': 'PyTorch'}

In [248]:
student_data = student_data.rename(columns=new_column_names)

In [249]:
student_data.head()

,Student Name,"Strength\n(Any including tools, skills)","Weakness\n(Any including tools, skills)",Current Location,Date Of Birth\n(DD/MM/YYYY),Graduation College,Graduation Degree,Graduation Stream,Year of Graduation Completion,Graduation Percentage/CGPA,Post Graduation College,Post Graduation Degree,Post Graduation Stream,Year of Post Graduation Completion,Post Graduation Percentage / CGPA,Notice Period (days),Work Exp (years),Relevant Work Exp\n(years),Designation,Company\nName,Domain\n/Industry,Domain / Industry Interested to Join as a Data Scientist,Current/Previous CTC\nin LPA,Unnamed: 23,AWS,Self Rating \n(Out of 5),Validation certificate or proof of completion (if any),Azure,Self Rating \n(Out of 5).1,Validation certificate or proof of completion (if any).1,GCP,Self Rating \n(Out of 5).2,Validation certificate or proof of completion (if any).2,PySpark,Self Rating \n(Out of 5).3,Validation certificate or proof of completion (if any).3,Hadoop,Self Rating \n(Out of 5).4,Validation certificate or proof of completion (if any).4,Hive,Self Rating \n(Out of 5).5,Validation certificate or proof of completion (if any).5,Big Query,Self Rating \n(Out of 5).6,Validation certificate or proof of completion (if any).6,Tableau,Self Rating \n(Out of 5).7,Validation certificate or proof of completion (if any).7,PowerBI,Self Rating \n(Out of 5).8,Validation certificate or proof of completion (if any).8,Advanced Excel,Self Rating \n(Out of 5).9,Validation certificate or proof of completion (if any).9,Time Series Analysis,Self Rating \n(Out of 5).10,Validation certificate or proof of completion (if any).10,ML Model Deployment,Self Rating \n(Out of 5).11,Validation certificate or proof of completion (if any).11,RestAPI,Self Rating \n(Out of 5).12,Validation certificate or proof of completion (if any).12,ETL,Self Rating \n(Out of 5).13,Validation certificate or proof of completion (if any).13,Deep Learning,Self Rating \n(Out of 5).14,Validation certificate or proof of completion (if any).14,Tensorflow,Self Rating \n(Out of 5).15,Validation certificate or proof of completion (if any).15,PyTorch,Self Rating \n(Out of 5).16,Validation certificate or proof of completion (if any).16
0,Abhijeet kulkarni,"Python,SQL,Excel,Tableau,Power Bi,ML,Statistics",stats,Solapur,28-04-1996,WIT Solapur,B.E,Mech Engineering,2018.0,8.19,NaN,NaN,NaN,NaN,NaN,NaN,3.5,NaN,SME/Marketing Executive/Buisness consultant,"Freelancer,Govind marketing",Education/automobile/FMCG,Any Domain,1.8,NaN,NaN,NaN,NaN,False,NaN,NaN,False,NaN,NaN,False,NaN,NaN,False,NaN,NaN,False,NaN,NaN,False,NaN,NaN,True,3.0,Great learning/Almabetter,True,3.5,NaN,True,3.5,Almabetter/Youtube,False,NaN,NaN,False,NaN,NaN,False,NaN,NaN,False,NaN,NaN,False,NaN,NaN,False,NaN,NaN,False,NaN,NaN
1,Bhaskar Tikaram Mendhe,"Python, Excel, SQL, Tableau, Power BI, Looker ...","Time series, Deep Learning",Nagpur,25-11-1995,Sant Gadge Baba Amrawati University,B.Tech,Chemical Engineering,2019.0,7.9,NaN,NaN,NaN,NaN,NaN,NaN,1.6,NaN,System Engineer,Infosys,IT,Any Domain,3.6,NaN,True,2.0,NaN,True,2.0,NaN,False,NaN,NaN,True,2.0,NaN,True,2.0,NaN,True,2.0,NaN,True,2.0,NaN,True,4.0,AlmaBetter Project,True,4.0,AlmaBetter,True,3.0,AlmaBetter,False,NaN,NaN,True,3.0,NaN,True,2.0,NaN,True,2.0,NaN,False,NaN,NaN,False,NaN,NaN,False,NaN,NaN
2,Karan Rawat,"Python, SQL, Mathematics, Statistics, Machine ...","Tableau, PowerBI",Delhi,30-09-1999,Maharaja Surajmal Institute of Technology,B.Tech,Electronics & Communications,2021.0,8.74,NaN,NaN,NaN,NaN,NaN,NaN,1.1,NaN,QA Automation Tester,Cognizant,IT,Any Domain,4.5,NaN,True,2.0,NaN,True,2.0,NaN,False,NaN,NaN,True,2.0,NaN,True,2.0,NaN,True,2.0,NaN,True,2.0,NaN,True,3.0,NaN,True,3.0,NaN,False,NaN,NaN,True,3.0,NaN,True,3.0,NaN,True,4.6,NaN,True,3.0,NaN,True,4.4,NaN,True,4.4,NaN,True,3.0,NaN
3,Vaibhav Kumar Gupta,"Python, Excel , SQL , Tableau, Power BI, R , ...","Analytical ideas ,business insights",Siliguri,25-07-1999,Cotton University,B.sc,Mathematics hons,2020.0,6.61,Cotton University,Msc,Artificial Intelligence and Machine learning,2023,9,0,0,NaN,Project Intern (Data Science),CSIR-NEIST ( Research Institute),NaN,"Health, Banking , Education, IT , Finance",0.0,NaN,False,NaN,NaN,False,NaN,NaN,False,NaN,NaN,False,NaN,NaN,False,NaN,NaN,False,NaN,NaN,False,NaN,NaN,True,4.4,Almabetter Project,True,4.5,Almabetter Project,True,4.5,Almabetter Project,True,4.5,Post Graduation Diploma in Statistical Methods...,False,NaN,NaN,False,NaN,NaN,True,4.0,NaN,True,4.6,Indian Statistical Institute Project work,True,4.2,NaN,False,NaN,NaN
4,Kritisha Panda,"Python,PowerBI, Tableau,Excel,SQL,ML","Deep Learning,NLP,Time Series, stats",Kolkata,03-06-1999,Amity University,B.Tech,Electronics and Communications,2022.0,9.6,NaN,NaN,NaN,NaN,NaN,0,1,NaN,Content Writer,A to Z Marketing Agency,Cryptocurrency/NFTs,"Health,Finance,Food,Banking",0.0,NaN,False,NaN,NaN,False,NaN,NaN,False,NaN,NaN,False,NaN,NaN,False,NaN,NaN,False,NaN,NaN,False,NaN,NaN,True,4.0,AlmaBetter Project,True,4.6,CodeBasics verified project,True,4.0,Almabetter project,False,NaN,NaN,False,NaN,NaN,False,NaN,NaN,False,NaN,NaN,False,NaN,NaN,False,NaN,NaN,False,NaN,NaN

In [250]:
students_df = student_data.loc[:, ~student_data.columns.str.startswith(('Self', 'Validation'))]

In [251]:
students_df.head()

,Student Name,"Strength\n(Any including tools, skills)","Weakness\n(Any including tools, skills)",Current Location,Date Of Birth\n(DD/MM/YYYY),Graduation College,Graduation Degree,Graduation Stream,Year of Graduation Completion,Graduation Percentage/CGPA,Post Graduation College,Post Graduation Degree,Post Graduation Stream,Year of Post Graduation Completion,Post Graduation Percentage / CGPA,Notice Period (days),Work Exp (years),Relevant Work Exp\n(years),Designation,Company\nName,Domain\n/Industry,Domain / Industry Interested to Join as a Data Scientist,Current/Previous CTC\nin LPA,Unnamed: 23,AWS,Azure,GCP,PySpark,Hadoop,Hive,Big Query,Tableau,PowerBI,Advanced Excel,Time Series Analysis,ML Model Deployment,RestAPI,ETL,Deep Learning,Tensorflow,PyTorch
0,Abhijeet kulkarni,"Python,SQL,Excel,Tableau,Power Bi,ML,Statistics",stats,Solapur,28-04-1996,WIT Solapur,B.E,Mech Engineering,2018.0,8.19,NaN,NaN,NaN,NaN,NaN,NaN,3.5,NaN,SME/Marketing Executive/Buisness consultant,"Freelancer,Govind marketing",Education/automobile/FMCG,Any Domain,1.8,NaN,NaN,False,False,False,False,False,False,True,True,True,False,False,False,False,False,False,False
1,Bhaskar Tikaram Mendhe,"Python, Excel, SQL, Tableau, Power BI, Looker ...","Time series, Deep Learning",Nagpur,25-11-1995,Sant Gadge Baba Amrawati University,B.Tech,Chemical Engineering,2019.0,7.9,NaN,NaN,NaN,NaN,NaN,NaN,1.6,NaN,System Engineer,Infosys,IT,Any Domain,3.6,NaN,True,True,False,True,True,True,True,True,True,True,False,True,True,True,False,False,False
2,Karan Rawat,"Python, SQL, Mathematics, Statistics, Machine ...","Tableau, PowerBI",Delhi,30-09-1999,Maharaja Surajmal Institute of Technology,B.Tech,Electronics & Communications,2021.0,8.74,NaN,NaN,NaN,NaN,NaN,NaN,1.1,NaN,QA Automation Tester,Cognizant,IT,Any Domain,4.5,NaN,True,True,False,True,True,True,True,True,True,False,True,True,True,True,True,True,True
3,Vaibhav Kumar Gupta,"Python, Excel , SQL , Tableau, Power BI, R , ...","Analytical ideas ,business insights",Siliguri,25-07-1999,Cotton University,B.sc,Mathematics hons,2020.0,6.61,Cotton University,Msc,Artificial Intelligence and Machine learning,2023,9,0,0,NaN,Project Intern (Data Science),CSIR-NEIST ( Research Institute),NaN,"Health, Banking , Education, IT , Finance",0.0,NaN,False,False,False,False,False,False,False,True,True,True,True,False,False,True,True,True,False
4,Kritisha Panda,"Python,PowerBI, Tableau,Excel,SQL,ML","Deep Learning,NLP,Time Series, stats",Kolkata,03-06-1999,Amity University,B.Tech,Electronics and Communications,2022.0,9.6,NaN,NaN,NaN,NaN,NaN,0,1,NaN,Content Writer,A to Z Marketing Agency,Cryptocurrency/NFTs,"Health,Finance,Food,Banking",0.0,NaN,False,False,False,False,False,False,False,True,True,True,False,False,False,False,False,False,False

In [252]:
students_df.columns

Index(['Student Name', 'Strength\n(Any including tools, skills)',
       'Weakness\n(Any including tools, skills)', 'Current Location',
       'Date Of Birth\n(DD/MM/YYYY)', 'Graduation College',
       'Graduation Degree', 'Graduation Stream',
       'Year of Graduation Completion', 'Graduation Percentage/CGPA',
       'Post Graduation College', 'Post Graduation Degree',
       'Post Graduation Stream', 'Year of Post Graduation Completion',
       'Post Graduation Percentage / CGPA', 'Notice Period (days)',
       'Work Exp (years)', 'Relevant Work Exp\n(years)', 'Designation',
       'Company\nName', 'Domain\n/Industry',
       'Domain / Industry Interested to Join as a Data Scientist ',
       'Current/Previous CTC\nin LPA', 'Unnamed: 23', 'AWS', 'Azure', 'GCP',
       'PySpark', 'Hadoop', 'Hive', 'Big Query', 'Tableau', 'PowerBI',
       'Advanced Excel', 'Time Series Analysis', 'ML Model Deployment',
       'RestAPI', 'ETL', 'Deep Learning', 'Tensorflow', 'PyTorch'],
      dtype='object')

In [253]:
remove_cols = ['Unnamed: 23','Graduation Percentage/CGPA','Post Graduation Percentage / CGPA','Year of Graduation Completion',
               'Year of Post Graduation Completion',
               'Graduation College','Post Graduation College',
               'Domain / Industry Interested to Join as a Data Scientist ','Company\nName','Relevant Work Exp\n(years)',
               'Post Graduation Degree','Date Of Birth\n(DD/MM/YYYY)',
               'Current Location','Weakness\n(Any including tools, skills)']

In [254]:
students_df = students_df.drop(columns = remove_cols, axis = 1)

In [255]:
students_df.head()

,Student Name,"Strength\n(Any including tools, skills)",Graduation Degree,Graduation Stream,Post Graduation Stream,Notice Period (days),Work Exp (years),Designation,Domain\n/Industry,Current/Previous CTC\nin LPA,AWS,Azure,GCP,PySpark,Hadoop,Hive,Big Query,Tableau,PowerBI,Advanced Excel,Time Series Analysis,ML Model Deployment,RestAPI,ETL,Deep Learning,Tensorflow,PyTorch
0,Abhijeet kulkarni,"Python,SQL,Excel,Tableau,Power Bi,ML,Statistics",B.E,Mech Engineering,NaN,NaN,3.5,SME/Marketing Executive/Buisness consultant,Education/automobile/FMCG,1.8,NaN,False,False,False,False,False,False,True,True,True,False,False,False,False,False,False,False
1,Bhaskar Tikaram Mendhe,"Python, Excel, SQL, Tableau, Power BI, Looker ...",B.Tech,Chemical Engineering,NaN,NaN,1.6,System Engineer,IT,3.6,True,True,False,True,True,True,True,True,True,True,False,True,True,True,False,False,False
2,Karan Rawat,"Python, SQL, Mathematics, Statistics, Machine ...",B.Tech,Electronics & Communications,NaN,NaN,1.1,QA Automation Tester,IT,4.5,True,True,False,True,True,True,True,True,True,False,True,True,True,True,True,True,True
3,Vaibhav Kumar Gupta,"Python, Excel , SQL , Tableau, Power BI, R , ...",B.sc,Mathematics hons,Artificial Intelligence and Machine learning,0,0,Project Intern (Data Science),NaN,0.0,False,False,False,False,False,False,False,True,True,True,True,False,False,True,True,True,False
4,Kritisha Panda,"Python,PowerBI, Tableau,Excel,SQL,ML",B.Tech,Electronics and Communications,NaN,0,1,Content Writer,Cryptocurrency/NFTs,0.0,False,False,False,False,False,False,False,True,True,True,False,False,False,False,False,False,False

In [256]:
# renaming the columns
rename_cols = {"Strength\n(Any including tools, skills)":'Strengths', 'Notice Period (days)':'NP(days)','Domain\n/Industry' :'Domain', 
               'Current/Previous CTC\nin LPA':'Current CTC' }

In [257]:
students_df = students_df.rename(columns = rename_cols)

In [258]:
# data info
students_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53 entries, 0 to 52
Data columns (total 27 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Student Name            47 non-null     object
 1   Strengths               47 non-null     object
 2   Graduation Degree       47 non-null     object
 3   Graduation Stream       47 non-null     object
 4   Post Graduation Stream  18 non-null     object
 5   NP(days)                31 non-null     object
 6   Work Exp (years)        41 non-null     object
 7   Designation             34 non-null     object
 8   Domain                  31 non-null     object
 9   Current CTC             24 non-null     float64
 10  AWS                     52 non-null     object
 11  Azure                   53 non-null     bool
 12  GCP                     53 non-null     bool
 13  PySpark                 53 non-null     bool
 14  Hadoop                  53 non-null     bool
 15  Hive                    53 non-null     bool
 16  Big Query               53 non-null     bool
 17  Tableau                 53 non-null     bool
 18  PowerBI                 53 non-null     bool
 19  Advanced Excel          53 non-null     bool
 20  Time Series Analysis    53 non-null     bool
 21  ML Model Deployment     53 non-null     bool
 22  RestAPI                 53 non-null     bool
 23  ETL                     53 non-null     bool
 24  Deep Learning           53 non-null     bool
 25  Tensorflow              53 non-null     bool
 26  PyTorch                 53 non-null     bool
dtypes: bool(16), float64(1), object(10)
memory usage: 5.5+ KB

In [259]:
students_df.isnull().sum()

Student Name               6
Strengths                  6
Graduation Degree          6
Graduation Stream          6
Post Graduation Stream    35
NP(days)                  22
Work Exp (years)          12
Designation               19
Domain                    22
Current CTC               29
AWS                        1
Azure                      0
GCP                        0
PySpark                    0
Hadoop                     0
Hive                       0
Big Query                  0
Tableau                    0
PowerBI                    0
Advanced Excel             0
Time Series Analysis       0
ML Model Deployment        0
RestAPI                    0
ETL                        0
Deep Learning              0
Tensorflow                 0
PyTorch                    0
dtype: int64

In [260]:
# removing the rows with no student name
students_df[students_df['Student Name'].isnull() ==  True]

,Student Name,Strengths,Graduation Degree,Graduation Stream,Post Graduation Stream,NP(days),Work Exp (years),Designation,Domain,Current CTC,AWS,Azure,GCP,PySpark,Hadoop,Hive,Big Query,Tableau,PowerBI,Advanced Excel,Time Series Analysis,ML Model Deployment,RestAPI,ETL,Deep Learning,Tensorflow,PyTorch
47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
52,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [261]:
students_df = students_df.dropna(subset=['Student Name'])

In [262]:
students_df['Post_Grad'] = students_df['Post Graduation Stream'].notnull().astype(int)
students_df = students_df.drop(columns = ['Post Graduation Stream'], axis=1)

In [263]:
students_df['NP(days)'] = students_df['NP(days)'].str.extract('(\d+)')
students_df['NP(days)'] = students_df['NP(days)'].astype('float')
students_df.fillna({'NP(days)': students_df['NP(days)'].max() }, inplace = True)

<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:1: SyntaxWarning: invalid escape sequence '\d'
C:\Users\suhel\AppData\Local\Temp\ipykernel_13372\111744711.py:1: SyntaxWarning: invalid escape sequence '\d'
  students_df['NP(days)'] = students_df['NP(days)'].str.extract('(\d+)')

In [264]:
students_df['Work Exp (years)'] = students_df['Work Exp (years)'].str.extract('(\d+)')
students_df['Work Exp (years)'] = students_df['Work Exp (years)'].astype('float')
students_df['Work Exp (years)'] = students_df['Work Exp (years)'].fillna(0.0)

<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:1: SyntaxWarning: invalid escape sequence '\d'
C:\Users\suhel\AppData\Local\Temp\ipykernel_13372\2449537127.py:1: SyntaxWarning: invalid escape sequence '\d'
  students_df['Work Exp (years)'] = students_df['Work Exp (years)'].str.extract('(\d+)')

In [265]:
students_df['Current CTC'] = students_df['Current CTC'].astype('float')
students_df.fillna({'Current CTC': 0.0},inplace=True)

In [266]:
students_df['Domain'] = students_df['Domain'].fillna('None')
students_df['Designation'] = students_df['Designation'].fillna('Fresher')
students_df['AWS'] = students_df['AWS'].astype(bool)

In [267]:
# converting the bool tp int format
skills = ['AWS', 'Azure', 'GCP', 'PySpark',
       'Hadoop', 'Hive', 'Big Query', 'Tableau', 'PowerBI', 'Advanced Excel',
       'Time Series Analysis', 'ML Model Deployment', 'RestAPI', 'ETL',
       'Deep Learning', 'Tensorflow', 'PyTorch']

In [268]:
for col in skills:
    students_df[col] = students_df[col].astype(int)

In [269]:
students_df.head()

,Student Name,Strengths,Graduation Degree,Graduation Stream,NP(days),Work Exp (years),Designation,Domain,Current CTC,AWS,Azure,GCP,PySpark,Hadoop,Hive,Big Query,Tableau,PowerBI,Advanced Excel,Time Series Analysis,ML Model Deployment,RestAPI,ETL,Deep Learning,Tensorflow,PyTorch,Post_Grad
0,Abhijeet kulkarni,"Python,SQL,Excel,Tableau,Power Bi,ML,Statistics",B.E,Mech Engineering,105.0,3.0,SME/Marketing Executive/Buisness consultant,Education/automobile/FMCG,1.8,1,0,0,0,0,0,0,1,1,1,0,0,0,0,0,0,0,0
1,Bhaskar Tikaram Mendhe,"Python, Excel, SQL, Tableau, Power BI, Looker ...",B.Tech,Chemical Engineering,105.0,1.0,System Engineer,IT,3.6,1,1,0,1,1,1,1,1,1,1,0,1,1,1,0,0,0,0
2,Karan Rawat,"Python, SQL, Mathematics, Statistics, Machine ...",B.Tech,Electronics & Communications,105.0,1.0,QA Automation Tester,IT,4.5,1,1,0,1,1,1,1,1,1,0,1,1,1,1,1,1,1,0
3,Vaibhav Kumar Gupta,"Python, Excel , SQL , Tableau, Power BI, R , ...",B.sc,Mathematics hons,0.0,0.0,Project Intern (Data Science),None,0.0,0,0,0,0,0,0,0,1,1,1,1,0,0,1,1,1,0,1
4,Kritisha Panda,"Python,PowerBI, Tableau,Excel,SQL,ML",B.Tech,Electronics and Communications,0.0,1.0,Content Writer,Cryptocurrency/NFTs,0.0,0,0,0,0,0,0,0,1,1,1,0,0,0,0,0,0,0,0

In [272]:
students_df.to_csv('data/students_data.csv')