In [6]:
import pandas as pd
from slugify import slugify

In [7]:
column_names = [
"geonameid",
"name",
"asciiname",
"alternatenames",
"latitude",
"longitude",
"feature class",
"feature code",
"country code",
"cc2",
"admin1 code",
"admin2 code",
"admin3 code",
"admin4 code",
"population",
"elevation",
"dem",
"timezone",
"modification date"
]

In [8]:
df = pd.read_csv('../files_original/original.geonames.cities500.txt', sep="\t", header=None, names=column_names)
df

/Users/adipasquale/dev/greenferries/data/venv/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (13) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,geonameid,name,asciiname,alternatenames,latitude,longitude,feature class,feature code,country code,cc2,admin1 code,admin2 code,admin3 code,admin4 code,population,elevation,dem,timezone,modification date
0,3038999,Soldeu,Soldeu,NaN,42.57688,1.66769,P,PPL,AD,NaN,02,NaN,NaN,NaN,602,NaN,1832,Europe/Andorra,2017-11-06
1,3039154,El Tarter,El Tarter,"Ehl Tarter,Эл Тартер",42.57952,1.65362,P,PPL,AD,NaN,02,NaN,NaN,NaN,1052,NaN,1721,Europe/Andorra,2012-11-03
2,3039163,Sant Julià de Lòria,Sant Julia de Loria,"San Julia,San Julià,Sant Julia de Loria,Sant J...",42.46372,1.49129,P,PPLA,AD,NaN,06,NaN,NaN,NaN,8022,NaN,921,Europe/Andorra,2013-11-23
3,3039604,Pas de la Casa,Pas de la Casa,"Pas de la Kasa,Пас де ла Каса",42.54277,1.73361,P,PPL,AD,NaN,03,NaN,NaN,NaN,2363,2050.0,2106,Europe/Andorra,2008-06-09
4,3039678,Ordino,Ordino,"Ordino,ao er di nuo,orudino jiao qu,Ордино,オルデ...",42.55623,1.53319,P,PPLA,AD,NaN,05,NaN,NaN,NaN,3066,NaN,1296,Europe/Andorra,2018-10-26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192523,895269,Beitbridge,Beitbridge,"Bajtbridz,Bajtbridzh,Beitbridge,Beitbridzas,Be...",-22.21667,30.00000,P,PPL,ZW,NaN,07,NaN,NaN,NaN,26459,NaN,461,Africa/Harare,2013-03-12
192524,895308,Beatrice,Beatrice,Beatrice,-18.25283,30.84730,P,PPL,ZW,NaN,04,NaN,NaN,NaN,1647,NaN,1307,Africa/Harare,2018-05-09
192525,895417,Banket,Banket,"Banket,Banket Junction",-17.38333,30.40000,P,PPL,ZW,NaN,05,NaN,NaN,NaN,9641,NaN,1277,Africa/Harare,2013-03-12
192526,1085510,Epworth,Epworth,Epworth,-17.89000,31.14750,P,PPLX,ZW,NaN,10,NaN,NaN,NaN,123250,NaN,1508,Africa/Harare,2012-01-19
192527,1106542,Chitungwiza,Chitungwiza,"Chitungviza,Chitungwiza,Chytungviza,Citungviza...",-18.01274,31.07555,P,PPL,ZW,NaN,10,NaN,NaN,NaN,340360,NaN,1435,Africa/Harare,2019-09-05

In [10]:
# filter out out of scope countries
df['region'] = df.timezone.apply(lambda x: x.split('/')[0])
df['region'].value_counts().head(10)
df = df[~df['region'].isin(['Asia', 'Australia', 'America', 'Pacific', 'Indian'])]
df = df[~df['timezone'].isin(['Africa/Lagos', 'Africa/Johannesburg', 'Africa/Dar_es_Salaam'])]
# df[df['region'] != 'Europe']['timezone'].value_counts().head(30)
df

,geonameid,name,asciiname,alternatenames,latitude,longitude,feature class,feature code,country code,cc2,admin1 code,admin2 code,admin3 code,admin4 code,population,elevation,dem,timezone,modification date,region
0,3038999,Soldeu,Soldeu,NaN,42.57688,1.66769,P,PPL,AD,NaN,02,NaN,NaN,NaN,602,NaN,1832,Europe/Andorra,2017-11-06,Europe
1,3039154,El Tarter,El Tarter,"Ehl Tarter,Эл Тартер",42.57952,1.65362,P,PPL,AD,NaN,02,NaN,NaN,NaN,1052,NaN,1721,Europe/Andorra,2012-11-03,Europe
2,3039163,Sant Julià de Lòria,Sant Julia de Loria,"San Julia,San Julià,Sant Julia de Loria,Sant J...",42.46372,1.49129,P,PPLA,AD,NaN,06,NaN,NaN,NaN,8022,NaN,921,Europe/Andorra,2013-11-23,Europe
3,3039604,Pas de la Casa,Pas de la Casa,"Pas de la Kasa,Пас де ла Каса",42.54277,1.73361,P,PPL,AD,NaN,03,NaN,NaN,NaN,2363,2050.0,2106,Europe/Andorra,2008-06-09,Europe
4,3039678,Ordino,Ordino,"Ordino,ao er di nuo,orudino jiao qu,Ордино,オルデ...",42.55623,1.53319,P,PPLA,AD,NaN,05,NaN,NaN,NaN,3066,NaN,1296,Europe/Andorra,2018-10-26,Europe
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192523,895269,Beitbridge,Beitbridge,"Bajtbridz,Bajtbridzh,Beitbridge,Beitbridzas,Be...",-22.21667,30.00000,P,PPL,ZW,NaN,07,NaN,NaN,NaN,26459,NaN,461,Africa/Harare,2013-03-12,Africa
192524,895308,Beatrice,Beatrice,Beatrice,-18.25283,30.84730,P,PPL,ZW,NaN,04,NaN,NaN,NaN,1647,NaN,1307,Africa/Harare,2018-05-09,Africa
192525,895417,Banket,Banket,"Banket,Banket Junction",-17.38333,30.40000,P,PPL,ZW,NaN,05,NaN,NaN,NaN,9641,NaN,1277,Africa/Harare,2013-03-12,Africa
192526,1085510,Epworth,Epworth,Epworth,-17.89000,31.14750,P,PPLX,ZW,NaN,10,NaN,NaN,NaN,123250,NaN,1508,Africa/Harare,2012-01-19,Africa
192527,1106542,Chitungwiza,Chitungwiza,"Chitungviza,Chitungwiza,Chytungviza,Citungviza...",-18.01274,31.07555,P,PPL,ZW,NaN,10,NaN,NaN,NaN,340360,NaN,1435,Africa/Harare,2019-09-05,Africa

In [11]:
def get_names(row):
    names = [row['name']] 
    names += (row['alternatenames'].split(',') if isinstance(row['alternatenames'], str) else [])
    return names
df['all_names'] = df.apply(get_names, axis=1)

In [12]:
df_all = df.explode('all_names')
df_all

,geonameid,name,asciiname,alternatenames,latitude,longitude,feature class,feature code,country code,cc2,...,admin2 code,admin3 code,admin4 code,population,elevation,dem,timezone,modification date,region,all_names
0,3038999,Soldeu,Soldeu,NaN,42.57688,1.66769,P,PPL,AD,NaN,...,NaN,NaN,NaN,602,NaN,1832,Europe/Andorra,2017-11-06,Europe,Soldeu
1,3039154,El Tarter,El Tarter,"Ehl Tarter,Эл Тартер",42.57952,1.65362,P,PPL,AD,NaN,...,NaN,NaN,NaN,1052,NaN,1721,Europe/Andorra,2012-11-03,Europe,El Tarter
1,3039154,El Tarter,El Tarter,"Ehl Tarter,Эл Тартер",42.57952,1.65362,P,PPL,AD,NaN,...,NaN,NaN,NaN,1052,NaN,1721,Europe/Andorra,2012-11-03,Europe,Ehl Tarter
1,3039154,El Tarter,El Tarter,"Ehl Tarter,Эл Тартер",42.57952,1.65362,P,PPL,AD,NaN,...,NaN,NaN,NaN,1052,NaN,1721,Europe/Andorra,2012-11-03,Europe,Эл Тартер
2,3039163,Sant Julià de Lòria,Sant Julia de Loria,"San Julia,San Julià,Sant Julia de Loria,Sant J...",42.46372,1.49129,P,PPLA,AD,NaN,...,NaN,NaN,NaN,8022,NaN,921,Europe/Andorra,2013-11-23,Europe,Sant Julià de Lòria
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192527,1106542,Chitungwiza,Chitungwiza,"Chitungviza,Chitungwiza,Chytungviza,Citungviza...",-18.01274,31.07555,P,PPL,ZW,NaN,...,NaN,NaN,NaN,340360,NaN,1435,Africa/Harare,2019-09-05,Africa,Čitungviza
192527,1106542,Chitungwiza,Chitungwiza,"Chitungviza,Chitungwiza,Chytungviza,Citungviza...",-18.01274,31.07555,P,PPL,ZW,NaN,...,NaN,NaN,NaN,340360,NaN,1435,Africa/Harare,2019-09-05,Africa,Читунгвиза
192527,1106542,Chitungwiza,Chitungwiza,"Chitungviza,Chitungwiza,Chytungviza,Citungviza...",-18.01274,31.07555,P,PPL,ZW,NaN,...,NaN,NaN,NaN,340360,NaN,1435,Africa/Harare,2019-09-05,Africa,Читунгвіза
192527,1106542,Chitungwiza,Chitungwiza,"Chitungviza,Chitungwiza,Chytungviza,Citungviza...",-18.01274,31.07555,P,PPL,ZW,NaN,...,NaN,NaN,NaN,340360,NaN,1435,Africa/Harare,2019-09-05,Africa,Чытунгвіза
192527,1106542,Chitungwiza,Chitungwiza,"Chitungviza,Chitungwiza,Chytungviza,Citungviza...",-18.01274,31.07555,P,PPL,ZW,NaN,...,NaN,NaN,NaN,340360,NaN,1435,Africa/Harare,2019-09-05,Africa,چیتونگویزا

In [13]:
df_all = df_all[['geonameid', 'name', 'all_names', 'latitude', 'longitude', 'country code', 'population']]
df_all.rename(columns={'all_names': 'name_alt', 'name': 'name_main'}, inplace=True)
df_all['name_alt_slug'] = df_all.name_alt.apply(lambda x: slugify(x))
df_all

/Users/adipasquale/dev/greenferries/data/venv/lib/python3.7/site-packages/pandas/core/frame.py:4301: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
/Users/adipasquale/dev/greenferries/data/venv/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,geonameid,name_main,name_alt,latitude,longitude,country code,population,name_alt_slug
0,3038999,Soldeu,Soldeu,42.57688,1.66769,AD,602,Soldeu
1,3039154,El Tarter,El Tarter,42.57952,1.65362,AD,1052,El-Tarter
1,3039154,El Tarter,Ehl Tarter,42.57952,1.65362,AD,1052,Ehl-Tarter
1,3039154,El Tarter,Эл Тартер,42.57952,1.65362,AD,1052,El-Tarter
2,3039163,Sant Julià de Lòria,Sant Julià de Lòria,42.46372,1.49129,AD,8022,Sant-Julia-de-Loria
...,...,...,...,...,...,...,...,...
192527,1106542,Chitungwiza,Čitungviza,-18.01274,31.07555,ZW,340360,Citungviza
192527,1106542,Chitungwiza,Читунгвиза,-18.01274,31.07555,ZW,340360,Chitungviza
192527,1106542,Chitungwiza,Читунгвіза,-18.01274,31.07555,ZW,340360,Chitungviza
192527,1106542,Chitungwiza,Чытунгвіза,-18.01274,31.07555,ZW,340360,Chytungviza
192527,1106542,Chitungwiza,چیتونگویزا,-18.01274,31.07555,ZW,340360,chytwngwyz

In [59]:
df_by_slug = df_all.set_index('name_alt_slug')
df_by_slug

,geonameid,name_main,name_alt,latitude,longitude,country code,population
name_alt_slug,,,,,,,
soldeu,3038999,Soldeu,Soldeu,42.57688,1.66769,AD,602
el-tarter,3039154,El Tarter,El Tarter,42.57952,1.65362,AD,1052
ehl-tarter,3039154,El Tarter,Ehl Tarter,42.57952,1.65362,AD,1052
el-tarter,3039154,El Tarter,Эл Тартер,42.57952,1.65362,AD,1052
sant-julia-de-loria,3039163,Sant Julià de Lòria,Sant Julià de Lòria,42.46372,1.49129,AD,8022
...,...,...,...,...,...,...,...
citungviza,1106542,Chitungwiza,Čitungviza,-18.01274,31.07555,ZW,340360
chitungviza,1106542,Chitungwiza,Читунгвиза,-18.01274,31.07555,ZW,340360
chitungviza,1106542,Chitungwiza,Читунгвіза,-18.01274,31.07555,ZW,340360
chytungviza,1106542,Chitungwiza,Чытунгвіза,-18.01274,31.07555,ZW,340360
chytwngwyz,1106542,Chitungwiza,چیتونگویزا,-18.01274,31.07555,ZW,340360

In [14]:
df_scraped = pd.read_json('../files_original/original.greenferries.scraped_ship_routes.json')
df_scraped.rename(columns={'cityA': 'city_a', 'cityB': 'city_b', 'company_name': 'company', 'shipName': 'ship'}, inplace=True)
df_scraped

         city_a       city_b          companyName                 ship
0     Algésiras   Tanger Med     Trasmediterranea     Ciudad De Málaga
1     Astypalea        Tilos    Blue Star Ferries     Blue Star Patmos
2        Chalki    Héraklion           Anek Lines         F/B Prevelis
3      Le Pirée       Rhodes    Blue Star Ferries          Blue Star 1
4     Stockholm        Turku        Tallink Silja               Galaxy
..          ...          ...                  ...                  ...
479     Alcudia   Ciutadella             Balearia       Martin I Soler
480   Mariehamn      Tallinn        Tallink Silja           Victoria I
481       Leros        Paros    Blue Star Ferries          Blue Star 1
482       Leros  Symi (Simi)  Dodekanisos Seaways  Dodekanisos Express
483  Fishbourne   Portsmouth            Wightlink    Victoria Of Wight

[484 rows x 4 columns]

In [15]:
all_cities = set(list(df_scraped.city_a) + list(df_scraped.city_b))

In [16]:
df_scraped_cities = pd.DataFrame(pd.Series(list(all_cities)))
df_scraped_cities.columns = ['scraped_name']
df_scraped_cities['scraped_slug'] = df_scraped_cities.scraped_name.apply(slugify)
df_scraped_cities.set_index('scraped_slug', inplace=True)
df_scraped_cities['scraped_slug'] = df_scraped_cities.index
df_scraped_cities = df_scraped_cities.join(df_by_slug)
df_misses = df_scraped_cities[df_scraped_cities.geonameid.isnull()]
df_scraped_cities_matched = df_scraped_cities[~df_scraped_cities.geonameid.isnull()]
df_scraped_cities_matched = df_scraped_cities_matched.groupby('scraped_slug').first()
df_scraped_cities_matched

NameError: name 'df_by_slug' is not defined

In [180]:
manual_fixes = {
  "aegiali-amorgos": 6941718,
  "agathonisi": 8202413,
  "agistri": 6950985,
  "agistri-myli": 6950985,
  "alonissos": 265263,
  "amsterdam-ijmuiden": 2753376,
  "astypalea": 264408,
  "chora-skopelos": 253581,
  "diafani": 263158,
  "donoussa": 262996,
  "egine": 265502,
  "evdilos": 262583,
  "fishbourne": 2649377,
  "formentera": 2511381,
  "glossa-skopelos": 262019,
  "guernesey": 3042287,
  "gustavia": 3579132,
  "hermione": 262607,
  "jersey-st-helier": 3042091,
  "kasos": 262217,
  "katapola-amorgos": 260688,
  "koufonissi": 260551,
  "limnos-myrina": 256930,
  "lipsi": 258261,
  "liverpool-birkenhead": 2655613,
  "nisyros": 262695,
  "palerme-termini-imerese": 2523920,
  "philipsburg": 3513392,
  "poros-cephalonie": 254865,
  "poros-iles-saroniques": 254865,
  "portsmouth-harbour": 2639996,
  "schinoussa": 253650,
  "symi-simi": 253858,
  "tanger-med": 2530335,
  "thera-santorin": 252920,
  "tilos": 257400,
}

In [181]:
df_misses
# [print(r) for r in misses.index]
for slug, geonameid in manual_fixes.items():
    df_misses.at[slug, 'geonameid'] = geonameid
df_misses

,scraped_name,scraped_slug,geonameid,name_main,name_alt,latitude,longitude,country code,population
aegiali-amorgos,Aegiali (Amorgos),aegiali-amorgos,6941718.0,NaN,NaN,NaN,NaN,NaN,NaN
agathonisi,Agathonisi,agathonisi,8202413.0,NaN,NaN,NaN,NaN,NaN,NaN
agistri,Agistri,agistri,6950985.0,NaN,NaN,NaN,NaN,NaN,NaN
agistri-myli,Agistri Myli,agistri-myli,6950985.0,NaN,NaN,NaN,NaN,NaN,NaN
alonissos,Alonissos,alonissos,265263.0,NaN,NaN,NaN,NaN,NaN,NaN
amsterdam-ijmuiden,Amsterdam (Ijmuiden),amsterdam-ijmuiden,2753376.0,NaN,NaN,NaN,NaN,NaN,NaN
astypalea,Astypalea,astypalea,264408.0,NaN,NaN,NaN,NaN,NaN,NaN
chora-skopelos,Chora (Skopelos),chora-skopelos,253581.0,NaN,NaN,NaN,NaN,NaN,NaN
cos,Cos,cos,NaN,NaN,NaN,NaN,NaN,NaN,NaN
diafani,Diafani,diafani,263158.0,NaN,NaN,NaN,NaN,NaN,NaN
donoussa,Donoussa,donoussa,262996.0,NaN,NaN,NaN,NaN,NaN,NaN
egine,Égine,egine,265502.0,NaN,NaN,NaN,NaN,NaN,NaN
evdilos,Evdilos,evdilos,262583.0,NaN,NaN,NaN,NaN,NaN,NaN
fishbourne,Fishbourne,fishbourne,2649377.0,NaN,NaN,NaN,NaN,NaN,NaN
formentera,Formentera,formentera,2511381.0,NaN,NaN,NaN,NaN,NaN,NaN
glossa-skopelos,Glossa (Skopelos),glossa-skopelos,262019.0,NaN,NaN,NaN,NaN,NaN,NaN
guernesey,Guernesey,guernesey,3042287.0,NaN,NaN,NaN,NaN,NaN,NaN
gustavia,Gustavia,gustavia,3579132.0,NaN,NaN,NaN,NaN,NaN,NaN
hermione,Hermione,hermione,262607.0,NaN,NaN,NaN,NaN,NaN,NaN
jersey-st-helier,Jersey (St Helier),jersey-st-helier,3042091.0,NaN,NaN,NaN,NaN,NaN,NaN
kasos,Kasos,kasos,262217.0,NaN,NaN,NaN,NaN,NaN,NaN
katapola-amorgos,Katapola (Amorgos),katapola-amorgos,260688.0,NaN,NaN,NaN,NaN,NaN,NaN
koufonissi,Koufonissi,koufonissi,260551.0,NaN,NaN,NaN,NaN,NaN,NaN
leros,Leros,leros,NaN,NaN,NaN,NaN,NaN,NaN,NaN
limnos-myrina,Limnos (Myrina),limnos-myrina,256930.0,NaN,NaN,NaN,NaN,NaN,NaN
lipsi,Lipsi,lipsi,258261.0,NaN,NaN,NaN,NaN,NaN,NaN
liverpool-birkenhead,Liverpool Birkenhead,liverpool-birkenhead,2655613.0,NaN,NaN,NaN,NaN,NaN,NaN
nisyros,Nisyros,nisyros,262695.0,NaN,NaN,NaN,NaN,NaN,NaN
palerme-termini-imerese,Palerme Termini Imerese,palerme-termini-imerese,2523920.0,NaN,NaN,NaN,NaN,NaN,NaN
philipsburg,Philipsburg,philipsburg,3513392.0,NaN,NaN,NaN,NaN,NaN,NaN
picton,Picton,picton,NaN,NaN,NaN,NaN,NaN,NaN,NaN
poros-cephalonie,Poros (Céphalonie),poros-cephalonie,254865.0,NaN,NaN,NaN,NaN,NaN,NaN
poros-iles-saroniques,Poros (Iles Saroniques),poros-iles-saroniques,254865.0,NaN,NaN,NaN,NaN,NaN,NaN
portsmouth-harbour,Portsmouth Harbour,portsmouth-harbour,2639996.0,NaN,NaN,NaN,NaN,NaN,NaN
schinoussa,Schinoussa,schinoussa,253650.0,NaN,NaN,NaN,NaN,NaN,NaN
symi-simi,Symi (Simi),symi-simi,253858.0,NaN,NaN,NaN,NaN,NaN,NaN
tanger-med,Tanger Med,tanger-med,2530335.0,NaN,NaN,NaN,NaN,NaN,NaN
thera-santorin,Théra (Santorin),thera-santorin,252920.0,NaN,NaN,NaN,NaN,NaN,NaN
tilos,Tilos,tilos,257400.0,NaN,NaN,NaN,NaN,NaN,NaN

In [182]:
df_misses_matched = df_misses[~df_misses['geonameid'].isnull()]
df_misses_matched['scraped_slug'] = df_misses_matched.index
df_misses_matched = df_misses_matched[['scraped_name', 'scraped_slug', 'geonameid']]
df_misses_matched.set_index('geonameid', inplace=True)
df_misses_fixed = df_misses_matched.join(df_all.set_index('geonameid'))
df_misses_fixed = df_misses_fixed.groupby('geonameid').first()
df_misses_fixed['geonameid'] = df_misses_fixed.index
df_misses_fixed.set_index('scraped_slug', inplace=True)
df_misses_fixed = df_misses_fixed[['scraped_name', 'geonameid', 'name_main', 'name_alt', 'latitude', 'longitude', 'country code', 'population']]
df_misses_fixed

/Users/adipasquale/.venvs/greenferries-data/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,scraped_name,geonameid,name_main,name_alt,latitude,longitude,country code,population
scraped_slug,,,,,,,,
thera-santorin,Théra (Santorin),252920.0,Firá,Firá,36.42107,25.43087,GR,2376.0
chora-skopelos,Chora (Skopelos),253581.0,Skópelos,Skópelos,39.12144,23.72686,GR,2886.0
schinoussa,Schinoussa,253650.0,NaN,NaN,NaN,NaN,NaN,NaN
symi-simi,Symi (Simi),253858.0,Sými,Sými,36.61547,27.83619,GR,2354.0
poros-cephalonie,Poros (Céphalonie),254865.0,Póros,Póros,37.49944,23.45361,GR,3651.0
limnos-myrina,Limnos (Myrina),256930.0,Mýrina,Mýrina,39.87483,25.06359,GR,5406.0
tilos,Tilos,257400.0,Megálo Chorió,Megálo Chorió,36.45505,27.34563,GR,0.0
lipsi,Lipsi,258261.0,Leipsoí,Leipsoí,37.28333,26.76667,GR,0.0
koufonissi,Koufonissi,260551.0,NaN,NaN,NaN,NaN,NaN,NaN
katapola-amorgos,Katapola (Amorgos),260688.0,NaN,NaN,NaN,NaN,NaN,NaN
glossa-skopelos,Glossa (Skopelos),262019.0,Glóssa,Glóssa,39.17519,23.61572,GR,987.0
kasos,Kasos,262217.0,Fry,Fry,35.41623,26.92328,GR,357.0
evdilos,Evdilos,262583.0,NaN,NaN,NaN,NaN,NaN,NaN
hermione,Hermione,262607.0,Ermióni,Ermióni,37.38492,23.24686,GR,2505.0
nisyros,Nisyros,262695.0,NaN,NaN,NaN,NaN,NaN,NaN
donoussa,Donoussa,262996.0,NaN,NaN,NaN,NaN,NaN,NaN
diafani,Diafani,263158.0,NaN,NaN,NaN,NaN,NaN,NaN
astypalea,Astypalea,264408.0,Astypálaia,Astypálaia,36.55000,26.35000,GR,1129.0
alonissos,Alonissos,265263.0,NaN,NaN,NaN,NaN,NaN,NaN
egine,Égine,265502.0,Aegina,Aegina,37.74667,23.42750,GR,6867.0
formentera,Formentera,2511381.0,Sant Francesc de Formentera,Sant Francesc de Formentera,38.70566,1.42893,ES,2656.0
palerme-termini-imerese,Palerme Termini Imerese,2523920.0,Palermo,Palermo,38.13205,13.33561,IT,648260.0
tanger-med,Tanger Med,2530335.0,Tangier,Tangier,35.76727,-5.79975,MA,688356.0
portsmouth-harbour,Portsmouth Harbour,2639996.0,Portsmouth,Portsmouth,50.79899,-1.09125,GB,194150.0
fishbourne,Fishbourne,2649377.0,NaN,NaN,NaN,NaN,NaN,NaN
liverpool-birkenhead,Liverpool Birkenhead,2655613.0,Birkenhead,Birkenhead,53.39337,-3.01479,GB,325264.0
amsterdam-ijmuiden,Amsterdam (Ijmuiden),2753376.0,NaN,NaN,NaN,NaN,NaN,NaN
jersey-st-helier,Jersey (St Helier),3042091.0,Saint Helier,Saint Helier,49.18804,-2.10491,JE,28000.0
guernesey,Guernesey,3042287.0,Saint Peter Port,Saint Peter Port,49.45981,-2.53527,GG,16488.0
philipsburg,Philipsburg,3513392.0,NaN,NaN,NaN,NaN,NaN,NaN
gustavia,Gustavia,3579132.0,NaN,NaN,NaN,NaN,NaN,NaN
aegiali-amorgos,Aegiali (Amorgos),6941718.0,NaN,NaN,NaN,NaN,NaN,NaN
agistri,Agistri,6950985.0,NaN,NaN,NaN,NaN,NaN,NaN
agathonisi,Agathonisi,8202413.0,Megálo Chorió,Megálo Chorió,37.45820,26.97272,GR,168.0

In [183]:
df_scraped_cities_matched_and_fixed = pd.concat([df_scraped_cities_matched, df_misses_fixed])
df_scraped_cities_matched_and_fixed = df_scraped_cities_matched_and_fixed[~df_scraped_cities_matched_and_fixed['country code'].isnull()]
df_scraped_cities_matched_and_fixed

,scraped_name,geonameid,name_main,name_alt,latitude,longitude,country code,population
scraped_slug,,,,,,,,
acciaroli,Acciaroli,3183551.0,Acciaroli,Acciaroli,40.18097,15.02724,IT,663.0
agios-efstratios,Agios Efstratios,263960.0,Ágios Efstrátios,Ágios Efstrátios,39.53889,24.99167,GR,0.0
agios-kirikos,Agios Kirikos,263869.0,Áyios Kírikos,Agios Kirikos,37.78773,20.83085,GR,733.0
agropoli,Agropoli,3183412.0,Agropoli,Agropoli,40.34923,14.99067,IT,17335.0
alcudia,Alcudia,2522085.0,L'Alcúdia,Alcudia,39.19717,-0.50537,ES,11378.0
...,...,...,...,...,...,...,...,...
portsmouth-harbour,Portsmouth Harbour,2639996.0,Portsmouth,Portsmouth,50.79899,-1.09125,GB,194150.0
liverpool-birkenhead,Liverpool Birkenhead,2655613.0,Birkenhead,Birkenhead,53.39337,-3.01479,GB,325264.0
jersey-st-helier,Jersey (St Helier),3042091.0,Saint Helier,Saint Helier,49.18804,-2.10491,JE,28000.0
guernesey,Guernesey,3042287.0,Saint Peter Port,Saint Peter Port,49.45981,-2.53527,GG,16488.0
agathonisi,Agathonisi,8202413.0,Megálo Chorió,Megálo Chorió,37.45820,26.97272,GR,168.0

In [191]:
df_scraped['city_a_slug'] = df_scraped.city_a.apply(slugify)
df_scraped['city_b_slug'] = df_scraped.city_b.apply(slugify)

In [238]:
def get_city(scraped_city_name):
    slug = slugify(scraped_city_name)
    if slug not in df_scraped_cities_matched_and_fixed.index:
        return {}
    city = df_scraped_cities_matched_and_fixed.loc[slug]
    return city

for suffix in ['a', 'b']:
    df_scraped[f'city_{suffix}_geonameid'] = df_scraped[f'city_{suffix}'].apply(lambda x: get_city(x).get('geonameid'))
    df_scraped[f'city_{suffix}_country_code'] = df_scraped[f'city_{suffix}'].apply(lambda x: get_city(x).get('country code'))
    df_scraped[f'city_{suffix}_latitude'] = df_scraped[f'city_{suffix}'].apply(lambda x: get_city(x).get('latitude'))
    df_scraped[f'city_{suffix}_longitude'] = df_scraped[f'city_{suffix}'].apply(lambda x: get_city(x).get('longitude'))

df_scraped_usable = df_scraped[df_scraped.city_a_geonameid.notnull()]
df_scraped_usable = df_scraped_usable[df_scraped_usable.city_b_geonameid.notnull()]
df_scraped_usable

,city_a,city_b,companyName,ship,city_a_slug,city_b_slug,city_a_country_code,city_a_latitude,city_a_longitude,city_b_country_code,city_b_latitude,city_b_longitude,city_a_geonameid,city_b_geonameid
0,Algésiras,Tanger Med,Trasmediterranea,Ciudad De Málaga,algesiras,tanger-med,ES,36.13326,-5.45051,MA,35.76727,-5.79975,2522013.0,2530335.0
1,Astypalea,Tilos,Blue Star Ferries,Blue Star Patmos,astypalea,tilos,GR,36.55000,26.35000,GR,36.45505,27.34563,264408.0,257400.0
2,Chalki,Héraklion,Anek Lines,F/B Prevelis,chalki,heraklion,GR,39.56853,22.54017,GR,35.32787,25.14341,260144.0,261745.0
3,Le Pirée,Rhodes,Blue Star Ferries,Blue Star 1,le-piree,rhodes,GR,37.94203,23.64619,GR,36.43556,28.22199,255274.0,400666.0
4,Stockholm,Turku,Tallink Silja,Galaxy,stockholm,turku,SE,59.32938,18.06871,FI,60.45148,22.26869,2673730.0,633679.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
476,Le Pirée,Naxos,Blue Star Ferries,Blue Star Delos,le-piree,naxos,GR,37.94203,23.64619,GR,37.10556,25.37639,255274.0,256632.0
477,Algésiras,Ceuta,Balearia,Passio Per Formentera,algesiras,ceuta,ES,36.13326,-5.45051,ES,35.88919,-5.32042,2522013.0,6362987.0
478,Igoumenitsa,Venise,Anek Superfast,Asterion Ii,igoumenitsa,venise,GR,39.50342,20.26728,FR,45.69706,4.88593,261807.0,2970072.0
479,Alcudia,Ciutadella,Balearia,Martin I Soler,alcudia,ciutadella,ES,39.19717,-0.50537,ES,40.00112,3.84144,2522085.0,3124967.0
480,Mariehamn,Tallinn,Tallink Silja,Victoria I,mariehamn,tallinn,AX,60.09726,19.93481,EE,59.43696,24.75353,3041732.0,588409.0

In [236]:
df_thetis = pd.read_csv(f"thetis_mrv_2019_12_24.pax.with_co2_data.csv")
df_thetis = df_thetis[['imo', 'name']]
df_thetis

         imo              name
0    5383304           ASTORIA
1    6417097        MARCO POLO
2    6511128        RED STAR 1
3    6602898     OCEAN MAJESTY
4    7037806             BOHUS
..       ...               ...
758  9809095  GARDENIA SEAWAYS
759  9809100    TULIPA SEAWAYS
760  9814026      LE LAPEROUSE
761  9814038      LE CHAMPLAIN
762  9848467        ALF POLLAK

[763 rows x 2 columns]

In [239]:
df_thetis['ship_slug'] = df_thetis.name.apply(slugify)
df_scraped_usable['ship_slug'] = df_scraped_usable.ship.apply(slugify)
df_scraped_usable = df_scraped_usable.set_index('ship_slug').join(df_thetis.set_index('ship_slug'))

In [240]:
df_scraped_usable
df_scraped_usable[df_scraped_usable['imo'].notnull()]

,city_a,city_b,companyName,ship,city_a_slug,city_b_slug,city_a_country_code,city_a_latitude,city_a_longitude,city_b_country_code,city_b_latitude,city_b_longitude,city_a_geonameid,city_b_geonameid,imo,name
ship_slug,,,,,,,,,,,,,,,,
abel-matutes,Barcelone,Palma,Balearia,Abel Matutes,barcelone,palma,ES,41.38879,2.15899,ES,39.56939,2.65024,3128760.0,2512989.0,9441130.0,ABEL MATUTES
al-andalus-express,Algésiras,Tanger Med,Trasmediterranea,Al Andalus Express,algesiras,tanger-med,ES,36.13326,-5.45051,MA,35.76727,-5.79975,2522013.0,2530335.0,8512152.0,AL ANDALUS EXPRESS
amorella,Stockholm,Turku,Viking Line,Amorella,stockholm,turku,SE,59.32938,18.06871,FI,60.45148,22.26869,2673730.0,633679.0,8601915.0,AMORELLA
asterion-ii,Patras,Venise,Anek Superfast,Asterion Ii,patras,venise,GR,38.24444,21.73444,FR,45.69706,4.88593,255683.0,2970072.0,8922163.0,ASTERION II
asterion-ii,Igoumenitsa,Venise,Anek Superfast,Asterion Ii,igoumenitsa,venise,GR,39.50342,20.26728,FR,45.69706,4.88593,261807.0,2970072.0,8922163.0,ASTERION II
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
urd,Liepaja,Travemunde,Stena Line,Urd,liepaja,travemunde,LV,56.50474,21.01085,DE,53.96304,10.87090,457954.0,2821480.0,7826855.0,URD
victoria-i,Mariehamn,Tallinn,Tallink Silja,Victoria I,mariehamn,tallinn,AX,60.09726,19.93481,EE,59.43696,24.75353,3041732.0,588409.0,9281281.0,VICTORIA I
viking-grace,Stockholm,Turku,Viking Line,Viking Grace,stockholm,turku,SE,59.32938,18.06871,FI,60.45148,22.26869,2673730.0,633679.0,9606900.0,VIKING GRACE
volcan-de-tinamar,Barcelone,Palma,Trasmediterranea,Volcán De Tinamar,barcelone,palma,ES,41.38879,2.15899,ES,39.56939,2.65024,3128760.0,2512989.0,9506291.0,VOLCAN DE TINAMAR
volcan-de-tinamar,Barcelone,Ibiza,Trasmediterranea,Volcán De Tinamar,barcelone,ibiza,ES,41.38879,2.15899,ES,38.90883,1.43296,3128760.0,2516479.0,9506291.0,VOLCAN DE TINAMAR

In [241]:
df_scraped_usable_final = df_scraped_usable.groupby(['city_a', 'city_b', 'imo']).first()
df_scraped_usable_final

                                                  companyName  \
city_a           city_b          imo
Agios Efstratios Kavala          9215555.0  Blue Star Ferries
                 Limnos (Myrina) 9215555.0  Blue Star Ferries
Agios Kirikos    Fournoi         9215555.0  Blue Star Ferries
                 Mytilene        9215555.0  Blue Star Ferries
Alcudia          Barcelone       9390367.0           Balearia
...                                                       ...
Stockholm        Turku           9354284.0      Tallink Silja
                                 9606900.0        Viking Line
Symi (Simi)      Tilos           9215555.0  Blue Star Ferries
Syros            Tinos           9241786.0  Blue Star Ferries
                 Vathi           9215555.0  Blue Star Ferries

                                                       ship       city_a_slug  \
city_a           city_b          imo
Agios Efstratios Kavala          9215555.0     Nissos Chios  agios-efstratios
                 Limnos (Myrina) 9215555.0     Nissos Chios  agios-efstratios
Agios Kirikos    Fournoi         9215555.0     Nissos Chios     agios-kirikos
                 Mytilene        9215555.0     Nissos Chios     agios-kirikos
Alcudia          Barcelone       9390367.0   Martin I Soler           alcudia
...                                                     ...               ...
Stockholm        Turku           9354284.0  Baltic Princess         stockholm
                                 9606900.0     Viking Grace         stockholm
Symi (Simi)      Tilos           9215555.0     Nissos Chios         symi-simi
Syros            Tinos           9241786.0  Blue Star Naxos             syros
                 Vathi           9215555.0     Nissos Chios             syros

                                              city_b_slug city_a_country_code  \
city_a           city_b          imo
Agios Efstratios Kavala          9215555.0         kavala                  GR
                 Limnos (Myrina) 9215555.0  limnos-myrina                  GR
Agios Kirikos    Fournoi         9215555.0        fournoi                  GR
                 Mytilene        9215555.0       mytilene                  GR
Alcudia          Barcelone       9390367.0      barcelone                  ES
...                                                   ...                 ...
Stockholm        Turku           9354284.0          turku                  SE
                                 9606900.0          turku                  SE
Symi (Simi)      Tilos           9215555.0          tilos                  GR
Syros            Tinos           9241786.0          tinos                  GR
                 Vathi           9215555.0          vathi                  GR

                                            city_a_latitude  city_a_longitude  \
city_a           city_b          imo
Agios Efstratios Kavala          9215555.0         39.53889          24.99167
                 Limnos (Myrina) 9215555.0         39.53889          24.99167
Agios Kirikos    Fournoi         9215555.0         37.78773          20.83085
                 Mytilene        9215555.0         37.78773          20.83085
Alcudia          Barcelone       9390367.0         39.19717          -0.50537
...                                                     ...               ...
Stockholm        Turku           9354284.0         59.32938          18.06871
                                 9606900.0         59.32938          18.06871
Symi (Simi)      Tilos           9215555.0         36.61547          27.83619
Syros            Tinos           9241786.0         37.44997          24.93562
                 Vathi           9215555.0         37.44997          24.93562

                                           city_b_country_code  \
city_a           city_b          imo
Agios Efstratios Kavala          9215555.0                  GR
                 Limnos (Myrina) 9215555.0                  GR
Agios Kirikos    Fournoi         9215555.0                  GR
                 Mytilene        9215555.0                  GR
Alcudia          Barcelone       9390367.0                  ES
...                                                        ...
Stockholm        Turku           9354284.0                  FI
                                 9606900.0                  FI
Symi (Simi)      Tilos           9215555.0                  GR
Syros            Tinos           9241786.0                  GR
                 Vathi           9215555.0                  GR

                                            city_b_latitude  city_b_longitude  \
city_a           city_b          imo
Agios Efstratios Kavala          9215555.0         40.93959          24.40687
                 Limnos (Myrina) 9215555.0         39.87483          25.06359
Agios Kirikos    Fournoi         9215555.0         37.57850          26.48069
                 Mytilene        9215555.0         39.10772          26.55529
Alcudia          Barcelone       9390367.0         41.38879           2.15899
...                                                     ...               ...
Stockholm        Turku           9354284.0         60.45148          22.26869
                                 9606900.0         60.45148          22.26869
Symi (Simi)      Tilos           9215555.0         36.45505          27.34563
Syros            Tinos           9241786.0         37.53753          25.16343
                 Vathi           9215555.0         38.40490          23.60332

                                            city_a_geonameid  \
city_a           city_b          imo
Agios Efstratios Kavala          9215555.0          263960.0
                 Limnos (Myrina) 9215555.0          263960.0
Agios Kirikos    Fournoi         9215555.0          263869.0
                 Mytilene        9215555.0          263869.0
Alcudia          Barcelone       9390367.0         2522085.0
...                                                      ...
Stockholm        Turku           9354284.0         2673730.0
                                 9606900.0         2673730.0
Symi (Simi)      Tilos           9215555.0          253858.0
Syros            Tinos           9241786.0          264839.0
                 Vathi           9215555.0          264839.0

                                            city_b_geonameid             name
city_a           city_b          imo
Agios Efstratios Kavala          9215555.0          735861.0     NISSOS CHIOS
                 Limnos (Myrina) 9215555.0          256930.0     NISSOS CHIOS
Agios Kirikos    Fournoi         9215555.0         8359411.0     NISSOS CHIOS
                 Mytilene        9215555.0          256866.0     NISSOS CHIOS
Alcudia          Barcelone       9390367.0         3128760.0   MARTIN I SOLER
...                                                      ...              ...
Stockholm        Turku           9354284.0          633679.0  BALTIC PRINCESS
                                 9606900.0          633679.0     VIKING GRACE
Symi (Simi)      Tilos           9215555.0          257400.0     NISSOS CHIOS
Syros            Tinos           9241786.0          252854.0  BLUE STAR NAXOS
                 Vathi           9215555.0          252164.0     NISSOS CHIOS

[206 rows x 13 columns]

In [242]:
df_scraped_usable_final.to_csv('files_computed/scraped_ship_routes_cleaned.2020_01_18.csv')