In [2]:
import pandas as pd
import scipy
import numpy as np
from sklearn.preprocessing import MinMaxScaler

In [7]:
df1 = pd.read_csv('.././Data/match_info_merged.csv"')

FileNotFoundError: [Errno 2] File .././Data/match_info_merged.csv" does not exist: '.././Data/match_info_merged.csv"'

In [8]:
df2 = pd.read_csv('player_info_final_updated.csv')

In [ ]:
df1

In [10]:
df2

,Unnamed: 0,Players,Teams,Goals scored,Total shots,Shots on Target,Assists,Interceptions,Crosses,Fouls committed,Offsides,Time Played
0,0,Buffon\r\n (GK),Juventus,0,0,0,0,0,0,0,0,90
1,1,Pogba,Juventus,0,2,1,0,0,0,2,0,90
2,2,Marchisio,Juventus,0,3,2,0,0,0,0,0,90
3,3,Morata,Juventus,1,3,1,0,0,0,0,0,85
4,4,Tévez,Juventus,0,4,2,1,0,0,2,0,90
...,...,...,...,...,...,...,...,...,...,...,...,...
5513,5513,Kurzawa,Paris,0,0,0,0,0,0,0,0,0
5514,5514,Nkunku,Paris,0,0,0,0,0,0,0,0,0
5515,5515,Diaby,Paris,0,0,0,0,0,0,0,0,0
5516,5516,Dagba,Paris,0,0,0,0,0,0,0,0,9
5517,5517,Thomas Tuchel,Paris(COACH),0,0,0,0,0,0,0,0,0

In [18]:
df2.iloc[:,3:]

,Goals scored,Total shots,Shots on Target,Assists,Interceptions,Crosses,Fouls committed,Offsides,Time Played
0,0,0,0,0,0,0,0,0,90
1,0,2,1,0,0,0,2,0,90
2,0,3,2,0,0,0,0,0,90
3,1,3,1,0,0,0,0,0,85
4,0,4,2,1,0,0,2,0,90
...,...,...,...,...,...,...,...,...,...
5513,0,0,0,0,0,0,0,0,0
5514,0,0,0,0,0,0,0,0,0
5515,0,0,0,0,0,0,0,0,0
5516,0,0,0,0,0,0,0,0,9
5517,0,0,0,0,0,0,0,0,0

In [11]:
df1.iloc[:,2:]

,Goals,Total Attempts,On Target,Off Target,Blocked,Woodwork,Corners,Offside,Possession,Passes,...,"St. Jakob-Park, Basel","Stade Louis II, Monaco","Stadio Olimpico, Rome","Stadio San Paolo, Naples","Stadio San Siro, Milan","Stadion Petrovskiy, St Petersburg","Stamford Bridge, London","Tottenham Hotspur Stadium, London","VfL Wolfsburg Arena, Wolfsburg","Wembley Stadium, London"
0,1,14,6,6,2,0.200,8,1,39,343,...,0,0,0,0,0,0,0,0,0,0
1,3,14,8,6,0,0.214,8,0,61,570,...,0,0,0,0,0,0,0,0,0,0
2,1,22,5,14,3,0.750,8,0,54,506,...,0,0,0,0,0,0,0,0,0,0
3,1,19,4,14,1,0.200,8,5,46,432,...,0,0,0,0,0,0,0,0,0,0
4,3,20,8,8,4,0.330,5,3,53,599,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
285,2,20,8,10,2,0.000,3,0,50,550,...,0,0,0,0,0,0,0,0,0,0
286,2,13,9,4,0,2.000,1,1,42,346,...,0,0,1,0,0,0,0,0,0,0
287,1,9,2,4,3,0.000,1,0,58,487,...,0,0,1,0,0,0,0,0,0,0
288,0,10,1,5,4,0.000,3,2,45,449,...,0,0,0,0,0,0,0,0,0,0
289,2,13,5,5,3,0.000,3,1,55,570,...,0,0,0,0,0,0,0,0,0,0

In [12]:
scaler = MinMaxScaler(feature_range=(0, 1))

In [13]:
d1 = df1.values

In [14]:
d2 = df2.values

In [15]:
df1.iloc[:,2:] = scaler.fit_transform(df1.iloc[:,2:])

In [16]:
df1

,Unnamed: 0,Teams,Goals,Total Attempts,On Target,Off Target,Blocked,Woodwork,Corners,Offside,...,"St. Jakob-Park, Basel","Stade Louis II, Monaco","Stadio Olimpico, Rome","Stadio San Paolo, Naples","Stadio San Siro, Milan","Stadion Petrovskiy, St Petersburg","Stamford Bridge, London","Tottenham Hotspur Stadium, London","VfL Wolfsburg Arena, Wolfsburg","Wembley Stadium, London"
0,0,Juventus,0.142857,0.351351,0.461538,0.400000,0.166667,0.066667,0.615385,0.111111,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,Barcelona,0.428571,0.351351,0.615385,0.400000,0.000000,0.071333,0.615385,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,Real Madrid,0.142857,0.567568,0.384615,0.933333,0.250000,0.250000,0.615385,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,Juventus,0.142857,0.486486,0.307692,0.933333,0.083333,0.066667,0.615385,0.555556,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,Bayern,0.428571,0.513514,0.615385,0.533333,0.333333,0.110000,0.384615,0.333333,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
285,285,Real Madrid,0.285714,0.513514,0.615385,0.666667,0.166667,0.000000,0.230769,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
286,286,Roma,0.285714,0.324324,0.692308,0.266667,0.000000,0.666667,0.076923,0.111111,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
287,287,Porto,0.142857,0.216216,0.153846,0.266667,0.250000,0.000000,0.076923,0.000000,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
288,288,Man. United,0.000000,0.243243,0.076923,0.333333,0.333333,0.000000,0.230769,0.222222,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
289,289,Paris,0.285714,0.324324,0.384615,0.333333,0.250000,0.000000,0.230769,0.111111,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [19]:
df2.iloc[:,3:] = scaler.fit_transform(df2.iloc[:,3:])

In [20]:
df2

,Unnamed: 0,Players,Teams,Goals scored,Total shots,Shots on Target,Assists,Interceptions,Crosses,Fouls committed,Offsides,Time Played
0,0,Buffon\r\n (GK),Juventus,0.0,0.000000,0.00,0.000000,0.0,0.0,0.000000,0.0,1.000000
1,1,Pogba,Juventus,0.0,0.142857,0.25,0.000000,0.0,0.0,0.285714,0.0,1.000000
2,2,Marchisio,Juventus,0.0,0.214286,0.50,0.000000,0.0,0.0,0.000000,0.0,1.000000
3,3,Morata,Juventus,1.0,0.214286,0.25,0.000000,0.0,0.0,0.000000,0.0,0.944444
4,4,Tévez,Juventus,0.0,0.285714,0.50,0.333333,0.0,0.0,0.285714,0.0,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
5513,5513,Kurzawa,Paris,0.0,0.000000,0.00,0.000000,0.0,0.0,0.000000,0.0,0.000000
5514,5514,Nkunku,Paris,0.0,0.000000,0.00,0.000000,0.0,0.0,0.000000,0.0,0.000000
5515,5515,Diaby,Paris,0.0,0.000000,0.00,0.000000,0.0,0.0,0.000000,0.0,0.000000
5516,5516,Dagba,Paris,0.0,0.000000,0.00,0.000000,0.0,0.0,0.000000,0.0,0.100000
5517,5517,Thomas Tuchel,Paris(COACH),0.0,0.000000,0.00,0.000000,0.0,0.0,0.000000,0.0,0.000000

In [22]:
df1.to_csv('match_info_final_updated_normalized.csv')

In [23]:
df3 = pd.read_csv('match_info_final_updated_normalized.csv')

In [25]:
df2.to_csv('player_info_final_updated_normalized.csv')