In [13]:
import pandas as pd
df = pd.read_csv("Financial_Distress.csv")

In [14]:
def make_class(financial_distress):
    if financial_distress > -0.5:
        return 'Healthy'
    else:
        return 'Financially Distressed'

In [18]:
df['class'] = df.apply(lambda row: make_class(row['Financial Distress']), axis=1)

In [20]:
df.to_csv('Financial_Distress.csv', mode = 'w')

In [24]:
import csv

with open("bank-additional-full.csv", mode="rU") as infile:
    reader = csv.reader(infile, dialect="excel")    
    with open("temp2.txt", mode="w") as outfile:
        writer = csv.writer(outfile, delimiter=':')
        writer.writerows(rows)

TypeError: zip argument #1 must support iteration

In [25]:
import pandas as pd

In [29]:
df = pd.read_csv("bank-additional-full.csv", sep=";", header='infer')
df.head(10)

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
5,45,services,married,basic.9y,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
6,59,admin.,married,professional.course,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
7,41,blue-collar,married,unknown,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
8,24,technician,single,professional.course,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
9,25,services,single,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [30]:
df.to_csv('bank-additional-full.csv', encoding='utf-8', index=False)

In [34]:
data = pd.read_csv('bank-additional-full.csv', sep=',')
list(data.columns)

['age',
 'job',
 'marital',
 'education',
 'default',
 'housing',
 'loan',
 'contact',
 'month',
 'day_of_week',
 'duration',
 'campaign',
 'pdays',
 'previous',
 'poutcome',
 'emp.var.rate',
 'cons.price.idx',
 'cons.conf.idx',
 'euribor3m',
 'nr.employed',
 'y']

In [53]:
import pandas as pd
df = pd.read_csv("xray.csv")

In [60]:
len(df.columns)

12

In [57]:
df['Patient Age#'] = df.apply(lambda row: row['Patient Age'].replace("Y",""), axis=1)

In [59]:
df.to_csv("xray.csv")