In [ ]:
import numpy as np
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
nfl = pd.read_csv("/content/gdrive/My Drive/MPES/Data/NFL2009-2018.csv", low_memory=False)
nfl.head()

   play_id  ...  defensive_extra_point_conv
0       46  ...                         0.0
1       68  ...                         0.0
2       92  ...                         0.0
3      113  ...                         0.0
4      139  ...                         0.0

[5 rows x 255 columns]

In [ ]:
nfl.describe()

             play_id  ...  defensive_extra_point_conv
count  449371.000000  ...                    436497.0
mean     2140.689606  ...                         0.0
std      1240.303671  ...                         0.0
min        35.000000  ...                         0.0
25%      1074.000000  ...                         0.0
50%      2125.000000  ...                         0.0
75%      3180.000000  ...                         0.0
max      5706.000000  ...                         0.0

[8 rows x 153 columns]

In [ ]:
missing_values = nfl.isnull().sum()
missing_values[0:10]

play_id              0
game_id              0
home_team            0
away_team            0
posteam          13242
posteam_type     12879
defteam          12879
side_of_field      600
yardline_100     13070
game_date            0
dtype: int64

In [ ]:
nfl.dropna()

Empty DataFrame
Columns: [play_id, game_id, home_team, away_team, posteam, posteam_type, defteam, side_of_field, yardline_100, game_date, quarter_seconds_remaining, half_seconds_remaining, game_seconds_remaining, game_half, quarter_end, drive, sp, qtr, down, goal_to_go, time, yrdln, ydstogo, ydsnet, desc, play_type, yards_gained, shotgun, no_huddle, qb_dropback, qb_kneel, qb_spike, qb_scramble, pass_length, pass_location, air_yards, yards_after_catch, run_location, run_gap, field_goal_result, kick_distance, extra_point_result, two_point_conv_result, home_timeouts_remaining, away_timeouts_remaining, timeout, timeout_team, td_team, posteam_timeouts_remaining, defteam_timeouts_remaining, total_home_score, total_away_score, posteam_score, defteam_score, score_differential, posteam_score_post, defteam_score_post, score_differential_post, no_score_prob, opp_fg_prob, opp_safety_prob, opp_td_prob, fg_prob, safety_prob, td_prob, extra_point_prob, two_point_conversion_prob, ep, epa, total_home_epa, total_away_epa, total_home_rush_epa, total_away_rush_epa, total_home_pass_epa, total_away_pass_epa, air_epa, yac_epa, comp_air_epa, comp_yac_epa, total_home_comp_air_epa, total_away_comp_air_epa, total_home_comp_yac_epa, total_away_comp_yac_epa, total_home_raw_air_epa, total_away_raw_air_epa, total_home_raw_yac_epa, total_away_raw_yac_epa, wp, def_wp, home_wp, away_wp, wpa, home_wp_post, away_wp_post, total_home_rush_wpa, total_away_rush_wpa, total_home_pass_wpa, total_away_pass_wpa, air_wpa, yac_wpa, ...]
Index: []

[0 rows x 255 columns]

In [ ]:
nfl_drop_columns = nfl.dropna(axis=1)

In [ ]:
print(nfl.shape[1])
print(nfl_drop_columns.shape[1])

255
50

In [ ]:
dataset = pd.read_csv("/content/gdrive/My Drive/MPES/Data/Data.csv")
dataset

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [ ]:
prof = pd.read_csv("/content/gdrive/My Drive/MPES/Data/intellectual.csv", low_memory=False)
prof.head()

   Unnamed: 0  ...  Other Information
0           2  ...                NaN
1           4  ...                NaN
2           5  ...                NaN
3           6  ...                NaN
4          24  ...                NaN

[5 rows x 13 columns]

In [ ]:
countries = prof['Country'].unique()

In [ ]:
countries.sort()
countries

array([' Germany', ' New Zealand', ' Sweden', ' USA', 'Australia',
       'Austria', 'Canada', 'China', 'Finland', 'France', 'Greece',
       'HongKong', 'Ireland', 'Italy', 'Japan', 'Macau', 'Malaysia',
       'Mauritius', 'Netherland', 'New Zealand', 'Norway', 'Pakistan',
       'Portugal', 'Russian Federation', 'Saudi Arabia', 'Scotland',
       'Singapore', 'South Korea', 'SouthKorea', 'Spain', 'Sweden',
       'Thailand', 'Turkey', 'UK', 'USA', 'USofA', 'Urbana', 'germany'],
      dtype=object)

In [ ]:
prof.['Country'].str.strip()