#                      WEBSCRAPPING ASSIGNMENT - 4

# Q-1.Scrape the details of most viewed videos on YouTube from Wikipedia.
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [36]:
#importing the necessary libraries

import selenium
import pandas as pd
import numpy as np
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
from selenium.common.exceptions import ElementClickInterceptedException
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
import time
import warnings
warnings.filterwarnings('ignore')

In [3]:
#Lets first connect ro webdriver
driver=webdriver.Chrome(r"chromedriver.exe")
#Opening target url page on automated chrome browser
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")
driver.maximize_window()

time.sleep(2)

#creating the empty list
Name=[]
Artist=[]
Upload=[]
Views=[]

#scraping Song Name
for i in driver.find_elements(By.XPATH,"//*[@id='mw-content-text']/div[1]/table[3]/tbody/tr/td[1]"):
    Name.append(i.text.split('"')[1])

#scraping Artist name
for i in driver.find_elements(By.XPATH,"//*[@id='mw-content-text']/div[1]/table[3]/tbody/tr/td[2]"):
    Artist.append(i.text.split('[')[0])

#scraping the No of Views
for i in driver.find_elements(By.XPATH,"//*[@id='mw-content-text']/div[1]/table[3]/tbody/tr/td[3]"):
    Views.append(i.text)

#scraping the Uploaded date
for i in driver.find_elements(By.XPATH,"//*[@id='mw-content-text']/div[1]/table[3]/tbody/tr/td[4]"):
    Upload.append(i.text)
    
Yotube={'Name':Name,'Artist':Artist,'Uploaded Date':Upload,'Views':Views}
df=pd.DataFrame(data=Yotube)
print('Most viewed videos on YouTube from Wikipedia')
df

Most viewed videos on YouTube from Wikipedia

,Name,Artist,Uploaded Date,Views
0,Baby Shark Dance,Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016","7,046,700,000"
1,Despacito,Luis Fonsi,"January 12, 2017","3,002,800,000"
2,See You Again,Wiz Khalifa,"April 6, 2015","2,894,000,000"
3,Gangnam Style,Psy,"July 15, 2012","803,700,000"
4,Baby,Justin Bieber,"February 19, 2010","245,400,000"
5,Bad Romance,Lady Gaga,"November 24, 2009","178,400,000"
6,Charlie Bit My Finger,HDCYT,"May 22, 2007","128,900,000"
7,Evolution of Dance,Judson Laipply,"April 6, 2006","118,900,000"
8,Girlfriend,RCA Records,"February 27, 2007","92,600,000"
9,Evolution of Dance,Judson Laipply,"April 6, 2006","78,400,000"
10,Music Is My Hot Hot Sex,CLARUSBARTEL72,"April 9, 2007","76,600,000"
11,Evolution of Dance,Judson Laipply,"April 6, 2006","10,600,000"
12,Pokemon Theme Music Video,Smosh,"November 28, 2005","4,300,000"
13,Myspace – The Movie,eggtea,"January 31, 2006","2,700,000"
14,Phony Photo Booth,mugenized,"December 1, 2005","3,400,000"
15,The Chronic of Narnia Rap,youtubedude,"December 18, 2005","2,300,000"
16,Ronaldinho: Touch of Gold,Nikesoccer,"October 21, 2005","255,000"
17,I/O Brush,larfus,"October 5, 2005","247,000"
18,Me at the zoo,jawed,"April 23, 2005",1

In [4]:
driver.close()

# Q-2.Scrape the details team India’s international fixtures from bcci.tv. Url = https://www.bcci.tv
You need to find following details:
A) Match title (I.e. 1st ODI)
B) Series
C) Place
D) Date
E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code

In [6]:
#Lets first connect ro webdriver
driver=webdriver.Chrome(r"chromedriver.exe")
#Opening target url page on automated chrome browser
driver.get("https://www.bcci.tv")
driver.maximize_window()

time.sleep(5)

#clicking on International tab
driver.find_element(By.XPATH,'//*[@id="navigation"]/ul[1]/li[2]/a').click()

time.sleep(1)
#creating the empty list
Title=[]
Series=[]
Place=[]
Date=[]
Time=[]

#scraping the Title Name
for i in driver.find_elements(By.XPATH,'//span[@class="ng-binding"]'):
    Title.append(i.text)

#scraping the series name
for i in driver.find_elements(By.XPATH,'//div[@class="fixture-card-mid d-flex align-items-center justify-content-between"]'):
    Series.append(i.text.replace('\n',' '))

#scraping the place
for i in driver.find_elements(By.XPATH,'//span[@class="ng-binding ng-scope"]'):
    Place.append(i.text)
    
#scraping the date
for i in driver.find_elements(By.XPATH,'//h5[@class="ng-binding"]'):
    Date.append(i.text)

#scraping the time
for i in driver.find_elements(By.XPATH,'//h5[@class="text-right ng-binding"]'):
    Time.append(i.text)
    
#creating the DataFrame
bcci={'Title':Title,'Series':Series,'Place':Place,'Date':Date,'Time':Time}
df=pd.DataFrame(data=bcci)
print('Team India International Fixtures')
df

Team India International Fixtures

,Title,Series,Place,Date,Time
0,ASIA CUP WOMENS 2022,India Women vs Bangladesh Women,"Sylhet International Cricket Stadium,",8 OCT 2022,1:00 PM IST
1,SOUTH AFRICA TOUR OF INDIA ODI SERIES 2022-23,India vs South Africa,"JSCA International Stadium Complex,",9 OCT 2022,1:30 PM IST
2,ASIA CUP WOMENS 2022,India Women vs Thailand Women,"Sylhet International Cricket Stadium,",10 OCT 2022,1:00 PM IST
3,SOUTH AFRICA TOUR OF INDIA ODI SERIES 2022-23,India vs South Africa,"Arun Jaitley Stadium,",11 OCT 2022,1:30 PM IST
4,ICC MENS T20 WORLD CUP 2022,India vs Pakistan,"Melbourne Cricket Ground,",23 OCT 2022,1:30 PM IST
5,ICC MENS T20 WORLD CUP 2022,India vs TBD,"Sydney Cricket Ground,",27 OCT 2022,12:30 PM IST
6,ICC MENS T20 WORLD CUP 2022,India vs South Africa,"WACA Ground,",30 OCT 2022,4:30 PM IST
7,ICC MENS T20 WORLD CUP 2022,India vs Bangladesh,"Adelaide Oval,",2 NOV 2022,1:30 PM IST

In [7]:
driver.close()

# Q-3.Scrape the details of selenium exception from guru99.com.                     Url = https://www.guru99.com
You need to find following details:

A) Name

B) Description

Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [9]:
#Lets first connect ro webdriver
driver=webdriver.Chrome(r"chromedriver.exe")
#Opening target url page on automated chrome browser
driver.get("https://www.guru99.com/")
driver.maximize_window()

time.sleep(2)

In [10]:
#clicking on selenium 
driver.find_element(By.XPATH,"//*[@id='java_technologies']/li[3]/a").click()

In [11]:
#clicking on Selenium exceptions tutorial
driver.find_element(By.XPATH,"/html/body/div[1]/div/div/div/main/div/article/div/div/table[5]/tbody/tr[34]/td[1]/a").click()

In [12]:
#creating the empty list
exp=[]
des=[]


exp_name=[i.text.split(':') for i in driver.find_elements(By.XPATH,"//div[@class='entry-content single-content']/p")][:40]
for i in exp_name:
    exp.append(i[0])
    des.append(i[1])
    
time.sleep(1)
#creating the dataframe
selenium={'Name':exp_name,'Description':des}
df=pd.DataFrame(data=selenium)
print('List of Selenium Exceptions')
df

List of Selenium Exceptions

,Name,Description
0,"[1. ElementNotVisibleException, This type of ...",This type of Selenium exception occurs when a...
1,"[2. ElementNotSelectableException, This Selen...",This Selenium exception occurs when an elemen...
2,"[3. NoSuchElementException, This Exception oc...",This Exception occurs if an element could not...
3,"[4. NoSuchFrameException, This Exception occu...",This Exception occurs if the frame target to ...
4,"[5. NoAlertPresentException, This Exception o...",This Exception occurs when you switch to no p...
5,"[6. NoSuchWindowException, This Exception occ...",This Exception occurs if the window target to...
6,"[7. StaleElementReferenceException, This Sele...",This Selenium exception occurs happens when t...
7,"[8. SessionNotFoundException, The WebDriver i...",The WebDriver is acting after you quit the br...
8,"[9. TimeoutException, Thrown when there is no...",Thrown when there is not enough time for a co...
9,"[10. WebDriverException, This Exception takes...",This Exception takes place when the WebDriver...
10,"[11. ConnectionClosedException, This type of ...",This type of Exception takes place when there...
11,"[12. ElementClickInterceptedException, The co...",The command may not be completed as the eleme...
12,"[13. ElementNotInteractableException, This Se...",This Selenium exception is thrown when any el...
13,"[14. ErrorInResponseException, This happens w...",This happens while interacting with the Firef...
14,"[15. ErrorHandler.UnknownServerException, Exc...",Exception is used as a placeholder in case if...
15,"[16. ImeActivationFailedException, This expec...",This expectation will occur when IME engine a...
16,"[17. ImeNotAvailableException, It takes place...",It takes place when IME support is unavailable.
17,"[18. InsecureCertificateException, Navigation...",Navigation made the user agent to hit a certi...
18,"[19. InvalidArgumentException, It occurs when...",It occurs when an argument does not belong to...
19,"[20. InvalidCookieDomainException, This happe...",This happens when you try to add a cookie und...
20,"[21. InvalidCoordinatesException, This type o...",This type of Exception matches an interacting...
21,"[22. InvalidElementStateException, It occurs ...",It occurs when command can’t be finished when...
22,"[23. InvalidSessionIdException, This Exceptio...",This Exception took place when the given sess...
23,"[24. InvalidSwitchToTargetException, This occ...",This occurs when the frame or window target t...
24,"[25. JavascriptException, This issue occurs w...",This issue occurs while executing JavaScript ...
25,"[26. JsonException, It occurs when you afford...",It occurs when you afford to get the session ...
26,"[27. NoSuchAttributeException, This kind of E...",This kind of Exception occurs when the attrib...
27,"[28. MoveTargetOutOfBoundsException, It takes...",It takes place if the target provided to the ...
28,"[29. NoSuchContextException, ContextAware doe...",ContextAware does mobile device testing.
29,"[30. NoSuchCookieException, This Exception oc...",This Exception occurs when no cookie matching...
30,"[31. NotFoundException, This Exception is a s...",This Exception is a subclass of WebDriverExce...
31,"[32. RemoteDriverServerException, This Seleni...",This Selenium exception is thrown when the se...
32,"[33. ScreenshotException, It is not possible ...",It is not possible to capture a screen.
33,"[34. SessionNotCreatedException, It happens w...",It happens when a new session could not be su...
34,"[35. UnableToSetCookieException, This occurs ...",This occurs if a driver is unable to set a co...
35,"[36. UnexpectedTagNameException, Happens if a...",Happens if a support class did not get a web ...
36,"[37. UnhandledAlertException, This expectatio...",This expectation occurs when there is an aler...
37,"[38. UnexpectedAlertPresentException, It occu...",It occurs when there is the appearance of an ...
38,"[39. UnknownMethodException, This Exception h...",This Exception happens when the requested com...
39,"[40. UnreachableBrowserException, This Except...",This Exception occurs only when the browser i...

In [13]:
driver.close()

# Q-4.Scrape the details of State-wise GDP of India from statisticstime.com.      Url = http://statisticstimes.com

You have to find following details:

A) Rank

B) State

C) GSDP(18-19)

D) GSDP(17-18)

E) Share(2017)

F) GDP($ billion)

Note: - From statisticstimes home page you have to reach to economy page through code.

In [15]:
#Lets first connect ro webdriver
driver=webdriver.Chrome(r"chromedriver.exe")
#maximising the window
driver.maximize_window()
#Opening target url page on automated chrome browser
driver.get("http://statisticstimes.com/")


time.sleep(2)

In [16]:
#getting to the Indian page under economy tab
page=driver.find_element(By.XPATH,"//div[@class='dropdown-content']/a[3]")
driver.get(page.get_attribute('href'))

#clicking on GDP of indian states
driver.find_element(By.XPATH,"//ul[@style='list-style-type:none;margin-left:20px;']/li[1]/a").click()

#creating the empty list
Rank=[]
state=[]
GSDP1=[]
GSDP2=[]
share=[]
GDP=[]

#scraping for name
for i in driver.find_elements(By.XPATH,"//*[@id='table_id']/tbody/tr/td[1]"):
    Rank.append(i.text)

#scraping for state name
for i in driver.find_elements(By.XPATH,"//*[@id='table_id']/tbody/tr/td[2]"):
    state.append(i.text)

#scraping for GSDP1
for i in driver.find_elements(By.XPATH,"//*[@id='table_id']/tbody/tr/td[3]"):
    GSDP1.append(i.text)

#scraping for GSDP1
for i in driver.find_elements(By.XPATH,"//*[@id='table_id']/tbody/tr/td[4]"):
    GSDP2.append(i.text)
    
#scraping for share
for i in driver.find_elements(By.XPATH,"//*[@id='table_id']/tbody/tr/td[5]"):
    share.append(i.text)
    
#scraping for GDP
for i in driver.find_elements(By.XPATH,"//*[@id='table_id']/tbody/tr/td[6]"):
    GDP.append(i.text)
    
time.sleep(1)
#creating the DataFrame
gdp_State={'Rank':Rank,'State':state,'GSDP 19-20':GSDP1,'GSDP 18-19':GSDP2,'Share 18-19':share,'GDP':GDP}
df=pd.DataFrame(data=gdp_State)
print ('State-wise GDP of India from www.statisticstime.com')
df

State-wise GDP of India from www.statisticstime.com

   Rank                      State GSDP 19-20 GSDP 18-19 Share 18-19      GDP
0     1                Maharashtra          -  2,632,792      13.94%  399.921
1     2                 Tamil Nadu  1,845,853  1,630,208       8.63%  247.629
2     3              Uttar Pradesh  1,687,818  1,584,764       8.39%  240.726
3     4                    Gujarat          -  1,502,899       7.96%  228.290
4     5                  Karnataka  1,631,977  1,493,127       7.91%  226.806
5     6                West Bengal  1,253,832  1,089,898       5.77%  165.556
6     7                  Rajasthan  1,020,989    942,586       4.99%  143.179
7     8             Andhra Pradesh    972,782    862,957       4.57%  131.083
8     9                  Telangana    969,604    861,031       4.56%  130.791
9    10             Madhya Pradesh    906,672    809,592       4.29%  122.977
10   11                     Kerala          -    781,653       4.14%  118.733
11   12                      Delhi    856,112    774,870       4.10%  117.703
12   13                    Haryana    831,610    734,163       3.89%  111.519
13   14                      Bihar    611,804    530,363       2.81%   80.562
14   15                     Punjab    574,760    526,376       2.79%   79.957
15   16                     Odisha    521,275    487,805       2.58%   74.098
16   17                      Assam          -    315,881       1.67%   47.982
17   18               Chhattisgarh    329,180    304,063       1.61%   46.187
18   19                  Jharkhand    328,598    297,204       1.57%   45.145
19   20                Uttarakhand          -    245,895       1.30%   37.351
20   21            Jammu & Kashmir          -    155,956       0.83%   23.690
21   22           Himachal Pradesh    165,472    153,845       0.81%   23.369
22   23                        Goa     80,449     73,170       0.39%   11.115
23   24                    Tripura     55,984     49,845       0.26%    7.571
24   25                 Chandigarh          -     42,114       0.22%    6.397
25   26                 Puducherry     38,253     34,433       0.18%    5.230
26   27                  Meghalaya     36,572     33,481       0.18%    5.086
27   28                     Sikkim     32,496     28,723       0.15%    4.363
28   29                    Manipur     31,790     27,870       0.15%    4.233
29   30                   Nagaland          -     27,283       0.14%    4.144
30   31          Arunachal Pradesh          -     24,603       0.13%    3.737
31   32                    Mizoram     26,503     22,287       0.12%    3.385
32   33  Andaman & Nicobar Islands          -          -           -        -

In [17]:
driver.close()

# Q-5.Scrape the details of trending repositories on Github.com.                      Url = https://github.com/
You have to find the following details:

A) Repository title

B) Repository description

C) Contributors count

D) Language used

Note: - From the home page you have to click on the trending option from Explore menu through code.

In [19]:
#loading the drivers and url
driver=webdriver.Chrome('chromedriver.exe')
driver.get('https://github.com/')
driver.maximize_window()

#click opensource button
driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[2]/div/nav/ul/li[3]/button').click()

#click trending
driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/ul[3]/li[3]/a').click()

In [20]:
#creating the empty list
name=[]
url=[]
desc=[]
count=[]
lang=[]

#getting the url of all the repository
for i in driver.find_elements(By.XPATH,"//h1[@class='h3 lh-condensed']/a"):
    url.append(i.get_attribute('href'))

#scraping the name
for i in driver.find_elements(By.XPATH,"//span[@class='text-normal']"):
    name.append(i.text.replace(' /',''))
                
for i in driver.find_elements(By.XPATH,'//p[@class="col-9 color-fg-muted my-1 pr-4"]'):
    desc.append(i.text)
 
 #looping through urls to scrape other details

for i in url:
    driver.get(i)

#scraping for count
    count1=driver.find_elements(By.XPATH,"//div[@class='BorderGrid-cell']/h2/a/span")
    try:
        count.append((count1[-1].text))
    except:
        count.append('-')
        
#scraping for language
    language= driver.find_elements(By.XPATH,'//ul[@class="list-style-none"]')
    try:
        lang.append((language[-1].text.replace('\n',' ')))
    except:
        lang.append('-')

#creating the dataframe
github={'Repository Title':name,'Repository description':desc,'Contributors count':count,'Language used':lang}
df=pd.DataFrame(data=github)
print('Trending Repositories in Github')
df

Trending Repositories in Github

,Repository Title,Repository description,Contributors count,Language used
0,libsql,libSQL is a fork of SQLite that is both Open S...,5,C 86.1% Tcl 6.5% JavaScript 2.1% Shell 1.9% M4...
1,remoteintech,A list of semi to fully remote-friendly compan...,674,JavaScript 67.5% HTML 20.8% CSS 11.0% Shell 0.7%
2,psf,The uncompromising Python code formatter,341,Python 99.7% Other 0.3%
3,facebookincubator,AITemplate is a Python framework which renders...,9,Python 89.1% C++ 7.9% Cuda 3.0%
4,net4people,Forum for discussing Internet censorship circu...,7,Python 100.0%
5,xcad2k,This is my personal knowledge-base. Here you'l...,12,patreon.com/christianlempa
6,snaplet,A PostgresQL server running in your browser,8,Shell 34.4% Python 33.2% Perl 12.8% HTML 11.8%...
7,shubhamgrg04,A curated collection of diagramming tools used...,5,
8,deepset-ai,🔍 Haystack is an open source NLP framework tha...,149,Python 99.7% Other 0.3%
9,palera1n,"iOS 15.0-15.3.1 tethered checkm8 ""jailbreak"" (...",8,Shell 100.0%
10,SecureAuthCorp,Impacket is a collection of Python classes for...,136,Python 100.0%
11,pola-rs,Fast multi-threaded DataFrame library in Rust ...,127,Rust 71.4% Python 28.5% Other 0.1%
12,sourcegraph,Universal code search (self-hosted),294,Go 55.5% TypeScript 38.9% SCSS 1.8% PLpgSQL 1....
13,public-apis,A collective list of free APIs,"1,267",Python 96.8% Shell 3.2%
14,sqlfluff,A SQL linter and auto-formatter for Humans,196,Python 83.8% SQL 16.2%
15,huggingface,🤗 The largest hub of ready-to-use datasets for...,462,Python 91.8% Jupyter Notebook 8.0% Other 0.2%
16,nvm-sh,Node Version Manager - POSIX-compliant bash sc...,317,Shell 97.8% Makefile 1.3% Other 0.9%
17,gradio-app,Create UIs for your machine learning model in ...,94,Python 61.6% TypeScript 14.2% Svelte 9.6% HTML...
18,helm,The Kubernetes Package Manager,574,Go 97.6% Shell 1.9% Makefile 0.5%
19,wagtail,A Django content management system focused on ...,577,Python 79.9% JavaScript 7.3% HTML 7.0% TypeScr...
20,microsoft,Windows system utilities to maximize productivity,308,C# 53.3% C++ 45.2% C 0.8% PowerShell 0.5% HTML...
21,copy,"x86 virtualization in your browser, recompilin...",62,JavaScript 32.4% Rust 32.0% C 27.6% WebAssembl...
22,torvalds,Linux kernel source tree,"5,000+",C 98.5% Assembly 0.8% Shell 0.3% Makefile 0.2%...
23,zhanwen,研究生数学建模，本科生数学建模、数学建模竞赛优秀论文，数学建模算法，LaTeX论文模板，算法...,2,TeX 83.4% MATLAB 13.1% M 3.5%
24,community,Public feedback discussions for: GitHub Mobile...,17,

In [21]:
driver.close()

# Q.6-Scrape the details of top 100 songs on billiboard.com.                               Url = https:/www.billboard.com
You have to find the following details:

A) Song name

B) Artist name
C) Last week rank

D) Peak rank

E) Weeks on board

Note: - From the home page you have to click on the charts option then hot 100-page link through code

In [23]:
#Lets first connect ro webdriver
driver=webdriver.Chrome(r"chromedriver.exe")
#Opening target url page on automated chrome browser
driver.get("https:/www.billboard.com/")
driver.maximize_window()

time.sleep(2)
#getting the Hot 100 page
hot100=driver.find_element(By.XPATH,'//*[@id="main-wrapper"]/header/div/div[3]/div/nav/ul/li[1]/a')
hot100.click()

time.sleep(2)

song=[]

artist=[]

lwr=[]

pr=[]

wob=[]

song_details=[i.text.split('\n') for i in driver.find_elements(By.XPATH,"//div[@class='o-chart-results-list-row-container']/ul/li[4]")]

for i in song_details:

    song.append(i[0])

    artist.append(i[1])

    lwr.append(i[2])

    pr.append(i[3])

    wob.append(i[4])
    
#creating dataframe
df=pd.DataFrame({'Song name':song,'Artist Name':artist,'Last Week Rank':lwr,'Peak Rank': pr,'Week On Board':wob})
print('Top 100 songs on Billboard')
df

Top 100 songs on Billboard

,Song name,Artist Name,Last Week Rank,Peak Rank,Week On Board
0,Bad Habit,Steve Lacy,2,1,13
1,As It Was,Harry Styles,1,1,26
2,Unholy,Sam Smith & Kim Petras,-,3,1
3,I Like You (A Happier Song),Post Malone Featuring Doja Cat,3,3,17
4,Sunroof,Nicky Youre & dazy,4,4,18
...,...,...,...,...,...
95,Blow,Moneybagg Yo,-,96,1
96,World's Smallest Violin,AJR,-,97,1
97,Oklahoma Smoke Show,Zach Bryan,-,98,1
98,No Se Va,Grupo Frontera,-,99,1
99,Down Home,Jimmie Allen,-,100,1

In [24]:
driver.close()

# Q.7-Scrape the details of Data science recruiters from naukri.com.                  Url = https://www.naukri.com/
You have to find the following details:

A) Name

B) Designation

C) Company

D) Skills they hire for

E) Location

Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and click on search. All this should be done through code

In [26]:
#Lets first connect ro webdriver
driver=webdriver.Chrome(r"chromedriver.exe")
driver.get('https://www.naukri.com/data-science-recruiters')
time.sleep(3)

#creating emty list
name=[]
desig=[]
comp=[]
loc=[]
#scrapping details
recruiter=[i.text.split('\n') for i in driver.find_elements(By.XPATH,"//p[@class='highlightable']")]
for i in recruiter:
    try:
        name.append(i[0])
    except:
        name.append('-')
    try:
        desig.append(i[1])
    except:
        desig.append('-')
    try:
        comp.append(i[2])
    except:
        comp.append('-')
    try:
        loc.append(i[3])
    except:
        loc.append('-')
skill=[i.text for i in driver.find_elements(By.XPATH,"//div[@class='hireSec highlightable']")]    

# saving the lists as dataframe
df=pd.DataFrame({'Name':name,'Designation':desig,'Company':comp,'Location':loc,'Skill':skill})
print('Data Science recruiters from Naukri')
df

Data Science recruiters from Naukri

,Name,Designation,Company,Location,Skill
0,Aakash Harit,HR Manager,Data Science Network,Delhi,"Classic ASP Developer, Internet Marketing Prof..."
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,Hyderabad / Secunderabad,".Net, Java, Data Science, Linux Administration..."
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,Pune,"Data Science, Artificial Intelligence, Machine..."
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,Ahmedabad,"Mean Stack, javascript, angularjs, mongodb, We..."
4,subhas patel,Founder CEO,LibraryXProject,UK - (london),"Hadoop, Spark, Digital Strategy, Data Architec..."
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,Vadodara / Baroda,"Analytics, Business Intelligence, Business Ana..."
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Chennai,Data Science
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,Trivandrum,"Machine Learning, algorithms, Go Getter, Compu..."
8,Asif Lucknowi,Director,Weupskill- Live Wire India,Indore,"Technical Training, Software Development, Pres..."
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,Bengaluru / Bangalore,"Software Development, It Sales, Account Manage..."
10,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,Hyderabad / Secunderabad,"Social Media, digital media maketing, seo, smm..."
11,Priyanka Akiri,HR Manager,Infinitive Software Solutions,Hyderabad,"Oracle Dba, Data Science, Data Warehousing, ET..."
12,Kalpana Dumpala,Executive Hiring,Innominds Software,Hyderabad / Secunderabad,"Qa, Ui/ux, Java Developer, Java Architect, C++..."
13,Mubarak,Company HR,MoneyTap,Bengaluru / Bangalore,"Business Intelligence, Data Warehousing, Data ..."
14,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,Mumbai,"Office Administration, Hr Administration, tele..."
15,Vaishnavi Kudalkar,HR Executive,Codeachive learning,Mumbai,"Data Science, Python, Data Analytics"
16,Kapil Devang,HR Manager,BISP Solutions,Bhopal,"Big Data, Hadoop, Data Analytics, Data Science"
17,Sakshi Chhikara,Assistant Manager HR,BIZ INFOTECNO PRIVATE LIMITED,Chandigarh,"React.js, Data Science, Java, Front End, Busin..."
18,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,Pune,"Qlikview, Qlik Sense, Microsoft Azure, Power B..."
19,Manisha Yadav,HR Executive,Easi Tax,Navi Mumbai,"Telecalling, Client Interaction, Marketing, Re..."
20,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Cochin,Data Science
21,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,Delhi,"Corporate Sales, Software Development, Softwar..."
22,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,Hyderabad / Secunderabad,"Data Analytics, Data Science, Machine Learning..."
23,Rithika dadwal,HR Recruiter,Affine Analytics,Pune,"Data Science, Machine Learning, Python, R, Dee..."
24,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,Pune,"Big Data, Data Science, Artificial Intelligenc..."
25,Shaun Rao,Manager Human Resources,Exela Technologies,Pune,"Java, Net, Angularjs, Hr, Infrastructure, Mana..."
26,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,Pune,"Data Science, Artificial Intelligence, Machine..."
27,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,Bengaluru / Bangalore,"Software Architecture, Vp Engineering, Product..."
28,kumar,Proprietor,trainin,Bengaluru / Bangalore,"Data Science, Hadoop, Rpas, Devops, Python, Aw..."
29,Sunil Vedula,CEO,Nanoprecise Sci Corp,-,"Signal Processing, Machine Learning, Neural Ne..."
30,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,Delhi,"Web Technologies, Project Management, Software..."
31,Dhruv Dev Dubey,Company Recruitment Head,Confidential,Bengaluru / Bangalore,"Server Administartion, Verilog, Vhdl, Digital ..."
32,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd",Mysoru / Mysore,"Data Analytics, Managed Services, Team Leading..."
33,Avodha,Business Development Associate,Nikitha Palaparthi,Hyderabad / Secunderabad,"Ethical Hacking, Security Operations Center, S..."
34,SREEDHAR,Recruitment Consultant,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,Hyderabad / Secunderabad,"Data Science, Machine Learning, Big Data Analy..."
35,Priya Khare,Senior Manager,Independent Consultant,Bengaluru / Bangalore,"Data Science, Artificial Intelligence, analyti..."
36,Amit Sharma,Consultant,ASCO consulting,New Delhi,"Machine Learning, Artificial Intelligence, Dat..."
37,Kanan,senior technology instructor,NY INST,Chennai,"C, C++, Artificial Intelligence, Python, Php, ..."
38,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,Aligarh,"Relationship Management, Retail Sales, Private..."
39,Brad,"Manager, Technical Recruiting",O.C. Tanner,Salt Lake City,"Data Science, Software Engineering"
40,Rutuja Pawar,Technical Recruiter,Demand Matrix,Pune,"Data Science, Big Data Analytics, Digital Mark..."
41,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,Bengaluru / Bangalore,"Data Science, Recruitment, Salary"
42,Ankit Sinha,Head Analytics,Suntech Global,Mumbai,"B.Tech, Tableau, Statistics, R, Analytics, Tim..."
43,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,Indore,"Software Development, Business Intelligence, B..."
44,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,Bengaluru / Bangalore,"Data Science, Node.js, Angularjs"
45,Ashwini,Director Global Delivery,MRP Advisers,MYSORE,"Data Science, Media Marketing, Resource Planni..."
46,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,Hyderabad / Secunderabad,"Data Analysis, Learning, Data Science, Compute..."
47,Rajani Nagaraj,HR Manager,WildJasmine,Bengaluru / Bangalore,"Java, Hadoop, R, Machine Learning, Spark, Flum..."
48,ROHIT Kumar,Architect,LNT Private Limited,Mumbai,"Software Development, Core Java, Unit Testing,..."
49,Amir Chowdhury,Managing Partner,Granular.ai,-,"Machine Learning, Data Science, Product Manage..."

In [27]:
driver.close()

# Q-8.Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey- compare/
You have to find the following details:

A) Book name

B) Author name

C) Volumes sold

D) Publisher

E) Genre

In [29]:
#Lets first connect ro webdriver
driver=webdriver.Chrome(r"chromedriver.exe")
#Opening target url page on automated chrome browser
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")
driver.maximize_window()

time.sleep(2)

In [30]:
#creating the empty list
name=[]
author=[]
volume=[]
publisher=[]
genre=[]

#scraping for name
for i in driver.find_elements(By.XPATH,"//table[@class='in-article sortable']/tbody/tr/td[2]"):
    name.append(i.text)

#scraping for author
for i in driver.find_elements(By.XPATH,"//table[@class='in-article sortable']/tbody/tr/td[3]"):
    author.append(i.text)

#scraping for volume
for i in driver.find_elements(By.XPATH,"//table[@class='in-article sortable']/tbody/tr/td[4]"):
    volume.append(i.text)

#scraping for publisher
for i in driver.find_elements(By.XPATH,"//table[@class='in-article sortable']/tbody/tr/td[5]"):
    publisher.append(i.text)

#scraping for genre
for i in driver.find_elements(By.XPATH,"//table[@class='in-article sortable']/tbody/tr/td[6]"):
    genre.append(i.text)
    
#creating the Dataframe
novels={'Book Name':name,'Author Name':author,'Volumes sold':volume,'Publisher':publisher,'Genre':genre}
df=pd.DataFrame(data=novels)
print('Highest selling Novels')
df

Highest selling Novels

,Book Name,Author Name,Volumes sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [31]:
driver.close()

# Q-9.Scrape the details most watched tv series of all time from imdb.com.            Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:

A) Name

B) Year span

C) Genre

D) Run time

E) Ratings

F) Votes

In [33]:
#Lets first connect ro webdriver
driver=webdriver.Chrome(r"chromedriver.exe")
#Opening target url page on automated chrome browser
driver.get("https://www.imdb.com/list/ls095964455/")
driver.maximize_window()

time.sleep(2)

In [34]:
#creating the empty list
name=[]
year=[]
genre=[]
runtime=[]
rating=[]
votes=[]

#scraping name of the series
for i in driver.find_elements(By.XPATH,"//h3[@class='lister-item-header']/a"):
    name.append(i.text)
#scraping year    
for i in driver.find_elements(By.XPATH,"//span[@class='lister-item-year text-muted unbold']"):
    year.append(i.text)
#scraping genre
for i in driver.find_elements(By.XPATH,"//span[@class='genre']"):
    genre.append(i.text)
#scrapping runtime    
for i in driver.find_elements(By.XPATH,"//span[@class='runtime']"):
    runtime.append(i.text)
#scraping rating
for i in driver.find_elements(By.XPATH,"//*[@id='main']/div/div[3]/div[3]/div/div[2]/div[1]/div[1]/span[2]"):
    rating.append(i.text)
#scraping votes
for i in driver.find_elements(By.XPATH,"//span[@name='nv']"):
    votes.append(i.text)

#creating the dataframe
imdb={'Name':name,'Year Span':year,'Genre':genre,'Run time':runtime,'Ratings':rating,'Votes':votes}
df=pd.DataFrame(data=imdb)
print ('Most watched TV Series of all time from IMDB.COM')
df

Most watched TV Series of all time from IMDB.COM

,Name,Year Span,Genre,Run time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,062,691"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"1,156,033"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"972,877"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"290,032"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"249,417"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.4,"49,708"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"60,773"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"195,617"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"41,166"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"238,382"

In [35]:
driver.close()

# Q-10.Details of Datasets from UCI machine learning repositories.                  Url = https://archive.ics.uci.edu/
You have to find the following details:

A) Dataset name

B) Data type

C) Task

D) Attribute type

E) No of instances

F) No of attribute

G) Year

Note: - from the home page you have to go to the ShowAllDataset page through code.

In [37]:
#Lets first connect ro webdriver
driver=webdriver.Chrome(r"chromedriver.exe")
#Opening target url page on automated chrome browser
driver.get('https://archive.ics.uci.edu/')
driver.maximize_window()

time.sleep(2)

In [38]:
#clicking on vew all dataset
dataset=driver.find_element(By.XPATH,"/html/body/table[1]/tbody/tr/td[2]/span[2]/a")
driver.get(dataset.get_attribute('href'))

#creating the empty list
name=[]
datatype=[]
task=[]
attribute=[]
instances=[]
no_attribute=[]
year=[]

time.sleep(2)
#scraping dataset name
for i in driver.find_elements(By.XPATH,"//tr['@bgcolor=#003366']/td/table/tbody/tr/td[2]/p/b/a"):
    name.append(i.text)
#scraping datatype
for i in driver.find_elements(By.XPATH,"//table[@border='1']/tbody/tr/td[2]/p"):
    datatype.append(i.text)
datatype=datatype[1:]
#scraping task
for i in driver.find_elements(By.XPATH,"//table[@border='1']/tbody/tr/td[3]/p"):
    task.append(i.text)
task=task[1:]
#scraping attribute
for i in driver.find_elements(By.XPATH,"//table[@border='1']/tbody/tr/td[4]/p"):
    attribute.append(i.text)
attribute=attribute[1:]
#scraping instances
for i in driver.find_elements(By.XPATH,"//table[@border='1']/tbody/tr/td[5]/p"):
    instances.append(i.text)
instances=instances[1:]
#scraping attributes
for i in driver.find_elements(By.XPATH,"//table[@border='1']/tbody/tr/td[6]/p"):
    no_attribute.append(i.text)
no_attribute=no_attribute[1:]
#scraping year
for i in driver.find_elements(By.XPATH,"//table[@border='1']/tbody/tr/td[7]/p"):
    year.append(i.text)
year=year[1:]

#creating the dataset
uci={'Dataset Name':name,'Data Type':datatype,'Task':task,'Attribute Type':attribute,
    'No of Instances':instances,'No of Attribue':no_attribute,'Year':year}
df=pd.DataFrame(data=uci)
print('Details of datasets from UCI Machine Learning repositories')
df

Details of datasets from UCI Machine Learning repositories

,Dataset Name,Data Type,Task,Attribute Type,No of Instances,No of Attribue,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twitte...,Multivariate,Classification,"Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,,Classification,,1014,7,2020
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
621,Image Recognition Task Execution Times in Mobi...,Univariate,Regression,Real,4000,2,2021

In [39]:
driver.close()