In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('glassdoor_jobs.csv')
df

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1
1,1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1
2,2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),-1
3,3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa..."
4,4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
951,951,Senior Data Engineer,$72K-$133K (Glassdoor est.),THE CHALLENGE\nEventbrite has a world-class da...,4.4,Eventbrite\n4.4,"Nashville, TN","San Francisco, CA",1001 to 5000 employees,2006,Company - Public,Internet,Information Technology,$100 to $500 million (USD),"See Tickets, TicketWeb, Vendini"
952,952,"Project Scientist - Auton Lab, Robotics Institute",$56K-$91K (Glassdoor est.),The Auton Lab at Carnegie Mellon University is...,2.6,Software Engineering Institute\n2.6,"Pittsburgh, PA","Pittsburgh, PA",501 to 1000 employees,1984,College / University,Colleges & Universities,Education,Unknown / Non-Applicable,-1
953,953,Data Science Manager,$95K-$160K (Glassdoor est.),Data Science ManagerResponsibilities:\n\nOvers...,3.2,"Numeric, LLC\n3.2","Allentown, PA","Chadds Ford, PA",1 to 50 employees,-1,Company - Private,Staffing & Outsourcing,Business Services,$5 to $10 million (USD),-1
954,954,Data Engineer,-1,Loading...\n\nTitle: Data Engineer\n\nLocation...,4.8,IGNW\n4.8,"Austin, TX","Portland, OR",201 to 500 employees,2015,Company - Private,IT Services,Information Technology,$25 to $50 million (USD),Slalom
955,955,Research Scientist – Security and Privacy,$61K-$126K (Glassdoor est.),Returning Candidate? Log back in to the Career...,3.6,Riverside Research Institute\n3.6,"Beavercreek, OH","Arlington, VA",501 to 1000 employees,1967,Nonprofit Organization,Federal Agencies,Government,$50 to $100 million (USD),-1

In [3]:
df=df.drop(['Unnamed: 0'],axis=1)

In [4]:
df.columns

Index(['Job Title', 'Salary Estimate', 'Job Description', 'Rating',
       'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors'],
      dtype='object')

In [5]:
df['hourly']=df['Salary Estimate'].apply(lambda x:1 if 'per hour' in x.lower() else 0)
df['employer_provided'] = df['Salary Estimate'].apply(lambda x: 1 if 'employer provided salary:' in x.lower() else 0)

In [6]:
df = df[df['Salary Estimate'] != '-1']

In [7]:
df[['min_salary', 'max_salary']] = df['Salary Estimate'].str.extract(r'\$(\d+)K-\$(\d+)K').astype(float).fillna(np.nan)


df.drop(columns=['Salary Estimate'], inplace=True)

In [20]:
df

,Job Title,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,hourly,employer_provided,min_salary,max_salary,min_revenue,max_revenue,avg_revenue
0,Data Scientist,"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1,0,0,53.0,91.0,NaN,NaN,NaN
1,Healthcare Data Scientist,What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,0,0,63.0,112.0,NaN,NaN,NaN
2,Data Scientist,"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),-1,0,0,80.0,90.0,NaN,NaN,NaN
3,Data Scientist,*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa...",0,0,56.0,97.0,NaN,NaN,NaN
4,Data Scientist,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",0,0,86.0,143.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
950,"Sr Scientist, Immuno-Oncology - Oncology",Site Name: USA - Massachusetts - Cambridge\nPo...,3.9,GSK\n3.9,"Cambridge, MA","Brentford, United Kingdom",10000+ employees,1830,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$10+ billion (USD),"Pfizer, AstraZeneca, Merck",0,0,58.0,111.0,NaN,NaN,NaN
951,Senior Data Engineer,THE CHALLENGE\nEventbrite has a world-class da...,4.4,Eventbrite\n4.4,"Nashville, TN","San Francisco, CA",1001 to 5000 employees,2006,Company - Public,Internet,Information Technology,$100 to $500 million (USD),"See Tickets, TicketWeb, Vendini",0,0,72.0,133.0,NaN,NaN,NaN
952,"Project Scientist - Auton Lab, Robotics Institute",The Auton Lab at Carnegie Mellon University is...,2.6,Software Engineering Institute\n2.6,"Pittsburgh, PA","Pittsburgh, PA",501 to 1000 employees,1984,College / University,Colleges & Universities,Education,Unknown / Non-Applicable,-1,0,0,56.0,91.0,NaN,NaN,NaN
953,Data Science Manager,Data Science ManagerResponsibilities:\n\nOvers...,3.2,"Numeric, LLC\n3.2","Allentown, PA","Chadds Ford, PA",1 to 50 employees,-1,Company - Private,Staffing & Outsourcing,Business Services,$5 to $10 million (USD),-1,0,0,95.0,160.0,NaN,NaN,NaN
955,Research Scientist – Security and Privacy,Returning Candidate? Log back in to the Career...,3.6,Riverside Research Institute\n3.6,"Beavercreek, OH","Arlington, VA",501 to 1000 employees,1967,Nonprofit Organization,Federal Agencies,Government,$50 to $100 million (USD),-1,0,0,61.0,126.0,NaN,NaN,NaN

In [36]:
df['min_salary'] =df['min_salary'].fillna(np.nan) * 1000
df['max_salary'] =df['max_salary'].fillna(np.nan) * 1000
df

,Job Title,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,hourly,employer_provided,min_salary,max_salary
0,Data Scientist,"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1,0,0,53000.0,91000.0
1,Healthcare Data Scientist,What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,0,0,63000.0,112000.0
2,Data Scientist,"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),-1,0,0,80000.0,90000.0
3,Data Scientist,*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa...",0,0,56000.0,97000.0
4,Data Scientist,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",0,0,86000.0,143000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
950,"Sr Scientist, Immuno-Oncology - Oncology",Site Name: USA - Massachusetts - Cambridge\nPo...,3.9,GSK\n3.9,"Cambridge, MA","Brentford, United Kingdom",10000+ employees,1830,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$10+ billion (USD),"Pfizer, AstraZeneca, Merck",0,0,58000.0,111000.0
951,Senior Data Engineer,THE CHALLENGE\nEventbrite has a world-class da...,4.4,Eventbrite\n4.4,"Nashville, TN","San Francisco, CA",1001 to 5000 employees,2006,Company - Public,Internet,Information Technology,$100 to $500 million (USD),"See Tickets, TicketWeb, Vendini",0,0,72000.0,133000.0
952,"Project Scientist - Auton Lab, Robotics Institute",The Auton Lab at Carnegie Mellon University is...,2.6,Software Engineering Institute\n2.6,"Pittsburgh, PA","Pittsburgh, PA",501 to 1000 employees,1984,College / University,Colleges & Universities,Education,Unknown / Non-Applicable,-1,0,0,56000.0,91000.0
953,Data Science Manager,Data Science ManagerResponsibilities:\n\nOvers...,3.2,"Numeric, LLC\n3.2","Allentown, PA","Chadds Ford, PA",1 to 50 employees,-1,Company - Private,Staffing & Outsourcing,Business Services,$5 to $10 million (USD),-1,0,0,95000.0,160000.0
955,Research Scientist – Security and Privacy,Returning Candidate? Log back in to the Career...,3.6,Riverside Research Institute\n3.6,"Beavercreek, OH","Arlington, VA",501 to 1000 employees,1967,Nonprofit Organization,Federal Agencies,Government,$50 to $100 million (USD),-1,0,0,61000.0,126000.0

In [37]:
df['Company Name']=df.apply(lambda x:x['Company Name'] if x['Rating']<0 else x['Company Name'][:-3],axis=1)

In [38]:
df['Job_state']=df['Location'].apply(lambda x:x.split(',')[1])

In [39]:
df['avg_salary']=(df['min_salary']+
df['max_salary'])//2

In [41]:
df['same_state']=df.apply(lambda x:1 if x.Location==x.Headquarters else 0,axis=1)

In [42]:
df['age']=df.Founded.apply(lambda x:x if x<0 else 2024-x)

In [43]:
#python
df['python']=df['Job Description'].apply(lambda x: 1 if 'python' in x.lower() else 0)
df['Rstudio'] = df['Job Description'].apply(lambda x: 1 if 'r studio' in x.lower() or 'r-studio' in x.lower() else 0)
 
df['spark'] = df['Job Description'].apply(lambda x: 1 if 'spark' in x.lower() else 0)

df['aws'] = df['Job Description'].apply(lambda x: 1 if 'aws' in x.lower() else 0)

df['excel'] = df['Job Description'].apply(lambda x: 1 if 'excel' in x.lower() else 0)
df['tableau'] = df['Job Description'].apply(lambda x: 1 if 'tableau' in x.lower() else 0)
df.tableau.value_counts()

tableau
0    594
1    148
Name: count, dtype: int64

In [50]:
df

,Job Title,Rating,Company Name,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,...,Job_state,avg_salary,same_state,age,python,Rstudio,spark,aws,excel,tableau
0,Data Scientist,3.8,Tecolote Research\n,"Goleta, CA",501.0,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),...,NM,72000.0,0,51,1,0,0,0,1,1
1,Healthcare Data Scientist,3.4,University of Maryland Medical System\n,"Baltimore, MD",10000.0,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),...,MD,87500.0,0,40,1,0,0,0,0,0
2,Data Scientist,4.8,KnowBe4\n,"Clearwater, FL",501.0,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),...,FL,85000.0,1,14,1,0,1,0,1,0
3,Data Scientist,3.8,PNNL\n,"Richland, WA",1001.0,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),...,WA,76500.0,1,59,1,0,0,0,0,0
4,Data Scientist,2.9,Affinity Solutions\n,"New York, NY",51.0,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,...,NY,114500.0,1,26,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
950,"Sr Scientist, Immuno-Oncology - Oncology",3.9,GSK\n,"Brentford, United Kingdom",10000.0,1830,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$10+ billion (USD),...,MA,84500.0,0,194,0,0,0,1,0,0
951,Senior Data Engineer,4.4,Eventbrite\n,"San Francisco, CA",1001.0,2006,Company - Public,Internet,Information Technology,$100 to $500 million (USD),...,TN,102500.0,0,18,1,0,1,1,0,0
952,"Project Scientist - Auton Lab, Robotics Institute",2.6,Software Engineering Institute\n,"Pittsburgh, PA",501.0,1984,College / University,Colleges & Universities,Education,Unknown / Non-Applicable,...,PA,73500.0,1,40,0,0,0,0,1,0
953,Data Science Manager,3.2,"Numeric, LLC\n","Chadds Ford, PA",1.0,-1,Company - Private,Staffing & Outsourcing,Business Services,$5 to $10 million (USD),...,PA,127500.0,0,-1,0,0,0,0,1,0
955,Research Scientist – Security and Privacy,3.6,Riverside Research Institute\n,"Arlington, VA",501.0,1967,Nonprofit Organization,Federal Agencies,Government,$50 to $100 million (USD),...,OH,93500.0,0,57,1,0,0,0,0,0

In [52]:
df['Sector'].unique()
df = df[df['Sector']!= '-1']

In [48]:
#df=df.drop(['Job Description'],axis=1)
df=df.drop(['Location'],axis=1)

In [ ]:

df.drop(columns=['Salary Estimate'], inplace=True)

In [49]:
df['Size'] = df['Size'].str.extract(r'(\d+)(?=\s+to|\+|\-| employees)').astype(float)

In [53]:
path=r"C:\Users\shiya\OneDrive\Desktop\projects\SDE Predictor\cleaneddataset.xlsx"
df.to_excel(path)