### Import library

In [34]:
import pandas as pd

#### Dict for storing data

In [35]:
students = {}

###  Add Students

In [36]:
def add_student(student_name):
    if student_name not in students:
        students[student_name] = {}
        print(f"Student {student_name} added.")
    else:
        print(f"Student {student_name} already exists.")

### Add Subjects

In [37]:
def add_subject(student_name, subject_name):
    if student_name in students:
        if subject_name not in students[student_name]:
            students[student_name][subject_name] = []
            print(f"Subject {subject_name} added for student {student_name}.")
        else:
            print(f"Subject {subject_name} already exists for student {student_name}.")
    else:
        print(f"Student {student_name} does not exist.")

### Record Grades

In [38]:
def record_grade(student_name, subject_name, grade):
    if student_name in students:
        if subject_name in students[student_name]:
            students[student_name][subject_name].append(grade)
            print(f"Grade {grade} recorded for student {student_name} in subject {subject_name}.")
        else:
            print(f"Subject {subject_name} does not exist for student {student_name}.")
    else:
        print(f"Student {student_name} does not exist.")

###  Calculate Average Grades

In [39]:
def calculate_average_grades():
    averages = {}
    for student_name, subjects in students.items():
        total_grades = 0
        count = 0
        for grades in subjects.values():
            total_grades += sum(grades)
            count += len(grades)
        if count > 0:
            averages[student_name] = total_grades / count
        else:
            averages[student_name] = 0
    return averages

### Determine the Top Student

In [40]:
def determine_top_student():
    averages = calculate_average_grades()
    if averages:
        top_student = max(averages, key=averages.get)
        return top_student, averages[top_student]
    else:
        return None, 0

### Rank students

In [41]:
def rank_students():
    averages = calculate_average_grades()
    ranked_students = sorted(averages.items(), key=lambda x: x[1], reverse=True)
    return [(student, avg, rank + 1) for rank, (student, avg) in enumerate(ranked_students)]

### Display data on Datafram

In [42]:
def students_dataframe():
    data = []
    averages = calculate_average_grades()
    ranked_students = rank_students()
    
    rank_dict = {student: rank for student, avg, rank in ranked_students}
    
    for student_name, subjects in students.items():
        for subject_name, grades in subjects.items():
            for grade in grades:
                data.append([
                    student_name, 
                    subject_name,
                    grade, 
                    averages[student_name], 
                    rank_dict.get(student_name, 'N/A')
                ])
    
    df = pd.DataFrame(data, columns=[
        'Student', 'Subject', 'Grade', 'Average Grade', 'Rank'
    ])
    
    df_sorted = df.sort_values(by='Rank')
    return df_sorted

### Store data

In [43]:
add_student("Alice")
add_subject("Alice", "Math")
add_subject("Alice", "Science")
record_grade("Alice", "Math", 90)
record_grade("Alice", "Science", 85)

add_student("Bob")
add_subject("Bob", "Math")
record_grade("Bob", "Math", 95)

add_student("Alie")
add_subject("Alie", "Math")
record_grade("Alie", "Math", 90)

add_student("Ale")
add_subject("Ale", "Math")
record_grade("Ale", "Math", 90)

add_student("Kim")
add_subject("Kim", "Economics")
record_grade("Kim", "Economics", 90)

add_student("Leo")
add_subject("Leo", "Statistics")
record_grade("Leo", "Statistics", 82)

add_student("Mia")
add_subject("Mia", "Philosophy")
record_grade("Mia", "Philosophy", 87)

add_student("Nia")
add_subject("Nia", "Sociology")
record_grade("Nia", "Sociology", 86)

add_student("Omar")
add_subject("Omar", "Engineering")
record_grade("Omar", "Engineering", 88)

add_student("Pia")
add_subject("Pia", "Psychology")
record_grade("Pia", "Psychology", 94)

add_student("Quinn")
add_subject("Quinn", " Science")
record_grade("Quinn", " Science", 89)

add_student("Rex")
add_subject("Rex", "Design")
record_grade("Rex", "Design", 84)

add_student("Sara")
add_subject("Sara", "Literature")
record_grade("Sara", "Literature", 91)

add_student("Tom")
add_subject("Tom", "Astronomy")
record_grade("Tom", "Astronomy", 90)

add_student("Fay")
add_subject("Fay", "Biology")
record_grade("Fay", "Biology", 89)

add_student("Gus")
add_subject("Gus", "Chemistry")
record_grade("Gus", "Chemistry", 84)

add_student("Hana")
add_subject("Hana", "Physics")
record_grade("Hana", "Physics", 91)

add_student("Ian")
add_subject("Ian", "Geography")
record_grade("Ian", "Geography", 87)

add_student("Jill")
add_subject("Jill", "Music")
record_grade("Jill", "Music", 93)



averages = calculate_average_grades()
print("Average Grades:", averages)

top_student, top_average = determine_top_student()
print(f"Top Student: {top_student} with an average grade of {top_average}")

df = students_dataframe()

Student Alice added.
Subject Math added for student Alice.
Subject Science added for student Alice.
Grade 90 recorded for student Alice in subject Math.
Grade 85 recorded for student Alice in subject Science.
Student Bob added.
Subject Math added for student Bob.
Grade 95 recorded for student Bob in subject Math.
Student Alie added.
Subject Math added for student Alie.
Grade 90 recorded for student Alie in subject Math.
Student Ale added.
Subject Math added for student Ale.
Grade 90 recorded for student Ale in subject Math.
Student Kim added.
Subject Economics added for student Kim.
Grade 90 recorded for student Kim in subject Economics.
Student Leo added.
Subject Statistics added for student Leo.
Grade 82 recorded for student Leo in subject Statistics.
Student Mia added.
Subject Philosophy added for student Mia.
Grade 87 recorded for student Mia in subject Philosophy.
Student Nia added.
Subject Sociology added for student Nia.
Grade 86 recorded for student Nia in subject Sociology.
Student Omar added.
Subject Engineering added for student Omar.
Grade 88 recorded for student Omar in subject Engineering.
Student Pia added.
Subject Psychology added for student Pia.
Grade 94 recorded for student Pia in subject Psychology.
Student Quinn added.
Subject  Science added for student Quinn.
Grade 89 recorded for student Quinn in subject  Science.
Student Rex added.
Subject Design added for student Rex.
Grade 84 recorded for student Rex in subject Design.
Student Sara added.
Subject Literature added for student Sara.
Grade 91 recorded for student Sara in subject Literature.
Student Tom added.
Subject Astronomy added for student Tom.
Grade 90 recorded for student Tom in subject Astronomy.
Student Fay added.
Subject Biology added for student Fay.
Grade 89 recorded for student Fay in subject Biology.
Student Gus added.
Subject Chemistry added for student Gus.
Grade 84 recorded for student Gus in subject Chemistry.
Student Hana added.
Subject Physics added for student Hana.
Grade 91 recorded for student Hana in subject Physics.
Student Ian added.
Subject Geography added for student Ian.
Grade 87 recorded for student Ian in subject Geography.
Student Jill added.
Subject Music added for student Jill.
Grade 93 recorded for student Jill in subject Music.
Average Grades: {'Alice': 87.5, 'Bob': 95.0, 'Alie': 90.0, 'Ale': 90.0, 'Kim': 90.0, 'Leo': 82.0, 'Mia': 87.0, 'Nia': 86.0, 'Omar': 88.0, 'Pia': 94.0, 'Quinn': 89.0, 'Rex': 84.0, 'Sara': 91.0, 'Tom': 90.0, 'Fay': 89.0, 'Gus': 84.0, 'Hana': 91.0, 'Ian': 87.0, 'Jill': 93.0}
Top Student: Bob with an average grade of 95.0

In [44]:
df

   Student      Subject  Grade  Average Grade  Rank
2      Bob         Math     95           95.0     1
10     Pia   Psychology     94           94.0     2
19    Jill        Music     93           93.0     3
13    Sara   Literature     91           91.0     4
17    Hana      Physics     91           91.0     5
3     Alie         Math     90           90.0     6
4      Ale         Math     90           90.0     7
5      Kim    Economics     90           90.0     8
14     Tom    Astronomy     90           90.0     9
11   Quinn      Science     89           89.0    10
15     Fay      Biology     89           89.0    11
9     Omar  Engineering     88           88.0    12
1    Alice      Science     85           87.5    13
0    Alice         Math     90           87.5    13
7      Mia   Philosophy     87           87.0    14
18     Ian    Geography     87           87.0    15
8      Nia    Sociology     86           86.0    16
12     Rex       Design     84           84.0    17
16     Gus    Chemistry     84           84.0    18
6      Leo   Statistics     82           82.0    19

### If i want to save data as file by any extention

In [33]:
file_path = r"C:\Users\mwaly\Desktop\New folder\students_grades.xlsx"
df.to_csv(file_path, index=False)