In [1]:
import numpy as np
import pandas as pd
from bs4 import BeautifulSoup
import requests

In [2]:
books = {
    'title':[],
    'price':[],
    'star':[]
}
for i in range(1,51):
    
    url = f'http://books.toscrape.com/catalogue/category/books_1/page-{i}.html'
    response = requests.get(url)
    soup = BeautifulSoup(response.text, 'html.parser')
    ol = soup.find('ol')
    articles = soup.find_all('article')

   
    for article in articles:
        image = article.find('img')
        title = image.attrs['alt']
        star = article.find('p')
        star = star['class'][1]
        price = article.find('p', class_ = 'price_color').text.strip()
        price = float(price[2:])
        
        books['title'].append(title)
        books['price'].append(price)
        books['star'].append(star)

In [3]:
df = pd.DataFrame(books)

In [4]:
df

                                                 title  price   star
0                                 A Light in the Attic  51.77  Three
1                                   Tipping the Velvet  53.74    One
2                                           Soumission  50.10    One
3                                        Sharp Objects  47.82   Four
4                Sapiens: A Brief History of Humankind  54.23   Five
..                                                 ...    ...    ...
995  Alice in Wonderland (Alice's Adventures in Won...  55.53    One
996   Ajin: Demi-Human, Volume 1 (Ajin: Demi-Human #1)  57.06   Four
997  A Spy's Devotion (The Regency Spies of London #1)  16.97   Five
998                1st to Die (Women's Murder Club #1)  53.98    One
999                 1,000 Places to See Before You Die  26.08   Five

[1000 rows x 3 columns]

In [12]:
df.to_csv(r"C:\Users\victo\OneDrive\Documents\Data Science Bootcamp\Python\Class\Web Scraping\BookScraping.csv", index = False)