In [1]:
import warnings
warnings.filterwarnings("ignore")

In [2]:
# Importaré los dataframe transformados que voy a utilizar 

import pandas as pd

transformado_movies = pd.read_parquet("./Datasets originales/Movies Transformado")
transformado_credits = pd.read_parquet("./Datasets originales/Credits Transformado")

In [3]:
transformado_movies

,id,original_language,overview,popularity,title,vote_average,vote_count,release_year,genres_names
0,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,Toy Story,7.7,5415.0,1995,"Animation, Comedy, Family"
1,8844,en,When siblings Judy and Peter discover an encha...,17.015539,Jumanji,6.9,2413.0,1995,"Adventure, Fantasy, Family"
2,15602,en,A family wedding reignites the ancient feud be...,11.7129,Grumpier Old Men,6.5,92.0,1995,"Romance, Comedy"
3,31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,Waiting to Exhale,6.1,34.0,1995,"Comedy, Drama, Romance"
4,11862,en,Just when George Banks has recovered from his ...,8.387519,Father of the Bride Part II,5.7,173.0,1995,Comedy
...,...,...,...,...,...,...,...,...,...
45460,30840,en,"Yet another version of the classic epic, with ...",5.683753,Robin Hood,5.7,26.0,1991,"Drama, Action, Romance"
45462,111109,tl,An artist struggles to finish his work while a...,0.178241,Century of Birthing,9.0,3.0,2011,Drama
45463,67758,en,"When one of her hits goes wrong, a professiona...",0.903007,Betrayal,3.8,6.0,2003,"Action, Drama, Thriller"
45464,227506,en,"In a small town live two brothers, one a minis...",0.003503,Satan Triumphant,0.0,0.0,1917,
45465,461257,en,50 years after decriminalisation of homosexual...,0.163015,Queerama,0.0,0.0,2017,

In [4]:
transformado_credits

,id,actors_names,directors_names
0,862,"Tom Hanks, Tim Allen, Don Rickles, Jim Varney,...",John Lasseter
1,8844,"Robin Williams, Jonathan Hyde, Kirsten Dunst, ...",Joe Johnston
2,15602,"Walter Matthau, Jack Lemmon, Ann-Margret, Soph...",Howard Deutch
3,31357,"Whitney Houston, Angela Bassett, Loretta Devin...",Forest Whitaker
4,11862,"Steve Martin, Diane Keaton, Martin Short, Kimb...",Charles Shyer
...,...,...,...
45471,439050,"Leila Hatami, Kourosh Tahami, Elham Korda",Hamid Nematollah
45472,111109,"Angel Aquino, Perry Dizon, Hazel Orencio, Joel...",Lav Diaz
45473,67758,"Erika Eleniak, Adam Baldwin, Julie du Page, Ja...",Mark L. Lester
45474,227506,"Iwan Mosschuchin, Nathalie Lissenko, Pavel Pav...",Yakov Protazanov
45475,461257,,Daisy Asquith

In [5]:
# Verifico tipo de dato en las columnas id
print(transformado_movies['id'].dtype)
print(transformado_credits['id'].dtype)

# Transformo columna id de transformado_movies en tipo int
transformado_movies['id'] = transformado_movies['id'].astype(int)

# Verifico
print(transformado_movies['id'].dtype)

object
int64
int64

In [6]:
# Voy a unir ambos dataframe por la columna id

data_total = pd.merge(transformado_movies, transformado_credits, on='id', how='inner')
data_total

,id,original_language,overview,popularity,title,vote_average,vote_count,release_year,genres_names,actors_names,directors_names
0,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,Toy Story,7.7,5415.0,1995,"Animation, Comedy, Family","Tom Hanks, Tim Allen, Don Rickles, Jim Varney,...",John Lasseter
1,8844,en,When siblings Judy and Peter discover an encha...,17.015539,Jumanji,6.9,2413.0,1995,"Adventure, Fantasy, Family","Robin Williams, Jonathan Hyde, Kirsten Dunst, ...",Joe Johnston
2,15602,en,A family wedding reignites the ancient feud be...,11.7129,Grumpier Old Men,6.5,92.0,1995,"Romance, Comedy","Walter Matthau, Jack Lemmon, Ann-Margret, Soph...",Howard Deutch
3,31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,Waiting to Exhale,6.1,34.0,1995,"Comedy, Drama, Romance","Whitney Houston, Angela Bassett, Loretta Devin...",Forest Whitaker
4,11862,en,Just when George Banks has recovered from his ...,8.387519,Father of the Bride Part II,5.7,173.0,1995,Comedy,"Steve Martin, Diane Keaton, Martin Short, Kimb...",Charles Shyer
...,...,...,...,...,...,...,...,...,...,...,...
45446,30840,en,"Yet another version of the classic epic, with ...",5.683753,Robin Hood,5.7,26.0,1991,"Drama, Action, Romance","Patrick Bergin, Uma Thurman, David Morrissey, ...",John Irvin
45447,111109,tl,An artist struggles to finish his work while a...,0.178241,Century of Birthing,9.0,3.0,2011,Drama,"Angel Aquino, Perry Dizon, Hazel Orencio, Joel...",Lav Diaz
45448,67758,en,"When one of her hits goes wrong, a professiona...",0.903007,Betrayal,3.8,6.0,2003,"Action, Drama, Thriller","Erika Eleniak, Adam Baldwin, Julie du Page, Ja...",Mark L. Lester
45449,227506,en,"In a small town live two brothers, one a minis...",0.003503,Satan Triumphant,0.0,0.0,1917,,"Iwan Mosschuchin, Nathalie Lissenko, Pavel Pav...",Yakov Protazanov
45450,461257,en,50 years after decriminalisation of homosexual...,0.163015,Queerama,0.0,0.0,2017,,,Daisy Asquith

In [7]:
data_total.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45451 entries, 0 to 45450
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 45451 non-null  int64
 1   original_language  45440 non-null  object
 2   overview           44510 non-null  object
 3   popularity         45451 non-null  object
 4   title              45451 non-null  object
 5   vote_average       45451 non-null  float64
 6   vote_count         45451 non-null  float64
 7   release_year       45451 non-null  int32
 8   genres_names       45451 non-null  object
 9   actors_names       45451 non-null  object
 10  directors_names    45451 non-null  object
dtypes: float64(2), int32(1), int64(1), object(7)
memory usage: 3.6+ MB

In [8]:
# Verifico el tipo de datos de cada columna y la existencia de datos nulos y/o faltantes

# Columna 'original_language'
# Tipo de datos
print(data_total['original_language'].apply(type).value_counts())

# Identifico valores nulos
null_mask_languages = data_total['original_language'].isna()
print("\nMáscara de valores nulos:")
print(null_mask_languages)

# Cuento valores nulos
null_count = data_total['original_language'].isna().sum()
print(f"\nNúmero de valores nulos en 'original_language': {null_count}")

# Filtro las filas donde 'original_language' es nulo
rows_nulls_language = data_total[null_mask_languages]
rows_nulls_language

original_language
<class 'str'>         45440
<class 'NoneType'>       11
Name: count, dtype: int64

Máscara de valores nulos:
0        False
1        False
2        False
3        False
4        False
         ...
45446    False
45447    False
45448    False
45449    False
45450    False
Name: original_language, Length: 45451, dtype: bool

Número de valores nulos en 'original_language': 11

,id,original_language,overview,popularity,title,vote_average,vote_count,release_year,genres_names,actors_names,directors_names
19595,283101,None,Documentary about the production of The Third ...,0.017007,Shadowing the Third Man,0.0,0.0,2004,Documentary,"John Hurt, Guy Hamilton, Angela Allen, Daniel ...",Frederick Baker
21621,103902,None,An Outback farmer takes in an Afghani woman wh...,0.359818,Unfinished Sky,6.4,8.0,2007,"Romance, Drama","William McInnes, Monic Hendrickx, Bille Brown,...",Peter Duncan
22849,359195,None,A group of Union Army soldiers is charged with...,0.070647,13 Fighting Men,0.0,0.0,1960,"War, Western","Grant Williams, Brad Dexter, Carole Mathews, R...",Harry W. Gerstad
32169,147050,None,George and Gracie enter an elegant drawing roo...,0.073418,Lambchops,6.5,2.0,1929,Comedy,"George Burns, Gracie Allen",Murray Roth
37424,257095,None,The first fairy tale transformed into a full-l...,0.036841,Prince Bayaya,5.0,1.0,1950,Animation,,Jiří Trnka
41055,332742,None,"Until the late 1970s, the Pakistani city of La...",0.373688,Song of Lahore,6.5,2.0,2015,Documentary,,"Andy Schocken, Sharmeen Obaid-Chinoy"
41875,144410,None,Two dancers perform in succession facing a sta...,1.58434,Annabelle Serpentine Dance,5.7,20.0,1895,Documentary,Annabelle Moore,"William Heise, William K.L. Dickson"
44050,380438,None,None,0.001283,Lettre d'une inconnue,0.0,0.0,2001,Drama,"Irène Jacob, Christopher Thompson, Joachim Biß...",Jacques Deray
44400,381096,None,The traditional crafts of crochet and knitting...,0.067624,Yarn,0.0,0.0,2016,"Animation, Documentary","Tinna Thorudottir Thorvaldar, Olek, Toshiko Ho...","Heather Millard, Una Lorenzen, Thordur Jonsson"
44566,381525,None,American investment fund buys Austrian compani...,0.030766,WiNWiN,0.0,0.0,2016,,,Daniel Hoesl
44645,104473,None,"Three military men, seen inside a fortificatio...",0.471325,The Surrender of Tournavos,4.6,5.0,1897,"Action, War, Drama, History",,Georges Méliès

In [9]:
# Columna 'overview'
# Tipo de datos
print(data_total['overview'].apply(type).value_counts())

# Identifico valores nulos
null_mask_overview = data_total['overview'].isna()
print("\nMáscara de valores nulos:")
print(null_mask_overview)

# Cuento valores nulos
null_count = data_total['overview'].isna().sum()
print(f"\nNúmero de valores nulos en 'overview': {null_count}")

# Filtro las filas donde 'overview' es nulo
rows_nulls_overview = data_total[null_mask_overview]
rows_nulls_overview

overview
<class 'str'>         44510
<class 'NoneType'>      941
Name: count, dtype: int64

Máscara de valores nulos:
0        False
1        False
2        False
3        False
4        False
         ...
45446    False
45447    False
45448    False
45449    False
45450    False
Name: overview, Length: 45451, dtype: bool

Número de valores nulos en 'overview': 941

,id,original_language,overview,popularity,title,vote_average,vote_count,release_year,genres_names,actors_names,directors_names
32,78802,fr,None,0.745542,Wings of Courage,6.8,4.0,1996,"Romance, Adventure","Craig Sheffer, Elizabeth McGovern, Tom Hulce, ...",Jean-Jacques Annaud
300,161495,sv,None,3.395867,Roommates,6.4,7.0,1995,"Drama, Comedy","Peter Falk, D. B. Sweeney, Julianne Moore, Ell...",Peter Yates
634,287305,de,None,0.066123,Peanuts – Die Bank zahlt alles,4.0,1.0,1996,Comedy,"Ulrich Mühe, Iris Berben, Marita Marschall, Ru...",Carlo Rola
635,339428,de,None,0.002229,Happy Weekend,0.0,0.0,1996,Comedy,"Erik Goertz, Anton Rattinger, Dieter Wardetzky...",
641,10801,de,None,0.821299,The Superwife,5.3,7.0,1996,Comedy,"Veronica Ferres, Til Schweiger, Joachim Król, ...",Sönke Wortmann
...,...,...,...,...,...,...,...,...,...,...,...
45328,395767,fr,None,1.238471,Scribe,5.8,26.0,2017,Thriller,"François Cluzet, Denis Podalydès, Sami Bouajil...",Thomas Kruithof
45329,199887,en,None,0.704642,Over/Under,4.0,2.0,2013,Drama,"Steven Pasquale, Caroline Dhavernas, Anthony C...",Bronwen Hughes
45364,317389,es,None,0.006352,Simbad e il califfo di Bagdad,0.0,0.0,1973,Adventure,"Robert Malcolm, Sonia Wilson, Luigi Bonos, Val...",Pietro Francisci
45385,468707,fi,None,0.347806,Thick Lashes of Lauri Mäntyvaara,8.0,1.0,2017,"Romance, Comedy","Inka Haapamäki, Rosa Honkonen, Tiitus Rantala,...",Hannaleena Hauru
45386,280422,ru,None,0.201582,All at Once,6.0,4.0,2014,"Crime, Comedy","Andrey Muravyov, Yuliya Khlynina, Anton Shurts...",Roman Karimov

In [10]:
# Columna 'popularity'
# Tipo de datos
print(data_total['popularity'].apply(type).value_counts())

# Identifico valores nulos
null_mask = data_total['popularity'].isna()
print("\nMáscara de valores nulos:")
print(null_mask)

# Cuento valores nulos
null_count = data_total['popularity'].isna().sum()
print(f"\nNúmero de valores nulos en 'popularity': {null_count}")

popularity
<class 'str'>    45451
Name: count, dtype: int64

Máscara de valores nulos:
0        False
1        False
2        False
3        False
4        False
         ...
45446    False
45447    False
45448    False
45449    False
45450    False
Name: popularity, Length: 45451, dtype: bool

Número de valores nulos en 'popularity': 0

In [11]:
# Columna 'title'
# Tipo de datos
print(data_total['title'].apply(type).value_counts())

# Identifico valores nulos
null_mask = data_total['title'].isna()
print("\nMáscara de valores nulos:")
print(null_mask)

# Cuento valores nulos
null_count = data_total['title'].isna().sum()
print(f"\nNúmero de valores nulos en 'title': {null_count}")

title
<class 'str'>    45451
Name: count, dtype: int64

Máscara de valores nulos:
0        False
1        False
2        False
3        False
4        False
         ...
45446    False
45447    False
45448    False
45449    False
45450    False
Name: title, Length: 45451, dtype: bool

Número de valores nulos en 'title': 0

In [12]:
# Columna 'vote_average'
# Tipo de datos
print(data_total['vote_average'].apply(type).value_counts())

# Identifico valores nulos
null_mask = data_total['vote_average'].isna()
print("\nMáscara de valores nulos:")
print(null_mask)

# Cuento valores nulos
null_count = data_total['vote_average'].isna().sum()
print(f"\nNúmero de valores nulos en 'vote_average': {null_count}")

vote_average
<class 'float'>    45451
Name: count, dtype: int64

Máscara de valores nulos:
0        False
1        False
2        False
3        False
4        False
         ...
45446    False
45447    False
45448    False
45449    False
45450    False
Name: vote_average, Length: 45451, dtype: bool

Número de valores nulos en 'vote_average': 0

In [13]:
# Columna 'vote_count'
# Tipo de datos
print(data_total['vote_count'].apply(type).value_counts())

# Identifico valores nulos
null_mask = data_total['vote_count'].isna()
print("\nMáscara de valores nulos:")
print(null_mask)

# Cuento valores nulos
null_count = data_total['vote_count'].isna().sum()
print(f"\nNúmero de valores nulos en 'overview': {null_count}")

# Filtro las filas donde 'vote_count' es nulo
rows_with_nulls = data_total[null_mask]

vote_count
<class 'float'>    45451
Name: count, dtype: int64

Máscara de valores nulos:
0        False
1        False
2        False
3        False
4        False
         ...
45446    False
45447    False
45448    False
45449    False
45450    False
Name: vote_count, Length: 45451, dtype: bool

Número de valores nulos en 'overview': 0

In [14]:
# Columna 'release_year'
# Tipo de datos
print(data_total['release_year'].apply(type).value_counts())

# Identifico valores nulos
null_mask = data_total['release_year'].isna()
print("\nMáscara de valores nulos:")
print(null_mask)

# Cuento valores nulos
null_count = data_total['release_year'].isna().sum()
print(f"\nNúmero de valores nulos en 'overview': {null_count}")

# Filtro las filas donde 'release_year' es nulo
rows_with_nulls = data_total[null_mask]

release_year
<class 'int'>    45451
Name: count, dtype: int64

Máscara de valores nulos:
0        False
1        False
2        False
3        False
4        False
         ...
45446    False
45447    False
45448    False
45449    False
45450    False
Name: release_year, Length: 45451, dtype: bool

Número de valores nulos en 'overview': 0

In [15]:
# Columna 'genres_names'
# Tipo de datos
print(data_total['genres_names'].apply(type).value_counts())

genres_names
<class 'str'>    45451
Name: count, dtype: int64

In [16]:
# creo una función para detectar cadenas vacías
def is_empty_string(value:str)->bool:

    """Verifica si el valor proporcionado es una cadena vacía.


    Args:
        value (str): El valor que se va a verificar.

    Returns:
        bool: True si el valor es una cadena vacía (después de eliminar espacios en blanco alrededor),de lo contrario, False.
    """
    
    return isinstance(value, str) and value.strip() == ''

# Creo una máscara booleana para filas con cadenas vacías
empty_string_mask_genres = data_total['genres_names'].apply(is_empty_string)

# Filtro las filas con cadenas vacías
rows_with_empty_strings_genres = data_total[empty_string_mask_genres]

# Muestro las filas con cadenas vacías
print("Filas con cadenas vacías en 'genres_names':")
rows_with_empty_strings_genres

Filas con cadenas vacías en 'genres_names':

,id,original_language,overview,popularity,title,vote_average,vote_count,release_year,genres_names,actors_names,directors_names
55,124057,en,"Set in modern times, Alex finds King Arthur's ...",0.307075,Kids of the Round Table,3.0,1.0,1997,,"Johnny Morina, Malcolm McDowell, Maggie Castle...",Robert Tinnell
83,188588,en,"Filmed entirely on location in East Hampton, L...",0.531159,Last Summer in the Hamptons,0.0,0.0,1995,,"Victoria Foyt, Viveca Lindfors, Jon Robin Bait...",Henry Jaglom
126,290157,en,"Michel Negroponte, a documentary filmmaker, me...",0.001178,Jupiter's Wife,0.0,0.0,1995,,Maggie Cogan,Michel Negroponte
137,124639,en,A subtle yet violent commentary on feudal lords.,0.001205,Target,0.0,0.0,1995,,,Sandip Ray
390,267188,en,Jackie and Eugene are joined by a mystical win...,0.251223,Desert Winds,0.0,0.0,1997,,"Michael A. Nickles, Adam Ant, Heather Graham, ...",Michael A. Nickles
...,...,...,...,...,...,...,...,...,...,...,...
45433,44324,fr,The background of this picture represents a sc...,0.213973,The Untameable Whiskers,6.0,6.0,1904,,Georges Méliès,Georges Méliès
45434,122036,fr,This shows a prince entering upon the stage of...,0.071782,The Imperceptable Transmutations,5.0,2.0,1904,,,Georges Méliès
45441,67179,it,Sentenced to life imprisonment for illegal act...,0.225051,St. Michael Had a Rooster,6.0,3.0,1972,,"Giulio Brogi, Renato Cestiè, Vito Cipolla, Dan...","Paolo Taviani, Vittorio Taviani"
45449,227506,en,"In a small town live two brothers, one a minis...",0.003503,Satan Triumphant,0.0,0.0,1917,,"Iwan Mosschuchin, Nathalie Lissenko, Pavel Pav...",Yakov Protazanov
45450,461257,en,50 years after decriminalisation of homosexual...,0.163015,Queerama,0.0,0.0,2017,,,Daisy Asquith

In [17]:
# Columna 'directors_names'
# Tipo de datos
print(data_total['directors_names'].apply(type).value_counts())

directors_names
<class 'str'>    45451
Name: count, dtype: int64

In [18]:
# Utilizaré la misma funcion creada anteriormente para identificar nulos

# Creo una máscara booleana para filas con cadenas vacías
empty_string_mask_directors = data_total['directors_names'].apply(is_empty_string)

# Filtro las filas con cadenas vacías
rows_with_empty_strings_directors = data_total[empty_string_mask_directors]

# Muestro las filas con cadenas vacías
print("Filas con cadenas vacías en 'directors_names':")
rows_with_empty_strings_directors

Filas con cadenas vacías en 'directors_names':

,id,original_language,overview,popularity,title,vote_average,vote_count,release_year,genres_names,actors_names,directors_names
189,56088,en,A documentary about the culture of hip-hop. Th...,0.159596,The Show,5.3,2.0,1995,Documentary,"Kurtis Blow, Sean Combs, Snoop Dogg, Dr. Dre, ...",
614,123505,en,A Modern Affair is an independent feature dire...,0.173207,A Modern Affair,5.0,1.0,1996,,"Lisa Eichhorn, Stanley Tucci, Caroline Aaron, ...",
635,339428,de,None,0.002229,Happy Weekend,0.0,0.0,1996,Comedy,"Erik Goertz, Anton Rattinger, Dieter Wardetzky...",
661,318177,en,Academy Award winner Mira Sorvino plays photog...,0.001662,Tarantella,0.0,0.0,1996,,,
863,253632,fr,None,0.437895,Baton Rouge,0.0,0.0,1988,Thriller,"Victoria Abril, Antonio Banderas, Carmen Maura",
...,...,...,...,...,...,...,...,...,...,...,...
45187,279687,en,"The cut-scenes from Futurama (2003) (VG), edit...",0.988667,Futurama: The Lost Adventure,7.9,10.0,2008,"Comedy, Animation","Billy West, Katey Sagal, John DiMaggio, Tress ...",
45213,332543,en,"On the surface, 'A Genius Leaves The Hood-The ...",0.325405,A Genius Leaves the Hood - The Unauthorized St...,6.0,2.0,2014,Documentary,,
45238,28469,de,No overview found.,0.192235,Der Herr Karl,10.0,1.0,1961,Comedy,Helmut Qualtinger,
45255,458618,en,Donald Trump's daughter Ivanka has been appoin...,0.465977,Ivanka Trump- America's Real First Lady?,2.0,1.0,2017,"Documentary, TV Movie","Ivanka Trump, Matt Frei",
45348,214753,en,The Airzone Solution takes place in a future B...,0.000108,The Airzone Solution,0.0,0.0,1993,,"Jon Pertwee, Peter Davison, Sylvester McCoy, S...",

In [19]:
# Columna 'actors_names'
# Tipo de datos
print(data_total['actors_names'].apply(type).value_counts())

actors_names
<class 'str'>    45451
Name: count, dtype: int64

In [20]:
# Utilizaré la misma funcion creada anteriormente para identificar nulos

# Creo una máscara booleana para filas con cadenas vacías
empty_string_mask_actors = data_total['actors_names'].apply(is_empty_string)

# Filtro las filas con cadenas vacías
rows_with_empty_strings_actors = data_total[empty_string_mask_actors]

# Muestro las filas con cadenas vacías
print("Filas con cadenas vacías en 'actors_names':")
rows_with_empty_strings_actors

Filas con cadenas vacías en 'actors_names':

,id,original_language,overview,popularity,title,vote_average,vote_count,release_year,genres_names,actors_names,directors_names
137,124639,en,A subtle yet violent commentary on feudal lords.,0.001205,Target,0.0,0.0,1995,,,Sandip Ray
240,43475,en,The band is back together! Gumby reunites with...,0.090452,Gumby: The Movie,5.0,2.0,1995,"Fantasy, Animation, Science Fiction, Family",,Art Clokey
393,42981,en,"Before computer graphics, special effects wiza...",0.142357,Frank and Ollie,7.5,4.0,1995,Documentary,,Theodore Thomas
438,24257,en,"Bruce Brown, king of surfing documentaries, re...",0.408159,The Endless Summer 2,7.1,12.0,1994,Documentary,,Bruce Brown
595,124472,en,"Art Kane, now deceased, coordinated a group ph...",0.076352,A Great Day in Harlem,7.0,2.0,1994,,,Jean Bach
...,...,...,...,...,...,...,...,...,...,...,...
45423,455661,en,A closeted boy runs the risk of being outed by...,20.82178,In a Heartbeat,8.3,146.0,2017,"Family, Animation, Romance, Comedy",,"Beth David, Esteban Bravo"
45428,44330,en,A combination gambling den and bawdy house is ...,0.21926,The Scheming Gambler's Paradise,5.0,3.0,1905,,,Georges Méliès
45434,122036,fr,This shows a prince entering upon the stage of...,0.071782,The Imperceptable Transmutations,5.0,2.0,1904,,,Georges Méliès
45438,276895,en,"Deep Hearts is a film about the Bororo Fulani,...",0.011025,Deep Hearts,0.0,0.0,1981,Documentary,,Robert Gardner
45450,461257,en,50 years after decriminalisation of homosexual...,0.163015,Queerama,0.0,0.0,2017,,,Daisy Asquith

In [21]:
# Voy a transformar los datos de la columna 'popularity' de tipo str a tipo float
data_total['popularity'] = pd.to_numeric(data_total['popularity'], errors='coerce')

# Verifico
# Tipo de datos
print(data_total['popularity'].apply(type).value_counts())

popularity
<class 'float'>    45451
Name: count, dtype: int64

In [22]:
# A partir del análisis realizado voy a realizar los recortes que considero necesarios para el posterior modelo de machine learning

# Elimino filas con nulos encontradas en columnas importantes como 'original_languages','overview','genres_names','actors_names','directors_names'

# Mascaras creadas anteriormente:
null_mask_languages = data_total['original_language'].isna()
null_mask_overview = data_total['overview'].isna()
empty_string_mask_genres = data_total['genres_names'].apply(is_empty_string)
empty_string_mask_directors = data_total['directors_names'].apply(is_empty_string)
empty_string_mask_actors = data_total['actors_names'].apply(is_empty_string)

combined_mask = (
                    null_mask_languages  |
                    null_mask_overview |
                    empty_string_mask_genres |
                    empty_string_mask_directors |
                    empty_string_mask_actors 
)

# Filtro el DataFrame para conservar solo las filas que no están marcadas para eliminar
data_filtered = data_total[~combined_mask]
data_filtered

,id,original_language,overview,popularity,title,vote_average,vote_count,release_year,genres_names,actors_names,directors_names
0,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,Toy Story,7.7,5415.0,1995,"Animation, Comedy, Family","Tom Hanks, Tim Allen, Don Rickles, Jim Varney,...",John Lasseter
1,8844,en,When siblings Judy and Peter discover an encha...,17.015539,Jumanji,6.9,2413.0,1995,"Adventure, Fantasy, Family","Robin Williams, Jonathan Hyde, Kirsten Dunst, ...",Joe Johnston
2,15602,en,A family wedding reignites the ancient feud be...,11.712900,Grumpier Old Men,6.5,92.0,1995,"Romance, Comedy","Walter Matthau, Jack Lemmon, Ann-Margret, Soph...",Howard Deutch
3,31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,Waiting to Exhale,6.1,34.0,1995,"Comedy, Drama, Romance","Whitney Houston, Angela Bassett, Loretta Devin...",Forest Whitaker
4,11862,en,Just when George Banks has recovered from his ...,8.387519,Father of the Bride Part II,5.7,173.0,1995,Comedy,"Steve Martin, Diane Keaton, Martin Short, Kimb...",Charles Shyer
...,...,...,...,...,...,...,...,...,...,...,...
45444,289923,en,A film archivist revisits the story of Rustin ...,0.386450,The Burkittsville 7,7.0,1.0,2000,Horror,"Monty Bane, Lucy Butler, David Grammer, Bill D...",Ben Rock
45445,222848,en,It's the year 3000 AD. The world's most danger...,0.661558,Caged Heat 3000,3.5,1.0,1995,Science Fiction,"Lisa Boyle, Kena Land, Zaneta Polard, Don Yana...",Aaron Osborne
45446,30840,en,"Yet another version of the classic epic, with ...",5.683753,Robin Hood,5.7,26.0,1991,"Drama, Action, Romance","Patrick Bergin, Uma Thurman, David Morrissey, ...",John Irvin
45447,111109,tl,An artist struggles to finish his work while a...,0.178241,Century of Birthing,9.0,3.0,2011,Drama,"Angel Aquino, Perry Dizon, Hazel Orencio, Joel...",Lav Diaz
45448,67758,en,"When one of her hits goes wrong, a professiona...",0.903007,Betrayal,3.8,6.0,2003,"Action, Drama, Thriller","Erika Eleniak, Adam Baldwin, Julie du Page, Ja...",Mark L. Lester

In [23]:
# Cuento las frecuencias de cada valor en la columna 'original_language'
value_counts = data_filtered['original_language'].value_counts()

# Filtro y cuento solo los valores 'es' y 'en'
count_es_en = value_counts.get('es', 0) + value_counts.get('en', 0)

print(f"Cantidad de filas donde 'original_language' es 'es' o 'en': {count_es_en}")

Cantidad de filas donde 'original_language' es 'es' o 'en': 29803

In [24]:
# Realizaré un recorte y dejaré solo las peliculas en las que el original_language es español o ingles

languages_of_interest = ['es', 'en']
data_filtered = data_filtered[data_filtered['original_language'].isin(languages_of_interest)]
data_filtered

,id,original_language,overview,popularity,title,vote_average,vote_count,release_year,genres_names,actors_names,directors_names
0,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,Toy Story,7.7,5415.0,1995,"Animation, Comedy, Family","Tom Hanks, Tim Allen, Don Rickles, Jim Varney,...",John Lasseter
1,8844,en,When siblings Judy and Peter discover an encha...,17.015539,Jumanji,6.9,2413.0,1995,"Adventure, Fantasy, Family","Robin Williams, Jonathan Hyde, Kirsten Dunst, ...",Joe Johnston
2,15602,en,A family wedding reignites the ancient feud be...,11.712900,Grumpier Old Men,6.5,92.0,1995,"Romance, Comedy","Walter Matthau, Jack Lemmon, Ann-Margret, Soph...",Howard Deutch
3,31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,Waiting to Exhale,6.1,34.0,1995,"Comedy, Drama, Romance","Whitney Houston, Angela Bassett, Loretta Devin...",Forest Whitaker
4,11862,en,Just when George Banks has recovered from his ...,8.387519,Father of the Bride Part II,5.7,173.0,1995,Comedy,"Steve Martin, Diane Keaton, Martin Short, Kimb...",Charles Shyer
...,...,...,...,...,...,...,...,...,...,...,...
45443,390959,en,"In this true-crime documentary, we delve into ...",0.076061,Shadow of the Blair Witch,7.0,2.0,2000,"Mystery, Horror","Tony Abatemarco, Andre Brooks, Mariclare Coste...",Ben Rock
45444,289923,en,A film archivist revisits the story of Rustin ...,0.386450,The Burkittsville 7,7.0,1.0,2000,Horror,"Monty Bane, Lucy Butler, David Grammer, Bill D...",Ben Rock
45445,222848,en,It's the year 3000 AD. The world's most danger...,0.661558,Caged Heat 3000,3.5,1.0,1995,Science Fiction,"Lisa Boyle, Kena Land, Zaneta Polard, Don Yana...",Aaron Osborne
45446,30840,en,"Yet another version of the classic epic, with ...",5.683753,Robin Hood,5.7,26.0,1991,"Drama, Action, Romance","Patrick Bergin, Uma Thurman, David Morrissey, ...",John Irvin
45448,67758,en,"When one of her hits goes wrong, a professiona...",0.903007,Betrayal,3.8,6.0,2003,"Action, Drama, Thriller","Erika Eleniak, Adam Baldwin, Julie du Page, Ja...",Mark L. Lester

In [25]:
data_filtered.describe()

                  id    popularity  vote_average    vote_count  release_year
count   29803.000000  29803.000000  29803.000000  29803.000000  29803.000000
mean    97087.921015      3.668433      5.617532    153.885951   1990.876187
std    108852.203333      7.098630      1.724045    596.652234     24.645233
min         5.000000      0.000000      0.000000      0.000000   1878.000000
25%     21452.500000      0.550630      5.000000      4.000000   1977.000000
50%     48311.000000      1.532597      6.000000     13.000000   2000.000000
75%    126377.500000      5.392590      6.700000     51.000000   2010.000000
max    467731.000000    547.488298     10.000000  14075.000000   2020.000000

In [26]:
print(data_filtered['release_year'].min())
print(data_filtered['release_year'].max())

1878
2020

In [27]:
data = data_filtered.copy()

In [28]:
# Voy a filtrar el dataframe por un rango de popularidad y rango de años de estreno más recientes

# Defino los rangos basado en el anpalisis anterior
popularity_min = 0.55
popularity_max = 5.39
year_min = 2000
year_max = 2020

# Filtro por 'popularity'
data= data[(data['popularity'] >= popularity_min) & (data['popularity'] <= popularity_max)]

# Filtra por años
data = data[(data['release_year'] >= year_min) & (data['release_year'] <= year_max)]

# Opcional: reiniciar el índice después del filtrado
data.reset_index(drop=True, inplace=True)

data

,id,original_language,overview,popularity,title,vote_average,vote_count,release_year,genres_names,actors_names,directors_names
0,10472,en,"College coeds in New York City, Al, the son of...",3.847088,Down to You,4.9,71.0,2000,"Comedy, Drama, Family, Romance","Freddie Prinze Jr., Julia Stiles, Selma Blair,...",Kris Isacsson
1,25212,en,The President of the United States must deal w...,3.682868,Deterrence,6.1,7.0,2000,"Action, Drama, Mystery, Thriller","Kevin Pollak, Timothy Hutton, Sheryl Lee Ralph...",Rod Lurie
2,47816,en,Brian Hooks plays a character who is just rele...,0.651625,3 Strikes,5.9,15.0,2000,"Action, Comedy, Romance","Brian Hooks, N'Bushe Wright, Faizon Love, E-40...",DJ Pooh
3,20682,en,An avid detective is assigned to investigate t...,2.241861,Chain of Fools,5.9,24.0,2000,"Action, Comedy, Crime","Salma Hayek, Jeff Goldblum, Elijah Wood, David...","Pontus Löwenhielm, Patrick von Krusenstjerna"
4,25166,en,The recently deceased Mona Dearly (Bette Midle...,4.372616,Drowning Mona,5.4,43.0,2000,"Comedy, Crime, Mystery","Danny DeVito, Bette Midler, Neve Campbell, Jam...",Nick Gomez
...,...,...,...,...,...,...,...,...,...,...,...
7575,45527,en,A stranger named Silas flees from a devastatin...,1.270832,The Final Storm,3.7,11.0,2010,"Action, Mystery, Thriller, Horror","Lauren Holly, Luke Perry, Steve Bacic, Cole He...",Uwe Boll
7576,39562,en,"Pretty, popular, and slim high-schooler Aly Sc...",0.767762,To Be Fat Like Me,5.0,12.0,2007,"Drama, Family, TV Movie","Kaley Cuoco, Caroline Rhea, Melissa Halstrom, ...",Douglas Barr
7577,14008,en,Hyperactive teenager Kelly is enrolled into a ...,4.392389,Cadet Kelly,5.2,145.0,2002,Comedy,"Hilary Duff, Christy Carlson Romano, Gary Cole...",Larry Shaw
7578,14885,en,"It's Halloween in the 100 Acre Wood, and Roo's...",2.568495,Pooh's Heffalump Halloween Movie,5.4,7.0,2005,"Animation, Family","Jimmy Bennett, Peter Cullen, Jim Cummings, Joh...","Saul Blinkoff, Elliot M. Bour"
7579,67758,en,"When one of her hits goes wrong, a professiona...",0.903007,Betrayal,3.8,6.0,2003,"Action, Drama, Thriller","Erika Eleniak, Adam Baldwin, Julie du Page, Ja...",Mark L. Lester

In [29]:
# Analizo peliculas duplicadas

mask_duplicados = data['title'].duplicated(keep=False)
num_duplicados = mask_duplicados.sum()
print(num_duplicados)

df_duplicados = data[mask_duplicados]
result = df_duplicados.groupby('title',group_keys=False).apply(lambda x: list(x.index)).reset_index(name='Indices')
print(result)

244
                    title               Indices
0           A Better Life          [2164, 2391]
1       A Madea Christmas          [3727, 4241]
2    A Place at the Table          [2818, 2819]
3                 Animals    [5145, 5187, 5385]
4                  Asylum           [731, 1605]
..                    ...                   ...
107      The Violent Kind          [3911, 4988]
108           The Warrior  [466, 467, 556, 557]
109              Undertow           [489, 2214]
110              Vendetta          [3093, 4814]
111                  Viva          [2273, 5264]

[112 rows x 2 columns]

In [30]:
print(data.loc[2164])

id                                                               55720
original_language                                                   en
overview             A gardener in East L.A. struggles to keep his ...
popularity                                                    3.033797
title                                                    A Better Life
vote_average                                                       7.0
vote_count                                                        54.0
release_year                                                      2011
genres_names                                                     Drama
actors_names         Demián Bichir, José Julián, Chelsea Rendon, Do...
directors_names                                            Chris Weitz
Name: 2164, dtype: object

In [31]:
print(data.loc[2391])

id                                                               85546
original_language                                                   en
overview             Yann, a cook, and Nadia, a waitress and mother...
popularity                                                    1.678135
title                                                    A Better Life
vote_average                                                       6.0
vote_count                                                        42.0
release_year                                                      2012
genres_names                                                     Drama
actors_names         Guillaume Canet, Leïla Bekhti, Slimane Khettab...
directors_names                                            Cédric Kahn
Name: 2391, dtype: object

In [32]:
# Los titulos duplicados no son peliculas duplicadas, sino que se trata de peliculas distintas con mismo titulo. Por ende, las dejaré en el dataframe.

In [33]:
# Voy a eliminar las columnas que no considero necesarias para el modelo de machine learning de similitud del coseno

data = data.drop(columns=['id', 'original_language','vote_average','vote_count','popularity','release_year'])
data

,overview,title,genres_names,actors_names,directors_names
0,"College coeds in New York City, Al, the son of...",Down to You,"Comedy, Drama, Family, Romance","Freddie Prinze Jr., Julia Stiles, Selma Blair,...",Kris Isacsson
1,The President of the United States must deal w...,Deterrence,"Action, Drama, Mystery, Thriller","Kevin Pollak, Timothy Hutton, Sheryl Lee Ralph...",Rod Lurie
2,Brian Hooks plays a character who is just rele...,3 Strikes,"Action, Comedy, Romance","Brian Hooks, N'Bushe Wright, Faizon Love, E-40...",DJ Pooh
3,An avid detective is assigned to investigate t...,Chain of Fools,"Action, Comedy, Crime","Salma Hayek, Jeff Goldblum, Elijah Wood, David...","Pontus Löwenhielm, Patrick von Krusenstjerna"
4,The recently deceased Mona Dearly (Bette Midle...,Drowning Mona,"Comedy, Crime, Mystery","Danny DeVito, Bette Midler, Neve Campbell, Jam...",Nick Gomez
...,...,...,...,...,...
7575,A stranger named Silas flees from a devastatin...,The Final Storm,"Action, Mystery, Thriller, Horror","Lauren Holly, Luke Perry, Steve Bacic, Cole He...",Uwe Boll
7576,"Pretty, popular, and slim high-schooler Aly Sc...",To Be Fat Like Me,"Drama, Family, TV Movie","Kaley Cuoco, Caroline Rhea, Melissa Halstrom, ...",Douglas Barr
7577,Hyperactive teenager Kelly is enrolled into a ...,Cadet Kelly,Comedy,"Hilary Duff, Christy Carlson Romano, Gary Cole...",Larry Shaw
7578,"It's Halloween in the 100 Acre Wood, and Roo's...",Pooh's Heffalump Halloween Movie,"Animation, Family","Jimmy Bennett, Peter Cullen, Jim Cummings, Joh...","Saul Blinkoff, Elliot M. Bour"
7579,"When one of her hits goes wrong, a professiona...",Betrayal,"Action, Drama, Thriller","Erika Eleniak, Adam Baldwin, Julie du Page, Ja...",Mark L. Lester

In [35]:
# Eliminaré una fila ya que contiene una palabra en otro idioma que no es el inglés
data = data.drop(index=6017)

In [41]:
# Transformo a letra minúscula las letras de la columna title
data['title'] = data['title'].str.lower().str.strip()

In [43]:
data_finished = data.to_parquet('Data para modelo', engine='pyarrow')