In [24]:
from string import ascii_letters
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [25]:
rs = np.random.RandomState(33)

In [31]:
df=pd.read_csv('Oscars.csv')

In [36]:
df['Oscar_Best_Picture_won'] = df['Oscar_Best_Picture_won'].astype('category')
df['Oscar_Best_Picture_won'] = df['Oscar_Best_Picture_won'].cat.codes
df['Oscar_Best_Director_won'] = df['Oscar_Best_Director_won'].astype('category')
df['Oscar_Best_Director_won'] = df['Oscar_Best_Director_won'].cat.codes

In [72]:
col1=df.release_date.year
col2=df['year']

AttributeError: 'Series' object has no attribute 'year'

In [69]:
col1.corr(col2)

0.9510025105026894

In [48]:
for column in list(df.columns):
    if(df[column].dtype.name=='object'):
        df[column] = df[column].astype('category')
        df[column] = df[column].cat.codes

In [54]:
def get_redundant_pairs(df):
    '''Get diagonal and lower triangular pairs of correlation matrix'''
    pairs_to_drop = set()
    cols = df.columns
    for i in range(0, df.shape[1]):
        for j in range(0, i+1):
            pairs_to_drop.add((cols[i], cols[j]))
    return pairs_to_drop
def get_top_abs_correlations(df, n=5):
    au_corr = df.corr().abs().unstack()
    labels_to_drop = get_redundant_pairs(df)
    au_corr = au_corr.drop(labels=labels_to_drop).sort_values(ascending=False)
    return au_corr[0:n]

In [66]:
get_top_abs_correlations(df, 119*119+1)

release_date                                 release_date.year                                          0.997876
year                                         release_date.year                                          0.996320
Hollywood_Film_won                           Hollywood_Film_nominated                                   0.994032
Hollywood_Film_won_categories                Hollywood_Film_nominated_categories                        0.991547
Directors_Guild_won                          Directors_Guild_won_categories                             0.961488
                                                                                                          ...
New_York_Film_Critics_Circle_won_categories  release_date.day-of-week                                   0.000154
Directors_Guild_nominated_categories         People_Choice_won_categories                               0.000082
Oscar_Best_Actress_won                       Critics_Choice_nominated_categories                        0.000061
release_date                                 Online_Film_Television_Association_nominated_categories    0.000049
year                                         Directors_Guild_nominated_categories                       0.000021
Length: 7021, dtype: float64

In [67]:
df

,year,movie,movie_id,certificate,duration,genre,rate,metascore,synopsis,votes,...,New_York_Film_Critics_Circle_nominated,New_York_Film_Critics_Circle_nominated_categories,Los_Angeles_Film_Critics_Association_won,Los_Angeles_Film_Critics_Association_won_categories,Los_Angeles_Film_Critics_Association_nominated,Los_Angeles_Film_Critics_Association_nominated_categories,release_date.year,release_date.month,release_date.day-of-month,release_date.day-of-week
0,2001,468,0,3,118,129,6.4,44.0,445,66660,...,0,-1,0,-1,0,-1,2001.0,12.0,25.0,2.0
1,2000,185,1,0,84,80,7.0,88.0,1127,144475,...,1,19,1,12,1,19,2000.0,6.0,23.0,5.0
2,2005,285,2,3,106,5,5.7,40.0,132,273203,...,0,-1,0,-1,0,-1,2005.0,7.0,8.0,5.0
3,2002,311,3,4,123,101,7.4,61.0,33,63852,...,0,-1,0,-1,0,-1,2002.0,11.0,22.0,5.0
4,2001,956,4,3,178,63,8.8,92.0,197,1286275,...,0,-1,1,24,2,49,2001.0,12.0,19.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1178,2017,164,1178,4,132,191,8.3,93.0,709,38170,...,1,0,3,2,3,2,NaN,NaN,NaN,NaN
1179,2017,642,1179,4,130,191,8.4,90.0,875,7380,...,1,60,1,24,1,44,NaN,NaN,NaN,NaN
1180,2017,1120,1180,3,111,98,6.8,58.0,849,12888,...,0,-1,0,-1,0,-1,2017.0,10.0,6.0,5.0
1181,2017,697,1181,3,122,140,6.3,58.0,859,3205,...,0,-1,0,-1,0,-1,NaN,NaN,NaN,NaN
1182,2017,994,1182,3,116,98,7.4,83.0,66,21292,...,0,-1,0,-1,0,-1,2018.0,1.0,12.0,5.0