### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [32]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
pdf = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [33]:
pdf['SN'].nunique()

576

## Purchasing Analysis (Total)

In [83]:
# My Price sum matches the table's total revenue, but the #of unique items doesn't match. Presumably mupltiple item
#     purchases are counted once, so I need to filter out and split the string of those purchases.
# cdf = pdf.loc[pdf['Item Name'] != "*,*"]
# # That did not work.
cdf = pdf.loc[pdf['Item Name'] == "Wolf"]
cdf
# # That did work.
# cdf = pdf.loc[pdf['Item Name'] == "*,*"]
# # I didn't get an error, but I also didn't get anything.
# cdf = pdf.loc[pdf['Item Name'] == ".,."]
# # Nope
# cdf = pdf[pdf.str.contains(",", regex=True)]
# Nope
# Documentation suggests that this works with a Series, not a DataFrame
# item = pdf['Item Name']
# item.str.contains(',')
# Wait, nevermind this was a complete waste of time EXCEPT
#   I discovered that I do not know how to filter out rows with cells that contain something, like a comma or the word Wolf
# Moving on

     Purchase ID             SN  Age  Gender  Item ID Item Name  Price
52            52        Aelin32   20    Male       60      Wolf   3.54
90            90     Undosian34   21    Male       60      Wolf   3.54
141          141     Zhisrisu83   10    Male       60      Wolf   3.54
394          394  Lassassasda30   12    Male       60      Wolf   3.54
479          479   Chanjaskan89   21    Male       60      Wolf   3.54
550          550      Ilunyon70   20    Male       60      Wolf   3.54
661          661    Strithenu87   20    Male       60      Wolf   3.54
775          775     Aethedru70   21  Female       60      Wolf   3.54

In [48]:
pdf['Price'].sum()
pdf['Item Name'].nunique()

179

In [49]:
pdf['Item ID'].nunique()
# Why are these two results different?

183

In [81]:
idf = pdf[["Item ID","Item Name"]]
idf.sort_values('Item ID')

     Item ID                                     Item Name
204        0                                      Splinter
662        0                                      Splinter
133        0                                      Splinter
150        0                                      Splinter
121        1                                      Crucifer
454        1                                      Crucifer
697        1                                      Crucifer
134        2                                       Verdict
345        2                                       Verdict
560        2                                       Verdict
213        2                                       Verdict
553        2                                       Verdict
201        2                                       Verdict
317        3                                  Phantomlight
494        3                                  Phantomlight
161        3                                  Phantomlight
544        3                                  Phantomlight
203        3                                  Phantomlight
368        3                                  Phantomlight
465        4                            Bloodlord's Fetish
635        4                            Bloodlord's Fetish
302        4                            Bloodlord's Fetish
13         4                            Bloodlord's Fetish
470        4                            Bloodlord's Fetish
742        5                                    Putrid Fan
173        5                                    Putrid Fan
530        5                                    Putrid Fan
287        5                                    Putrid Fan
66         6                                   Rusty Skull
475        6                                   Rusty Skull
..       ...                                           ...
222      178  Oathbreaker, Last Hope of the Breaking Storm
72       178  Oathbreaker, Last Hope of the Breaking Storm
706      178  Oathbreaker, Last Hope of the Breaking Storm
25       178  Oathbreaker, Last Hope of the Breaking Storm
61       178  Oathbreaker, Last Hope of the Breaking Storm
730      178  Oathbreaker, Last Hope of the Breaking Storm
627      178  Oathbreaker, Last Hope of the Breaking Storm
62       178  Oathbreaker, Last Hope of the Breaking Storm
753      178  Oathbreaker, Last Hope of the Breaking Storm
658      178  Oathbreaker, Last Hope of the Breaking Storm
464      178  Oathbreaker, Last Hope of the Breaking Storm
580      178  Oathbreaker, Last Hope of the Breaking Storm
31       179               Wolf, Promise of the Moonwalker
137      179               Wolf, Promise of the Moonwalker
305      179               Wolf, Promise of the Moonwalker
565      179               Wolf, Promise of the Moonwalker
429      179               Wolf, Promise of the Moonwalker
481      179               Wolf, Promise of the Moonwalker
751      180                                   Stormcaller
304      181                                 Reaper's Toll
375      181                                 Reaper's Toll
45       181                                 Reaper's Toll
162      181                                 Reaper's Toll
392      181                                 Reaper's Toll
758      182                                     Toothpick
256      182                                     Toothpick
313      182                                     Toothpick
165      183                           Dragon's Greatsword
618      183                           Dragon's Greatsword
705      183                           Dragon's Greatsword

[780 rows x 2 columns]

In [89]:
idf = idf.drop_duplicates()
idf.sort_values('Item ID')

     Item ID                                     Item Name
133        0                                      Splinter
121        1                                      Crucifer
134        2                                       Verdict
161        3                                  Phantomlight
13         4                            Bloodlord's Fetish
173        5                                    Putrid Fan
66         6                                   Rusty Skull
41         7                  Thorn, Satchel of Dark Souls
140        8                      Purgatory, Gem of Regret
44         9             Thorn, Conqueror of the Corrupted
105       10                                   Sleepwalker
187       11                                     Brimstone
83        12                                         Dawne
115       13                                      Serenity
360       14                                Possessed Core
51        15                          Soul Infused Crystal
237       16                               Restored Bauble
89        17                  Lazarus, Terror of the Earth
269       18                    Torchlight, Bond of Storms
239       19                 Pursuit, Cudgel of Necromancy
77        20                                    Netherbane
8         21                                     Souleater
50        22                                       Amnesia
251       23                                      Crucifer
22        24                                 Warped Fetish
54        25                                     Hero Cane
421       26                                   Unholy Wand
68        27               Riddle, Tribute of Ended Dreams
253       28              Flux, Destroyer of Due Diligence
71        29                       Chaos, Ender of the End
..       ...                                           ...
182      154                                  Feral Katana
282      155                     War-Forged Gold Deflector
288      156                  Soul-Forged Steel Shortsword
167      157                       Spada, Etcher of Hatred
139      158            Darkheart, Butcher of the Champion
212      159             Oathbreaker, Spellblade of Trials
34       160                                    Azurewrath
17       161                                        Devine
7        162                                 Abyssal Shard
235      163                          Thunderfury Scimitar
95       164                              Exiled Doomblade
14       165                   Bone Crushing Silver Skewer
271      166                           Thirsty Iron Reaver
278      167                   Malice, Legacy of the Queen
21       168           Sun Strike, Jaws of Twisted Visions
6        169        Interrogator, Blood Blade of the Queen
47       170                                   Shadowsteel
294      171                                       Scalpel
39       172                            Blade of the Grave
275      173                           Stormfury Longsword
81       174                               Primitive Blade
142      175                    Woeful Adamantite Claymore
53       176                        Relentless Iron Skewer
717      177      Winterthorn, Defender of Shifting Worlds
25       178  Oathbreaker, Last Hope of the Breaking Storm
31       179               Wolf, Promise of the Moonwalker
751      180                                   Stormcaller
45       181                                 Reaper's Toll
256      182                                     Toothpick
165      183                           Dragon's Greatsword

[183 rows x 2 columns]

In [90]:
idf['Item Name'].value_counts()
# Found the culprits. But why are Persuasion, Crucifer, Final Critic, and Stormcaller different?
# wdf = pdf[pdf["Item Name"] == "Persuasion"|"Crucifer"|"Final Critic"|"Stormcaller"]
# Nope.

Persuasion                             2
Crucifer                               2
Final Critic                           2
Stormcaller                            2
Blazefury, Protector of Delusions      1
Stormfury Lantern                      1
Splinter                               1
Alpha                                  1
Lifebender                             1
Sleepwalker                            1
Heartseeker, Reaver of Souls           1
Curved Axe                             1
Bonecarvin Battle Axe                  1
Downfall, Scalpel Of The Emperor       1
Twilight's Carver                      1
Azurewrath                             1
Severance                              1
Brimstone                              1
Rusty Skull                            1
Glinting Glass Edge                    1
Singed Onyx Warscythe                  1
Blood Infused Guardian                 1
Foul Edge                              1
Dragon's Greatsword                    1
Arcane Gem                             1
Shadowsteel                            1
Heartstriker, Legacy of the Light      1
Vengeance Cleaver                      1
Crying Steel Sickle                    1
Blindscythe                            1
                                      ..
Aetherius, Boon of the Blessed         1
Winter's Bite                          1
Woeful Adamantite Claymore             1
Glimmer, Ender of the Moon             1
Thorn, Satchel of Dark Souls           1
Rage, Legacy of the Lone Victor        1
Orbit                                  1
Riddle, Tribute of Ended Dreams        1
Pursuit, Cudgel of Necromancy          1
Mercy, Katana of Dismay                1
Venom Claymore                         1
Freak's Bite, Favor of Holy Might      1
Wolf                                   1
Sun Strike, Jaws of Twisted Visions    1
Torchlight, Bond of Storms             1
Frenzied Scimitar                      1
Thirsty Iron Reaver                    1
Solitude's Reaver                      1
Avenger                                1
Victor Iron Spikes                     1
Primitive Blade                        1
Warped Iron Scimitar                   1
Dawne                                  1
Mourning Blade                         1
Ghastly Adamantite Protector           1
Hellreaver, Heirloom of Inception      1
Dreamsong                              1
Ritual Mace                            1
Massacre                               1
Dreamkiss                              1
Name: Item Name, Length: 179, dtype: int64

In [91]:
raros = ['Persuasion','Crucifer','Final Critic','Stormcaller']
rdf = pdf[pdf['Item Name'].isin(raros)]
rdf
# Okay, so different items either share names or the IDs are messed up. I'm leaning towards the latter given the prices of
#     items with the same name are different when said items have different IDs.
# So 183 is the correct number.

     Purchase ID              SN  Age  Gender  Item ID     Item Name  Price
2              2      Ithergue48   24    Male       92  Final Critic   4.88
24            24         Siala43   30    Male      141    Persuasion   3.19
98            98      Chadossa89   23    Male      141    Persuasion   3.19
99            99    Haisrisuir60   23    Male      101  Final Critic   4.19
121          121        Ilosia37   23    Male        1      Crucifer   3.26
166          166        Sondim68   22  Female       30   Stormcaller   2.21
251          251         Iasur80   22    Male       23      Crucifer   1.99
252          252        Tyaelo67   39    Male       92  Final Critic   4.88
261          261       Tyeosri53   24    Male      141    Persuasion   3.19
273          273        Phyali88   15  Female       92  Final Critic   4.88
277          277      Ennalmol65   24    Male       92  Final Critic   4.88
411          411        Lisico81   10    Male      101  Final Critic   4.19
454          454      Lassimla92   25    Male        1      Crucifer   3.26
468          468         Aesur96   23    Male       30   Stormcaller   2.21
536          536     Siallylis44   20    Male      101  Final Critic   4.19
538          538      Chanadar44   25    Male      141    Persuasion   3.19
587          587       Assirra56   22    Male      141    Persuasion   3.19
590          590        Iathem87   20    Male      141    Persuasion   3.19
603          603       Lisosia93   25    Male      141    Persuasion   3.19
608          608       Leyirra83   24  Female      132    Persuasion   3.33
651          651      Lirtilsa72   24    Male      132    Persuasion   3.33
697          697  Tyaelistidru84   19  Female        1      Crucifer   3.26
712          712       Lisilsa62   25    Male       92  Final Critic   4.88
722          722        Ilarin91   22    Male       92  Final Critic   4.88
751          751     Lisjaskan36   11    Male      180   Stormcaller   3.36
767          767         Ilmol66    8  Female       92  Final Critic   4.88
768          768    Assassasta79   38    Male       92  Final Critic   4.88
774          774      Jiskjask80   11    Male      101  Final Critic   4.19
778          778         Sisur91    7    Male      101  Final Critic   4.19

In [92]:
pdf['Price'].mean()

3.050987179487176

In [34]:
pdf.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

   Number of Unique Items Average Price Number of Purchases Total Revenue
0                     183         $3.05                 780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

                       Total Count  Percentage of Players
Male                           484                  84.03
Female                          81                  14.06
Other / Non-Disclosed           11                   1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

       Total Count  Percentage of Players
<10             17                   2.95
10-14           22                   3.82
15-19          107                  18.58
20-24          258                  44.79
25-29           77                  13.37
30-34           52                   9.03
35-39           31                   5.38
40+             12                   2.08

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19
<10,23,$3.35,$77.13,$4.54

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80