In [26]:
import pandas as pd

# prevent false warning
# https://stackoverflow.com/questions/20625582/how-to-deal-with-settingwithcopywarning-in-pandas
pd.options.mode.chained_assignment = None  # default='warn'

import matplotlib.pyplot as plt
import matplotlib.ticker as mtick
import numpy as np

import re

In [3]:
!pip install openpyxl

DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
Collecting openpyxl
  Downloading openpyxl-3.0.9-py2.py3-none-any.whl (242 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 242.2/242.2 KB 2.5 MB/s eta 0:00:00[31m3.9 MB/s eta 0:00:01
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
  DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
  DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
Successfully installed et-xmlfile-1.1.0 openpyxl-3.0.9

In [13]:
df = pd.read_csv('./input/data/statcompiler_medianyearsofeducation/STATcompilerExport202245_133851.csv', 
                 sep=";", skipfooter=4)

/var/folders/zd/y3rzdn112y7g2ssx_h76r_4m0000gn/T/ipykernel_57773/520124374.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  df = pd.read_csv('./input/data/statcompiler_medianyearsofeducation/STATcompilerExport202245_133851.csv',

In [14]:
df

,Country Code,Country Name,Survey Year,Survey Name,Indicator,By Variable,Characteristic Category,Characteristic Label,Value,CI High,CI Low
0,TZ,Tanzania,1992,1991-92 DHS,Median years of education completed [Women],NaN,Total,Total,NaN,NaN,NaN
1,TZ,Tanzania,1992,1991-92 DHS,Median years of education completed [Women],NaN,Total 15-49,Total 15-49,"5,1",NaN,NaN
2,TZ,Tanzania,1992,1991-92 DHS,Median years of education completed [Women],NaN,Region,Western,"1,6",NaN,NaN
3,TZ,Tanzania,1992,1991-92 DHS,Median years of education completed [Women],NaN,Region,Tabora (L1),"1,8",NaN,NaN
4,TZ,Tanzania,1992,1991-92 DHS,Median years of education completed [Women],NaN,Region,Shinyanga (L1),NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1335,TZ,Tanzania,2017,2017 MIS,Median years of education completed [Men],NaN,Region,Mjini Magharibi (L1),NaN,NaN,NaN
1336,TZ,Tanzania,2017,2017 MIS,Median years of education completed [Men],NaN,Region,Kaskazini Pemba (L1),NaN,NaN,NaN
1337,TZ,Tanzania,2017,2017 MIS,Median years of education completed [Men],NaN,Region,Kusini Pemba (L1),NaN,NaN,NaN
1338,TZ,Tanzania,2017,2017 MIS,Median years of education completed [Men],NaN,Region,Mbeya (since 2016) (L1),NaN,NaN,NaN
1339,TZ,Tanzania,2017,2017 MIS,Median years of education completed [Men],NaN,Region,Songwe (L1),NaN,NaN,NaN

In [15]:
rdf = df[df['Characteristic Category'] == 'Region']

In [19]:
len(rdf['Characteristic Label'].unique())

65

In [60]:
def admin_level(name):
    s = re.search(r'\((L[0-9])\)', name)
    
    if not s:
        return None
    
    return s[1]

def region_name(name):
    
    if "(" in name:
        return name.split('(')[0].strip()
    
    return name


print(admin_level("Unguja (L1)"))
print(admin_level("Western"))


print(region_name("Unguja (L1)"))
print(region_name("Western"))

L1
None
Unguja
Western

In [61]:
regions_df = pd.read_csv('regions.csv')

In [62]:
region_names = list(regions_df['name'].values)

In [63]:
rdf['admin_level'] = rdf['Characteristic Label'].apply(admin_level)
rdf['region_name'] = rdf['Characteristic Label'].apply(region_name)

In [64]:
l1rdf = rdf[rdf['admin_level'] == 'L1']

In [65]:
pd.set_option('display.max_rows', 100)
l1rdf['Characteristic Label'].value_counts(dropna=False).rename_axis('unique_values').reset_index(name='counts')

               unique_values  counts
0                Tabora (L1)      20
1                Simiyu (L1)      20
2                Arusha (L1)      20
3               Manyara (L1)      20
4        Zanzibar North (L1)      20
5        Zanzibar South (L1)      20
6             Town West (L1)      20
7           Pemba North (L1)      20
8           Pemba South (L1)      20
9                Njombe (L1)      20
10                Geita (L1)      20
11                Pemba (L1)      20
12  Mbeya (before 2016) (L1)      20
13               Katavi (L1)      20
14     Kaskazini Unguja (L1)      20
15        Kusini Unguja (L1)      20
16      Mjini Magharibi (L1)      20
17      Kaskazini Pemba (L1)      20
18         Kusini Pemba (L1)      20
19   Mbeya (since 2016) (L1)      20
20               Unguja (L1)      20
21             Mainland (L1)      20
22            Shinyanga (L1)      20
23                Rukwa (L1)      20
24               Kigoma (L1)      20
25          Kilimanjaro (L1)      20
26                Tanga (L1)      20
27       Arusha/Manyara (L1)      20
28               Dodoma (L1)      20
29              Singida (L1)      20
30                Mbeya (L1)      20
31               Iringa (L1)      20
32               Kagera (L1)      20
33        Dar es Salaam (L1)      20
34               Mwanza (L1)      20
35                 Mara (L1)      20
36                Pwani (L1)      20
37             Morogoro (L1)      20
38                Lindi (L1)      20
39               Mtwara (L1)      20
40               Ruvuma (L1)      20
41             Zanzibar (L1)      20
42               Songwe (L1)      20

In [66]:
statcompiler_l1_names = list(l1rdf['region_name'].values)

In [74]:
#Import libraries.
import json
from urllib.request import urlopen
 
#Query the API for the particular data.
 
data_url = r'https://api.dhsprogram.com/rest/dhs/data/AM,ED_EDAT_W_PRI,AM2010DHS'
 
 
#Obtain and Parse the list into a Python Object.
req = urlopen(data_url)
resp = json.loads(req.read())
my_data = resp['Data']
 
#Display a list of each characteristic and their value.
for c in my_data:
    print(c)
    print(c['CharacteristicLabel'] + ' : ' + str(c['Value']))

{'DataId': 492310, 'SurveyId': 'AM2010DHS', 'Indicator': 'Female population age 6 and over who attended primary education', 'IsPreferred': 1, 'Value': 6.4, 'SDRID': 'EDEDATWPRI', 'Precision': 1, 'RegionId': '', 'SurveyYearLabel': '2010', 'SurveyType': 'DHS', 'SurveyYear': 2010, 'IndicatorOrder': 211003090, 'DHS_CountryCode': 'AM', 'CILow': '', 'CountryName': 'Armenia', 'IndicatorType': 'I', 'CharacteristicId': 1000, 'CharacteristicCategory': 'Total', 'IndicatorId': 'ED_EDAT_W_PRI', 'CharacteristicOrder': 0, 'CharacteristicLabel': 'Total', 'ByVariableLabel': '', 'DenominatorUnweighted': 11823.0, 'DenominatorWeighted': 11969.0, 'CIHigh': '', 'IsTotal': 1, 'ByVariableId': 0}
Total : 6.4

In [87]:
data_url = 'https://api.dhsprogram.com/rest/dhs/data?breakdown=all&indicatorIds=HC_ELEC_H_ELC&countryIds=TZ&surveyIds=TZ2017MIS&lang=en&returnGeometry=true&f=json'


# https://www.statcompiler.com/en/#cc=TZ&ucc=&ic=ED_EDUC_W_MYR,ED_EDUC_M_MYR&scl=10000,451001,451002,451004,451005,451006,451007,451008,451011,451012,451013,451014,451015,451016,451017,451018,451019,451020,451021,451022,451023,451024,451025,451026,451027,451028,451029,451030,451003,451023,451030,451040,451041,451042,451043,451044,451045,451009,451010,451011,451014,451018,451026,451001,451005,451022,451030,451031,451032,451033,451034,451035,451043,451065,451072,451073,451081,451082,451084,451086,451087,451088,451089,451090,451091,451092,1000&dt=4&pt=2&ss=2&sy=&levelRank=1&si=ED_EDUC_M_MYR&sbv=


from urllib.parse import urlencode

params = {
    'breakdown':      'subnational',
    'indicatorIds':   'ED_EDUC_M_MYR',
    'countryIds':     'TZ',
    'surveyIds':      'TZ2017MIS',
    'lang':           'en',
    'returnGeometry': 'true',
    'f':              'json',
}

data_url = 'https://api.dhsprogram.com/rest/dhs/data?' + urlencode(params)

# Obtain and Parse the list into a Python Object.
req = urlopen(data_url)
resp = json.loads(req.read())
my_data = resp['Data']

df = pd.DataFrame(my_data)

In [89]:
df

Empty DataFrame
Columns: []
Index: []

In [83]:

from urllib.parse import urlencode

params = {
    'breakdown':      'subnational',
    'indicatorIds':   'HC_ELEC_H_ELC',
    'countryIds':     'TZ',
    'surveyIds':      'TZ2017MIS',
    'lang':           'en',
    'returnGeometry': 'true',
    'f':              'json',
}

print(urlencode(params))

breakdown=subnational&indicatorIds=HC_ELEC_H_ELC&countryIds=TZ&surveyIds=TZ2017MIS&lang=en&returnGeometry=true&f=json

In [91]:
    
    
    
params = {
    'breakdown':      'subnational',
    'indicatorIds':   'ED_EDUC_M_MYR',
    'countryIds':     'TZ',
    'surveyIds':      'TZ2017MIS',
    'lang':           'en',
    'returnGeometry': 'true',
    'f':              'json',
}

data_url = 'https://api.dhsprogram.com/rest/dhs/data/TZ,subnational?indicatorIds=ED_EDUC_W_MYR,ED_EDUC_M_MYR&f=json&surveyYearStart=2010'

# Obtain and Parse the list into a Python Object.
req = urlopen(data_url)
resp = json.loads(req.read())
my_data = resp['Data']

df = pd.DataFrame(my_data)

In [92]:
df

,DataId,SurveyId,Indicator,IsPreferred,Value,SDRID,Precision,RegionId,SurveyYearLabel,SurveyType,...,CharacteristicCategory,IndicatorId,CharacteristicOrder,CharacteristicLabel,ByVariableLabel,DenominatorUnweighted,DenominatorWeighted,CIHigh,IsTotal,ByVariableId
0,4637204,TZ2003AIS,Median years of education completed [Women],1,5.8,EDEDUCWMYR,1,TZAIS2003451001,2003-04,AIS,...,Region,ED_EDUC_W_MYR,1451010,Western,,1047.0,1111.0,,0,0
1,5647047,TZ2003AIS,Median years of education completed [Women],1,5.7,EDEDUCWMYR,1,TZAIS2003451002,2003-04,AIS,...,Region,ED_EDUC_W_MYR,1451020,..Tabora,,338.0,280.0,,0,0
2,4243390,TZ2003AIS,Median years of education completed [Women],1,5.4,EDEDUCWMYR,1,TZAIS2003451003,2003-04,AIS,...,Region,ED_EDUC_W_MYR,1451030,..Shinyanga,,373.0,548.0,,0,0
3,3192992,TZ2003AIS,Median years of education completed [Women],1,6.0,EDEDUCWMYR,1,TZAIS2003451004,2003-04,AIS,...,Region,ED_EDUC_W_MYR,1451040,..Kigoma,,336.0,283.0,,0,0
4,4001271,TZ2003AIS,Median years of education completed [Women],1,6.3,EDEDUCWMYR,1,TZAIS2003451005,2003-04,AIS,...,Region,ED_EDUC_W_MYR,1451050,Northern,,1269.0,1129.0,,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
445,4346951,TZ2017MIS,Median years of education completed [Women],1,8.6,EDEDUCWMYR,1,TZMIS2017451086,2017,MIS,...,Region,ED_EDUC_W_MYR,1451860,..Kaskazini Unguja,,194.0,38.0,,0,0
446,2895263,TZ2017MIS,Median years of education completed [Women],1,8.5,EDEDUCWMYR,1,TZMIS2017451087,2017,MIS,...,Region,ED_EDUC_W_MYR,1451870,..Kusini Unguja,,146.0,26.0,,0,0
447,122820,TZ2017MIS,Median years of education completed [Women],1,8.5,EDEDUCWMYR,1,TZMIS2017451088,2017,MIS,...,Region,ED_EDUC_W_MYR,1451880,..Mjini Magharibi,,282.0,132.0,,0,0
448,5267485,TZ2017MIS,Median years of education completed [Women],1,4.6,EDEDUCWMYR,1,TZMIS2017451089,2017,MIS,...,Region,ED_EDUC_W_MYR,1451890,..Kaskazini Pemba,,212.0,62.0,,0,0
449,3301972,TZ2017MIS,Median years of education completed [Women],1,8.1,EDEDUCWMYR,1,TZMIS2017451090,2017,MIS,...,Region,ED_EDUC_W_MYR,1451900,..Kusini Pemba,,195.0,49.0,,0,0

In [171]:
def is_region(name):
    if name[0] == '.' and name[1] == '.':
        return True
    return False


def normalize_region_name(name):
    return name.replace('..', '')

def map_region_name_to_tz_stat_names(name):
    """ We use the names provided by the TZ bureau of statistics (partly swahili?).
    Statcompiler uses only enghlish names and we have to map the two spellings. """
    
    if name == "Dar es Salaam":
        return "Dar-es-salaam"
    
    # Pemba island
    if name == "Pemba North":
        return "Kaskazini Pemba"
        
    if name == "Pemba South":
        return "Kusini Pemba"
    
    # Zanzibar island
    if name == "Town West":
        return "Mjini Magharibi"
    
    if name == "Zanzibar North":
        return "Kaskazini Unguja"

    if name == "Zanzibar South":
        return "Kusini Unguja"
    
    # Region splits
    
    # our db contains the lates 2016 districts/regions, so
    # we only map the values of the >2016 surveys to it.
    if name == "Mbeya (since 2016)":
        return "Mbeya"
    
    return name

In [94]:
df['is_region'] = df['CharacteristicLabel'].apply(is_region)

In [95]:
df2 = df[df['is_region'] == True]

In [96]:
len(df)

450

In [97]:
len(df2)

343

In [102]:
surveys = list(df2['SurveyId'].unique())

In [103]:
parameter_values = []

for s in surveys:
    
    dfx = df2[df2['SurveyId'] == s]
    
    indicators = list(dfx['IndicatorId'].unique())
    year = dfx.at[0, 'SurveyYear']
    
    x = {
        'survey': s, 
        'year': year,
        'ED_EDUC_W_MYR': None,
        'ED_EDUC_M_MYR': None,
        'region': None,
    }
    
    for i in indicators:

IndentationError: expected an indented block (4177777717.py, line 1)

In [131]:
data_url = 'https://api.dhsprogram.com/rest/dhs/data/TZ,subnational? \
indicatorIds=ED_EDUC_W_MYR,ED_EDUC_M_MYR&f=json&surveyYearStart=2010'

params = {
    # Country code
    'countryIds':      'TZ',
    # give region based level, still shows "zones" (tanzania)
    # we have to filter based on the prepended ".." in 
    'breakdown':       'subnational',
    'indicatorIds':    'ED_EDUC_W_MYR,ED_EDUC_M_MYR',
    #'surveyIds':      'TZ2017MIS',
    'lang':            'en',
    'returnGeometry':  False,
    'surveyYearStart': 2010,
    'f':               'json',   
}

data_url = 'https://api.dhsprogram.com/rest/dhs/data/?' + urlencode(params)

print(data_url)
# Obtain and Parse the list into a Python Object.
req = urlopen(data_url)
resp = json.loads(req.read())
my_data = resp['Data']

df = pd.DataFrame(my_data)

https://api.dhsprogram.com/rest/dhs/data/?countryIds=TZ&breakdown=subnational&indicatorIds=ED_EDUC_W_MYR%2CED_EDUC_M_MYR&lang=en&returnGeometry=False&surveyYearStart=2010&f=json

In [133]:
# remove the generic / zone admin levels and only leave regions
df['is_region'] = df['CharacteristicLabel'].apply(is_region)
df = df[df['is_region'] == True]

In [172]:
df['CharacteristicLabel'] = df['CharacteristicLabel'].apply(normalize_region_name)
df['CharacteristicLabel'] = df['CharacteristicLabel'].apply(map_region_name_to_tz_stat_names)

In [173]:
df['CharacteristicLabel'].unique()

array(['Tabora', 'Shinyanga', 'Kigoma', 'Kilimanjaro', 'Tanga', 'Arusha',
       'Manyara', 'Dodoma', 'Singida', 'Mbeya', 'Iringa', 'Rukwa',
       'Kagera', 'Mwanza', 'Mara', 'Dar-es-salaam', 'Pwani', 'Morogoro',
       'Lindi', 'Mtwara', 'Ruvuma', 'Kaskazini Unguja', 'Kusini Unguja',
       'Mjini Magharibi', 'Kaskazini Pemba', 'Kusini Pemba', 'Njombe',
       'Simiyu', 'Geita', 'Mbeya (before 2016)', 'Katavi', 'Songwe'],
      dtype=object)

In [142]:
regions_df = pd.read_csv('regions.csv')

In [174]:
df['SurveyId'].unique()

array(['TZ2010DHS', 'TZ2012AIS', 'TZ2015DHS', 'TZ2017MIS'], dtype=object)

In [175]:
values = []
indicators = ['ED_EDUC_W_MYR', 'ED_EDUC_M_MYR']

# group by survey/year
for sid in df['SurveyId'].unique():
    dfx = df[df['SurveyId'] == sid].reset_index()
    
    year = dfx.at[0, 'SurveyYear']

    
    for _, r in regions_df.iterrows(): 
        x = {
            'survey': sid,
            'year':   year,
            'region_id': r['region_id'],
            'region_name': r['name'],

        }

        for i in indicators:

            # note absense of indicator in any case!
            x[i] = None

            dfxx = dfx[dfx['IndicatorId'] == i]

            if len(dfxx) == 0:
                # indicator not present for this sutdy/year
                print('indicator not present for this sutdy/year')
                continue

            # indicator for region
            sri = dfxx.loc[dfxx['CharacteristicLabel'] == r['name']]
            
            if len(sri) == 0:
                print('for this region no value exists: "{}"'.format(r['name']))
                # for this region no value exists
                continue
            
            sri = sri.reset_index()
            x[i] = sri.at[0, 'Value']
        
        values.append(x)
            

        
    
    #dfx.reset_index().to_csv('tmp{}.csv'.format(y))

for this region no value exists: "Geita"
for this region no value exists: "Geita"
for this region no value exists: "Katavi"
for this region no value exists: "Katavi"
for this region no value exists: "Njombe"
for this region no value exists: "Njombe"
for this region no value exists: "Simiyu"
for this region no value exists: "Simiyu"
for this region no value exists: "Songwe"
for this region no value exists: "Songwe"
for this region no value exists: "Mbeya"
for this region no value exists: "Mbeya"
for this region no value exists: "Songwe"
for this region no value exists: "Songwe"
for this region no value exists: "Mbeya"
for this region no value exists: "Mbeya"
for this region no value exists: "Songwe"
for this region no value exists: "Songwe"
indicator not present for this sutdy/year
indicator not present for this sutdy/year
indicator not present for this sutdy/year
indicator not present for this sutdy/year
indicator not present for this sutdy/year
indicator not present for this sutdy/year
indicator not present for this sutdy/year
indicator not present for this sutdy/year
indicator not present for this sutdy/year
indicator not present for this sutdy/year
indicator not present for this sutdy/year
indicator not present for this sutdy/year
indicator not present for this sutdy/year
indicator not present for this sutdy/year
indicator not present for this sutdy/year
indicator not present for this sutdy/year
indicator not present for this sutdy/year
indicator not present for this sutdy/year
indicator not present for this sutdy/year
indicator not present for this sutdy/year
indicator not present for this sutdy/year
indicator not present for this sutdy/year
indicator not present for this sutdy/year
indicator not present for this sutdy/year
indicator not present for this sutdy/year
indicator not present for this sutdy/year
indicator not present for this sutdy/year
indicator not present for this sutdy/year
indicator not present for this sutdy/year
indicator not present for this sutdy/year
indicator not present for this sutdy/year

In [176]:
values_df = pd.DataFrame(values)

In [177]:
values_df.to_csv('tmp.csv')

In [183]:
indicators

['ED_EDUC_W_MYR', 'ED_EDUC_M_MYR']

In [184]:
values_df['sum'] = values_df[indicators].sum(axis=1, min_count=1)

In [190]:
values_df['avg'] = values_df[indicators].mean(axis=1)

In [191]:
values_df

,survey,year,region_id,region_name,ED_EDUC_W_MYR,ED_EDUC_M_MYR,sum,avg
0,TZ2010DHS,2010,2,Arusha,6.4,6.4,12.8,6.40
1,TZ2010DHS,2010,7,Dar-es-salaam,6.8,7.0,13.8,6.90
2,TZ2010DHS,2010,1,Dodoma,6.1,6.2,12.3,6.15
3,TZ2010DHS,2010,25,Geita,NaN,NaN,NaN,NaN
4,TZ2010DHS,2010,11,Iringa,6.4,6.6,13.0,6.50
...,...,...,...,...,...,...,...,...
119,TZ2017MIS,2017,24,Simiyu,6.2,NaN,6.2,6.20
120,TZ2017MIS,2017,13,Singida,6.2,NaN,6.2,6.20
121,TZ2017MIS,2017,26,Songwe,6.5,NaN,6.5,6.50
122,TZ2017MIS,2017,14,Tabora,4.8,NaN,4.8,4.80
123,TZ2017MIS,2017,4,Tanga,6.4,NaN,6.4,6.40

# Share link


https://www.statcompiler.com/en/#cc=TZ&ucc=&ic=ED_EDUC_W_MYR,ED_EDUC_M_MYR&scl=10000,451001,451002,451004,451005,451006,451007,451008,451011,451012,451013,451014,451015,451016,451017,451018,451019,451020,451021,451022,451023,451024,451025,451026,451027,451028,451029,451030,451003,451023,451030,451040,451041,451042,451043,451044,451045,451009,451010,451011,451014,451018,451026,451001,451005,451022,451030,451031,451032,451033,451034,451035,451043,451065,451072,451073,451081,451082,451084,451086,451087,451088,451089,451090,451091,451092,1000&dt=4&pt=2&ss=2&sy=&levelRank=1&si=ED_EDUC_M_MYR&sbv=


Query builder: https://api.dhsprogram.com/#/api-querybuilder.cfm


Das ist es???? https://api.dhsprogram.com/rest/dhs/data/TZ,subnational?indicatorIds=ED_EDUC_W_MYR,ED_EDUC_M_MYR&f=html&surveyYearStart=2000